n8n-workflows/workflow-image-prompts.json
{
  "name": "EverMagic Image Generation",
  "nodes": [
    {
      "parameters": {},
      "id": "a1b2c3d4-0001-4000-8000-000000000001",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        240,
        300
      ]
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "scripts",
        "matchType": "allFilters",
        "filters": {
          "conditions": [
            {
              "keyName": "status",
              "condition": "eq",
              "keyValue": "approved"
            }
          ]
        }
      },
      "id": "a1b2c3d4-0001-4000-8000-000000000002",
      "name": "Fetch Approved Scripts",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        460,
        300
      ],
      "credentials": {
        "supabaseApi": {
          "id": "EYHDNsSv530jAc06",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "order_payloads",
        "matchType": "allFilters",
        "filters": {
          "conditions": [
            {
              "keyName": "order_id",
              "condition": "eq",
              "keyValue": "={{ $json.order_id }}"
            }
          ]
        }
      },
      "id": "a1b2c3d4-0001-4000-8000-000000000004",
      "name": "Fetch Order Payload",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        680,
        300
      ],
      "credentials": {
        "supabaseApi": {
          "id": "EYHDNsSv530jAc06",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Paste contents of utils/n8n-build-image-prompts.js here\n// See the file for the full theme-agnostic prompt builder"
      },
      "id": "a1b2c3d4-0001-4000-8000-000000000005",
      "name": "Parse + Build Prompts",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        900,
        300
      ]
    },
    {
      "parameters": {
        "operation": "create",
        "tableId": "images",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldName": "order_id",
              "fieldValue": "={{ $json.order_id }}"
            },
            {
              "fieldName": "image_type",
              "fieldValue": "={{ $json.image_type }}"
            },
            {
              "fieldName": "prompt",
              "fieldValue": "={{ $json.prompt }}"
            },
            {
              "fieldName": "theme",
              "fieldValue": "={{ $json.theme }}"
            },
            {
              "fieldName": "scene_title",
              "fieldValue": "={{ $json.scene_title }}"
            },
            {
              "fieldName": "face_photo_url",
              "fieldValue": "={{ $json.face_photo_url }}"
            },
            {
              "fieldName": "extra_photo_url",
              "fieldValue": "={{ $json.extra_photo_url }}"
            },
            {
              "fieldName": "generation_params",
              "fieldValue": "={{ JSON.stringify($json.generation_params) }}"
            },
            {
              "fieldName": "model",
              "fieldValue": "={{ $json.model }}"
            },
            {
              "fieldName": "status",
              "fieldValue": "={{ $json.status }}"
            }
          ]
        }
      },
      "id": "a1b2c3d4-0001-4000-8000-000000000007",
      "name": "Save to DB",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        1120,
        300
      ],
      "credentials": {
        "supabaseApi": {
          "id": "EYHDNsSv530jAc06",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Paste contents of utils/n8n-generate-images.js here\n// Builds OpenAI API request body from each image row"
      },
      "id": "a1b2c3d4-0001-4000-8000-000000000010",
      "name": "Build OpenAI Request",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1340,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.openai.com/v1{{ $json.api_endpoint }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "openAiApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json.openai_request) }}",
        "options": {
          "timeout": 120000
        }
      },
      "id": "a1b2c3d4-0001-4000-8000-000000000011",
      "name": "Call OpenAI Image API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        1560,
        300
      ],
      "credentials": {
        "openAiApi": {
          "id": "YOUR_OPENAI_CREDENTIAL_ID",
          "name": "OpenAI account"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "jsCode": "// Convert base64 response to binary for Storage upload\nconst item = $input.first().json;\nconst prevData = $('Build OpenAI Request').first().json;\n\n// Check for API error\nif (item.error) {\n  return [{\n    json: {\n      ...prevData,\n      success: false,\n      error_message: item.error.message || JSON.stringify(item.error),\n    },\n  }];\n}\n\n// Extract base64 image from response\nconst b64 = item.data && item.data[0] && item.data[0].b64_json;\nif (!b64) {\n  return [{\n    json: {\n      ...prevData,\n      success: false,\n      error_message: 'No image data in OpenAI response',\n    },\n  }];\n}\n\n// Convert base64 to Buffer for upload\nconst buffer = Buffer.from(b64, 'base64');\n\nreturn [{\n  json: {\n    ...prevData,\n    success: true,\n    image_size: buffer.length,\n  },\n  binary: {\n    data: {\n      data: b64,\n      mimeType: 'image/webp',\n      fileName: `${prevData.image_type}.webp`,\n    },\n  },\n}];"
      },
      "id": "a1b2c3d4-0001-4000-8000-000000000012",
      "name": "Process Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1780,
        300
      ]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.success }}",
              "value2": true
            }
          ]
        }
      },
      "id": "a1b2c3d4-0001-4000-8000-000000000013",
      "name": "Success?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        2000,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ 'https://YOUR_PROJECT.supabase.co/storage/v1/object/images/' + $json.storage_path }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "supabaseApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "image/webp"
            },
            {
              "name": "x-upsert",
              "value": "true"
            }
          ]
        },
        "sendBody": true,
        "contentType": "binaryData",
        "inputDataFieldName": "data"
      },
      "id": "a1b2c3d4-0001-4000-8000-000000000014",
      "name": "Upload to Storage",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        2220,
        200
      ],
      "credentials": {
        "supabaseApi": {
          "id": "EYHDNsSv530jAc06",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "images",
        "matchType": "allFilters",
        "filters": {
          "conditions": [
            {
              "keyName": "order_id",
              "condition": "eq",
              "keyValue": "={{ $json.order_id }}"
            },
            {
              "keyName": "image_type",
              "condition": "eq",
              "keyValue": "={{ $json.image_type }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldName": "status",
              "fieldValue": "completed"
            },
            {
              "fieldName": "file_path",
              "fieldValue": "={{ 'images/' + $json.storage_path }}"
            },
            {
              "fieldName": "file_url",
              "fieldValue": "={{ 'https://YOUR_PROJECT.supabase.co/storage/v1/object/public/images/' + $json.storage_path }}"
            },
            {
              "fieldName": "updated_at",
              "fieldValue": "={{ new Date().toISOString() }}"
            }
          ]
        }
      },
      "id": "a1b2c3d4-0001-4000-8000-000000000015",
      "name": "Update DB — Completed",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        2440,
        200
      ],
      "credentials": {
        "supabaseApi": {
          "id": "EYHDNsSv530jAc06",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "images",
        "matchType": "allFilters",
        "filters": {
          "conditions": [
            {
              "keyName": "order_id",
              "condition": "eq",
              "keyValue": "={{ $json.order_id }}"
            },
            {
              "keyName": "image_type",
              "condition": "eq",
              "keyValue": "={{ $json.image_type }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldName": "status",
              "fieldValue": "failed"
            },
            {
              "fieldName": "error_message",
              "fieldValue": "={{ $json.error_message }}"
            },
            {
              "fieldName": "updated_at",
              "fieldValue": "={{ new Date().toISOString() }}"
            }
          ]
        }
      },
      "id": "a1b2c3d4-0001-4000-8000-000000000016",
      "name": "Update DB — Failed",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        2220,
        450
      ],
      "credentials": {
        "supabaseApi": {
          "id": "EYHDNsSv530jAc06",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {},
      "id": "a1b2c3d4-0001-4000-8000-000000000006",
      "name": "Done",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        2660,
        300
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Fetch Approved Scripts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Approved Scripts": {
      "main": [
        [
          {
            "node": "Fetch Order Payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Order Payload": {
      "main": [
        [
          {
            "node": "Parse + Build Prompts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse + Build Prompts": {
      "main": [
        [
          {
            "node": "Save to DB",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save to DB": {
      "main": [
        [
          {
            "node": "Build OpenAI Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build OpenAI Request": {
      "main": [
        [
          {
            "node": "Call OpenAI Image API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call OpenAI Image API": {
      "main": [
        [
          {
            "node": "Process Response",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Process Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process Response": {
      "main": [
        [
          {
            "node": "Success?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Success?": {
      "main": [
        [
          {
            "node": "Upload to Storage",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Update DB — Failed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload to Storage": {
      "main": [
        [
          {
            "node": "Update DB — Completed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update DB — Completed": {
      "main": [
        [
          {
            "node": "Done",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update DB — Failed": {
      "main": [
        [
          {
            "node": "Done",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "tags": []
}