n8n-workflows/workflow-image-prompts.json
{
  "name": "EverMagic Image Prompts",
  "nodes": [
    {
      "parameters": {},
      "id": "a1b2c3d4-0001-4000-8000-000000000001",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        240,
        300
      ]
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "scripts",
        "matchType": "allFilters",
        "filters": {
          "conditions": [
            {
              "keyName": "status",
              "condition": "eq",
              "keyValue": "approved"
            }
          ]
        }
      },
      "id": "a1b2c3d4-0001-4000-8000-000000000002",
      "name": "Fetch Approved Scripts",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        460,
        300
      ],
      "credentials": {
        "supabaseApi": {
          "id": "EYHDNsSv530jAc06",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "order_payloads",
        "matchType": "allFilters",
        "filters": {
          "conditions": [
            {
              "keyName": "order_id",
              "condition": "eq",
              "keyValue": "={{ $json.order_id }}"
            }
          ]
        }
      },
      "id": "a1b2c3d4-0001-4000-8000-000000000004",
      "name": "Fetch Order Payload",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        680,
        300
      ],
      "credentials": {
        "supabaseApi": {
          "id": "EYHDNsSv530jAc06",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Paste contents of utils/n8n-build-image-prompts.js here\n// See the file for the full theme-agnostic prompt builder"
      },
      "id": "a1b2c3d4-0001-4000-8000-000000000005",
      "name": "Parse + Build Prompts",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        900,
        300
      ]
    },
    {
      "parameters": {
        "operation": "create",
        "tableId": "images",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldName": "order_id",
              "fieldValue": "={{ $json.order_id }}"
            },
            {
              "fieldName": "image_type",
              "fieldValue": "={{ $json.image_type }}"
            },
            {
              "fieldName": "prompt",
              "fieldValue": "={{ $json.prompt }}"
            },
            {
              "fieldName": "theme",
              "fieldValue": "={{ $json.theme }}"
            },
            {
              "fieldName": "scene_title",
              "fieldValue": "={{ $json.scene_title }}"
            },
            {
              "fieldName": "face_photo_url",
              "fieldValue": "={{ $json.face_photo_url }}"
            },
            {
              "fieldName": "generation_params",
              "fieldValue": "={{ JSON.stringify($json.generation_params) }}"
            },
            {
              "fieldName": "model",
              "fieldValue": "={{ $json.model }}"
            },
            {
              "fieldName": "status",
              "fieldValue": "={{ $json.status }}"
            }
          ]
        }
      },
      "id": "a1b2c3d4-0001-4000-8000-000000000007",
      "name": "Save to DB",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        1120,
        300
      ],
      "credentials": {
        "supabaseApi": {
          "id": "EYHDNsSv530jAc06",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {},
      "id": "a1b2c3d4-0001-4000-8000-000000000006",
      "name": "Prompts Ready",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1340,
        300
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Fetch Approved Scripts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Approved Scripts": {
      "main": [
        [
          {
            "node": "Fetch Order Payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Order Payload": {
      "main": [
        [
          {
            "node": "Parse + Build Prompts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse + Build Prompts": {
      "main": [
        [
          {
            "node": "Save to DB",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save to DB": {
      "main": [
        [
          {
            "node": "Prompts Ready",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "tags": []
}