n8n-workflows/workflow-image-prompts.json
{
  "name": "EverMagic Image Prompts",
  "nodes": [
    {
      "parameters": {},
      "id": "a1b2c3d4-0001-4000-8000-000000000001",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        240,
        300
      ]
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "scripts",
        "matchType": "allFilters",
        "filters": {
          "conditions": [
            {
              "keyName": "status",
              "condition": "eq",
              "keyValue": "approved"
            }
          ]
        }
      },
      "id": "a1b2c3d4-0001-4000-8000-000000000002",
      "name": "Fetch Approved Scripts",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        460,
        300
      ],
      "credentials": {
        "supabaseApi": {
          "id": "EYHDNsSv530jAc06",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "batchSize": 1,
        "options": {}
      },
      "id": "a1b2c3d4-0001-4000-8000-000000000003",
      "name": "Loop Scripts",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        680,
        300
      ]
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "order_payloads",
        "matchType": "allFilters",
        "filters": {
          "conditions": [
            {
              "keyName": "order_id",
              "condition": "eq",
              "keyValue": "={{ $json.order_id }}"
            }
          ]
        }
      },
      "id": "a1b2c3d4-0001-4000-8000-000000000004",
      "name": "Fetch Order Payload",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        900,
        300
      ],
      "credentials": {
        "supabaseApi": {
          "id": "EYHDNsSv530jAc06",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// ─────────────────────────────────────────────────────────────\n// Parse payload + script → Build all 7 image prompts\n// ─────────────────────────────────────────────────────────────\n\nconst payloadRow = $input.first().json;\nconst scriptRow = $('Loop Scripts').first().json;\n\n// --- Parse order from double-escaped payload_json ---\nlet order;\ntry {\n  let raw = payloadRow.payload_json;\n  if (typeof raw === 'string') raw = JSON.parse(raw);\n  if (typeof raw === 'string') raw = JSON.parse(raw);\n  order = raw;\n} catch (e) {\n  throw new Error('Failed to parse payload_json: ' + e.message);\n}\n\nif (!order.child) {\n  throw new Error('Parsed order has no child field.');\n}\n\n// --- Parse script content ---\nlet scriptData;\ntry {\n  let content = scriptRow.content;\n  if (typeof content === 'string') content = JSON.parse(content);\n  scriptData = content;\n} catch (e) {\n  throw new Error('Failed to parse script content: ' + e.message);\n}\n\nif (!scriptData || !scriptData.scenes || scriptData.scenes.length !== 5) {\n  throw new Error('Script must have exactly 5 scenes.');\n}\n\n// --- Build character description ---\nconst child = order.child;\nconst genderWord = child.gender === 'girl' ? 'girl' : 'boy';\nconst age = child.age || 7;\nconst glasses = child.glasses ? ', wearing glasses' : '';\nconst characterDesc = [\n  `A ${age}-year-old ${genderWord}`,\n  `with ${child.hair_color || 'brown'} hair`,\n  `and ${child.skin_tone || 'light'} skin`,\n  glasses,\n  child.signature_look ? `, ${child.signature_look}` : '',\n].filter(Boolean).join(' ').replace(/ ,/g, ',');\n\n// --- Style prefix ---\nconst stylePrefix = 'Pixar-style 3D CGI animated character render, Boss Baby proportions with oversized head and large expressive eyes, high-quality cinematic lighting, soft subsurface scattering, shallow depth of field';\n\n// --- Scene lighting/camera ---\nconst sceneStyle = {\n  1: { lighting: 'Warm moonlight with cool blue ambient and soft golden accents', camera: 'Wide establishing shot, low angle' },\n  2: { lighting: 'Dynamic warm lighting with streak lights and silver reflections', camera: 'Over-shoulder or low heroic angle' },\n  3: { lighting: 'Dramatic side lighting with teal and amber tones', camera: 'Medium tracking shot' },\n  4: { lighting: 'Radiant burst lighting with gold and cosmic colors', camera: 'Epic wide panoramic angle' },\n  5: { lighting: 'Golden hour sunrise with warm gold and soft pink', camera: 'Intimate close-up shot' },\n};\n\n// --- Build 7 prompts ---\nconst tasks = [];\n\ntasks.push({\n  order_id: order.order_id,\n  child_name: child.name,\n  story_title: scriptData.title,\n  image_type: 'cover',\n  prompt: `${stylePrefix}. ${characterDesc}. Standing in a powerful confident hero pose with hands on hips, looking slightly upward with a bright smile. Background: cosmic space setting with vibrant nebula colors, swirling galaxies, and twinkling stars. Dramatic rim light from behind creating a golden halo effect, warm key light on face. Centered composition, slightly low angle to make character look heroic and epic. Movie poster framing.`,\n});\n\nfor (const scene of scriptData.scenes) {\n  const num = scene.scene_number;\n  const style = sceneStyle[num] || sceneStyle[1];\n  tasks.push({\n    order_id: order.order_id,\n    child_name: child.name,\n    story_title: scriptData.title,\n    image_type: `scene_${num}`,\n    scene_title: scene.scene_title,\n    prompt: `${stylePrefix}. ${characterDesc}. ${scene.visual_description}. ${style.lighting}. ${style.camera}, cinematic depth of field.`,\n  });\n}\n\ntasks.push({\n  order_id: order.order_id,\n  child_name: child.name,\n  story_title: scriptData.title,\n  image_type: 'coloring',\n  prompt: `Clean black line art coloring page for children, white background, no shading, no fills. ${characterDesc} in a confident hero pose. Simple fun space-themed background elements as outlines: stars, planets, a small rocket. Thick clear outlines suitable for children to color in. Simple shapes, no complex textures.`,\n});\n\nconsole.log(`Built ${tasks.length} prompts for ${order.order_id} - ${child.name}`);\nconsole.log(`Story: \"${scriptData.title}\"`);\nconsole.log(`Character: ${characterDesc}`);\n\nreturn tasks.map(t => ({ json: t }));"
      },
      "id": "a1b2c3d4-0001-4000-8000-000000000005",
      "name": "Parse + Build Prompts",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1120,
        300
      ]
    },
    {
      "parameters": {},
      "id": "a1b2c3d4-0001-4000-8000-000000000006",
      "name": "Prompts Ready",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1340,
        300
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Fetch Approved Scripts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Approved Scripts": {
      "main": [
        [
          {
            "node": "Loop Scripts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Scripts": {
      "main": [
        null,
        [
          {
            "node": "Fetch Order Payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Order Payload": {
      "main": [
        [
          {
            "node": "Parse + Build Prompts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse + Build Prompts": {
      "main": [
        [
          {
            "node": "Prompts Ready",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "tags": []
}