n8n_backup/1. EverMagic v1.0.1.json
{
  "updatedAt": "2026-03-26T02:13:10.231Z",
  "createdAt": "2026-02-22T01:53:38.170Z",
  "id": "BqU3JEiy7Y1LGWgi",
  "name": "1. EverMagic v1.0.1",
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "evermagic/intake",
        "authentication": "headerAuth",
        "options": {
          "responseCode": {
            "values": {}
          },
          "responseData": ""
        }
      },
      "id": "0cb08c0c-9c4b-4b89-ba8d-bc7f7a84c69c",
      "name": "Receive Order",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -912,
        416
      ],
      "webhookId": "3400869c-97d1-43b1-bd9e-2ac83351117a",
      "alwaysOutputData": false,
      "credentials": {
        "httpHeaderAuth": {
          "id": "Pc4RF1BUmq9cRkHn",
          "name": "Header Auth account"
        }
      }
    },
    {
      "parameters": {
        "tableId": "orders",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "order_id",
              "fieldValue": "={{$json.order.order_id}}"
            },
            {
              "fieldId": "status",
              "fieldValue": "created"
            },
            {
              "fieldId": "email",
              "fieldValue": "={{$json.order.delivery.email}}"
            },
            {
              "fieldId": "package",
              "fieldValue": "={{$json.order.package}}"
            },
            {
              "fieldId": "language",
              "fieldValue": "={{$json.order.language}}"
            },
            {
              "fieldId": "theme",
              "fieldValue": "={{$json.order.theme}}"
            },
            {
              "fieldId": "child_age",
              "fieldValue": "={{$json.order.child.age}}"
            },
            {
              "fieldId": "child_name",
              "fieldValue": "={{$json.order.child.name}}"
            },
            {
              "fieldId": "source",
              "fieldValue": "={{ $json.order.meta.source }}"
            },
            {
              "fieldId": "order_no",
              "fieldValue": "={{ $json.order.meta.order_no }}"
            }
          ]
        }
      },
      "id": "0218b37a-f964-4be1-b078-8a5140352b8f",
      "name": "Save Order to Database",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        704,
        400
      ],
      "alwaysOutputData": false,
      "credentials": {
        "supabaseApi": {
          "id": "EYHDNsSv530jAc06",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "tableId": "order_payloads",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "order_id",
              "fieldValue": "={{$('Validate and Transform Order').first().json.order.order_id}}"
            },
            {
              "fieldId": "payload_json",
              "fieldValue": "={{JSON.stringify($('Validate and Transform Order').first().json.order)}}"
            }
          ]
        }
      },
      "id": "b03da12f-700b-4bf5-9a9c-d21f94e66e36",
      "name": "Save Order Payload",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        976,
        400
      ],
      "credentials": {
        "supabaseApi": {
          "id": "EYHDNsSv530jAc06",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-5-nano",
          "mode": "list",
          "cachedResultName": "GPT-5-NANO"
        },
        "responses": {
          "values": [
            {
              "role": "system",
              "content": "={{ $json.system_prompt }}"
            },
            {
              "content": "={{ $json.user_prompt }}"
            }
          ]
        },
        "builtInTools": {},
        "options": {}
      },
      "id": "651b2a22-4f66-49c5-8960-d96d6039c5bb",
      "name": "Generate Script with AI",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2.1,
      "position": [
        1792,
        400
      ],
      "credentials": {
        "openAiApi": {
          "id": "bkm4C85zHfe8HSHa",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "tableId": "scripts",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "order_id",
              "fieldValue": "={{ $json.order_id }}"
            },
            {
              "fieldId": "version",
              "fieldValue": "1"
            },
            {
              "fieldId": "status",
              "fieldValue": "={{ $('Envs').item.json.env.script_approval_required ? 'draft' : 'approved'}}"
            },
            {
              "fieldId": "title",
              "fieldValue": "={{ $json.script.title }}"
            },
            {
              "fieldId": "tagline",
              "fieldValue": "={{ $json.script.tagline }}"
            },
            {
              "fieldId": "content",
              "fieldValue": "={{ JSON.stringify($json.script) }}"
            }
          ]
        }
      },
      "id": "a2d8784a-4f54-4796-8c95-6ba031f57ef8",
      "name": "Save Generated Script",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        2368,
        400
      ],
      "credentials": {
        "supabaseApi": {
          "id": "EYHDNsSv530jAc06",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "orders",
        "filters": {
          "conditions": [
            {
              "keyName": "order_id",
              "condition": "eq",
              "keyValue": "={{ $json.order_id }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "status",
              "fieldValue": "={{ $('Envs').item.json.env.script_approval_required ? 'script_generated' : 'approved'}}"
            }
          ]
        }
      },
      "id": "d67a8fa6-61e5-47b0-b212-9b028c1dcae6",
      "name": "Update Order Status",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        2592,
        400
      ],
      "credentials": {
        "supabaseApi": {
          "id": "EYHDNsSv530jAc06",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "fromEmail": "taras.evermagic@gmail.com",
        "toEmail": "={{ $json.to }}",
        "subject": "={{ $json.subject }}",
        "html": "={{ $json.html }}",
        "options": {
          "appendAttribution": true
        }
      },
      "id": "ed908765-3a65-4f08-9df4-a7365e3939b3",
      "name": "Send Confirmation Email",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        3632,
        400
      ],
      "webhookId": "ac54d5d3-cbd0-44cd-9965-5025ab854d5e",
      "credentials": {
        "smtp": {
          "id": "ymjQpdS5fXvpjwjN",
          "name": "SMTP account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// n8n Code node — \"Build Prompt\"\n// Placed AFTER the \"Fetch Prompt\" HTTP Request node\n// Combines the system prompt (from GitHub) with order data (from Transform node)\n\n// ─────────────────────────────────────────────────────────────\n// 1. Get system prompt from the HTTP Request node output\n// ─────────────────────────────────────────────────────────────\n\nconst systemPrompt = $('Fetch Script Prompt').first().json.data;\n\n// ─────────────────────────────────────────────────────────────\n// 2. Get order from the Transform node\n// ─────────────────────────────────────────────────────────────\n\nconst order = $('Validate and Transform Order').first().json.order;\nconst child = order.child;\n\n// ─────────────────────────────────────────────────────────────\n// 3. Build user prompt from order data\n// ─────────────────────────────────────────────────────────────\n\nconst userPrompt = `Create a personalized story with these details:\n\n**Child:**\n- Name: ${child.name}\n- Age: ${child.age}\n- Gender: ${child.gender}\n- Glasses: ${child.glasses ? 'yes' : 'no'}\n- Hair color: ${child.hair_color}\n- Skin tone: ${child.skin_tone}\n\n**Personality & Interests:**\n- Hobby: ${child.hobby}\n- Hobby details: ${child.hobby_detail || 'not provided'}\n- Signature look: ${child.signature_look || 'not provided'}\n- Jersey / lucky number: ${child.jersey_number || 'not provided'}\n- Recent achievement: ${child.recent_win || 'not provided'}\n\n**Story Settings:**\n- Theme: ${order.theme}\n- Hero trait: ${child.hero_trait}\n- Language: ${order.language}\n\n**Parent's message (include in final scene):**\n${order.parent_message || 'No message provided.'}`;\n\n// ─────────────────────────────────────────────────────────────\n// 4. Output — ready for OpenAI node\n// ─────────────────────────────────────────────────────────────\n\nreturn [{\n    json: {\n        system_prompt: systemPrompt,\n        user_prompt: userPrompt,\n        order_id: order.order_id,\n        order: order\n    }\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1568,
        400
      ],
      "id": "2efe7ba1-010c-4531-975b-20f5a0135132",
      "name": "Build Script Prompt"
    },
    {
      "parameters": {
        "url": "=https://raw.githubusercontent.com/TarasGolub/evermagic/{{ $('Envs').item.json.env.is_live ? 'main' : 'develop' }}/prompts/{{ $('Validate and Transform Order').item.json.order.theme.toLowerCase() }}/system.md",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1264,
        400
      ],
      "id": "6bb83e69-2ada-46e8-b76e-1fdb81f948b0",
      "name": "Fetch Script Prompt"
    },
    {
      "parameters": {
        "jsCode": "// Extract the story JSON string from OpenAI response\nconst aiOutput = $input.first().json;\n\n// Try multiple paths — n8n OpenAI node output varies by version\nlet rawText;\n\nif (aiOutput.output?.[0]?.content?.[0]?.text) {\n  // Responses API format\n  rawText = aiOutput.output[0].content[0].text;\n} else if (aiOutput.message?.content) {\n  // Chat Completion format\n  rawText = aiOutput.message.content;\n} else if (aiOutput.text) {\n  // Simple text output\n  rawText = aiOutput.text;\n} else if (typeof aiOutput === 'string') {\n  rawText = aiOutput;\n} else {\n  // Debug: output what we actually received\n  throw new Error('Unexpected AI output shape: ' + JSON.stringify(Object.keys(aiOutput)));\n}\n\nconst cleaned = rawText\n\t.trim()\n\t.replace(/^```json\\s*/i, '')\n\t.replace(/^```\\s*/i, '')\n\t.replace(/\\s*```$/, '')\n\t.trim();\n\n// Parse the JSON string into an actual object\nconst script = JSON.parse(cleaned);\n\n// Get the order from the earlier node\nconst order = $('Validate and Transform Order').first().json.order;\n\nreturn [{\n  json: {\n    order_id: order.order_id,\n    script: script,\n    script_raw: rawText,\n    version: 1,\n    order: order\n  }\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2160,
        400
      ],
      "id": "4ac57a4f-2570-4636-b1c2-dd3eb99352e8",
      "name": "Parse Script"
    },
    {
      "parameters": {
        "jsCode": "// n8n Code node — \"Build Emails\"\n// Place AFTER: \"Fetch Confirmation Email Template\", \"Fetch Admin Email Template\", \"Parse Script\"\n// Outputs TWO items: [0] = customer email, [1] = admin email\n// Then use a Send Email node for each (or split with IF)\n\nconst order = $('Validate and Transform Order').first().json.order;\nconst script = $('Parse Script').first().json.script;\nconst scriptVersion = $('Parse Script').first().json.version || 1;\n\n// ─────────────────────────────────────────────────────────────\n// Env flags\n// ─────────────────────────────────────────────────────────────\nconst env = $('Envs').first().json.env;\nconst approvalRequired = env.script_approval_required === true || env.script_approval_required === 'true';\nconst REVIEW_BASE = `https://evermagic.app.n8n.cloud/webhook${env.is_live ? '' : '-test'}/evermagic/review`;\n\n// ─────────────────────────────────────────────────────────────\n// 1. Customer Confirmation Email\n// ─────────────────────────────────────────────────────────────\n\nconst packageLabels = {\n  'BASIC': 'Basic (Storybook + Coloring + Certificate)',\n  'FULL': 'Full Bundle (Video + PDF + printable)',\n  'PARTY': 'Party Pack',\n};\n\nconst themeLabels = {\n  'SPACE_HERO':          'Space Hero Mission',\n  'FANTASY_HERO':        'Fantasy Hero Quest',\n  'ENCHANTED_PRINCESS':  'Enchanted Princess Adventure',\n  'ANIMAL_GUARDIAN':     'Animal Guardian Hero',\n  'HOME_HELPER':         'Home Helper Hero',\n};\n\n// Shared assets\nconst branch  = env.is_live ? 'main' : 'develop';\nconst logoUrl = `https://raw.githubusercontent.com/TarasGolub/evermagic/${branch}/templates/icons/logo_email.png`;\n\n// Inject variables into the fetched confirmation email template\nconst confirmationTemplate = $('Fetch Confirmation Email Template').first().json.data;\n\nconst customerHtml = confirmationTemplate\n  .replace(/\\{\\{logo_url\\}\\}/g,    logoUrl)\n  .replace(/\\{\\{child_name\\}\\}/g,  order.child.name)\n  .replace(/\\{\\{order_id\\}\\}/g,    order.order_id)\n  .replace(/\\{\\{child_age\\}\\}/g,   String(order.child.age))\n  .replace(/\\{\\{package\\}\\}/g,     packageLabels[order.package] || order.package)\n  .replace(/\\{\\{theme\\}\\}/g,       themeLabels[order.theme] || order.theme);\n\n// ─────────────────────────────────────────────────────────────\n// 2. Admin Review Email\n// ─────────────────────────────────────────────────────────────\n\nconst scenesHtml = script.scenes.map(s => `\n  <tr><td style=\"padding:8px 32px;\">\n    <table role=\"presentation\" width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" style=\"background:#f9fafb;border-radius:8px;border:1px solid #e5e7eb;margin-bottom:8px;\">\n      <tr><td style=\"padding:16px;\">\n        <div style=\"font-size:11px;text-transform:uppercase;letter-spacing:1px;color:#6b7280;font-weight:600;\">Scene ${s.scene_number} · ${s.emotion || ''}</div>\n        <h3 style=\"margin:4px 0 8px;font-size:16px;color:#111;\">${s.scene_title}</h3>\n        <p style=\"margin:0 0 12px;font-size:14px;color:#374151;line-height:1.6;\">${s.narration}</p>\n        <div style=\"font-size:12px;color:#9ca3af;line-height:1.5;border-top:1px solid #e5e7eb;padding-top:8px;\">\n          <strong style=\"color:#6b7280;\">🎬 Visual:</strong> ${s.visual_description}\n        </div>\n      </td></tr>\n    </table>\n  </td></tr>`).join('\\n');\n\n// Build dynamic blocks for admin email\nconst reviewStatusLabel = approvalRequired ? 'Script Ready for Review' : 'Script Auto-Approved';\n\nconst reviewBadgeHtml = approvalRequired\n  ? `<span style=\"display:inline-block;padding:6px 14px;background:#fef3c7;color:#92400e;font-size:12px;font-weight:600;border-radius:20px;text-transform:uppercase;letter-spacing:0.5px;\">Needs Review</span>`\n  : `<span style=\"display:inline-block;padding:6px 14px;background:#d1fae5;color:#065f46;font-size:12px;font-weight:600;border-radius:20px;text-transform:uppercase;letter-spacing:0.5px;\">Auto-Approved ✅</span>`;\n\nconst approveUrl = `${REVIEW_BASE}?order_id=${order.order_id}&version=${scriptVersion}&action=approve`;\nconst retryUrl   = `${REVIEW_BASE}?order_id=${order.order_id}&version=${scriptVersion}&action=retry`;\nconst editUrl    = `${REVIEW_BASE}?order_id=${order.order_id}&version=${scriptVersion}&action=edit`;\n\nconst actionButtonsHtml = approvalRequired ? `\n  <tr><td style=\"padding:16px 32px 24px;\">\n    <table role=\"presentation\" width=\"100%\" cellpadding=\"0\" cellspacing=\"0\">\n      <tr>\n        <td align=\"center\" width=\"33%\" style=\"padding:0 4px;\">\n          <a href=\"${approveUrl}\" style=\"display:block;padding:14px 8px;background:#16a34a;color:#ffffff;font-size:14px;font-weight:700;text-decoration:none;border-radius:8px;text-align:center;\">✅ Approve</a>\n        </td>\n        <td align=\"center\" width=\"33%\" style=\"padding:0 4px;\">\n          <a href=\"${retryUrl}\" style=\"display:block;padding:14px 8px;background:#f59e0b;color:#ffffff;font-size:14px;font-weight:700;text-decoration:none;border-radius:8px;text-align:center;\">🔄 Edit &amp; Retry</a>\n        </td>\n        <td align=\"center\" width=\"33%\" style=\"padding:0 4px;\">\n          <a href=\"${editUrl}\" style=\"display:block;padding:14px 8px;background:#3b82f6;color:#ffffff;font-size:14px;font-weight:700;text-decoration:none;border-radius:8px;text-align:center;\">✏️ Manual Edit</a>\n        </td>\n      </tr>\n    </table>\n  </td></tr>\n  <tr><td style=\"padding:12px 32px 28px;border-top:1px solid #eee;\">\n    <p style=\"margin:0;font-size:12px;color:#9ca3af;text-align:center;\">Click an action above to approve, retry with AI, or manually edit this script.</p>\n  </td></tr>` : `\n  <tr><td style=\"padding:16px 32px 24px;\">\n    <table role=\"presentation\" width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" style=\"background:#f0fdf4;border-radius:8px;border:1px solid #bbf7d0;\">\n      <tr><td style=\"padding:16px;text-align:center;\">\n        <div style=\"font-size:28px;margin-bottom:8px;\">🤖</div>\n        <div style=\"font-size:14px;font-weight:700;color:#065f46;margin-bottom:4px;\">Script was auto-approved</div>\n        <div style=\"font-size:13px;color:#6b7280;\">Image generation has already started. No action needed.</div>\n      </td></tr>\n    </table>\n  </td></tr>\n  <tr><td style=\"padding:12px 32px 28px;border-top:1px solid #eee;\">\n    <p style=\"margin:0;font-size:12px;color:#9ca3af;text-align:center;\">This is an FYI notification. Script approval is currently disabled.</p>\n  </td></tr>`;\n\n// Inject variables into the fetched admin email template\nconst adminTemplate = $('Fetch Admin Email Template').first().json.data;\n\nconst adminHtml = adminTemplate\n  .replace(/\\{\\{order_id\\}\\}/g,             order.order_id)\n  .replace(/\\{\\{customer_email\\}\\}/g,       order.delivery.email)\n  .replace(/\\{\\{package\\}\\}/g,              packageLabels[order.package] || order.package)\n  .replace(/\\{\\{child_name\\}\\}/g,           order.child.name)\n  .replace(/\\{\\{child_age\\}\\}/g,            String(order.child.age))\n  .replace(/\\{\\{theme\\}\\}/g,                themeLabels[order.theme] || order.theme)\n  .replace(/\\{\\{language\\}\\}/g,             order.language)\n  .replace(/\\{\\{story_title\\}\\}/g,          script.title)\n  .replace(/\\{\\{story_tagline\\}\\}/g,        script.tagline)\n  .replace(/\\{\\{script_version\\}\\}/g,       String(scriptVersion))\n  .replace(/\\{\\{review_status_label\\}\\}/g,  reviewStatusLabel)\n  .replace(/\\{\\{review_badge_html\\}\\}/g,    reviewBadgeHtml)\n  .replace(/\\{\\{action_buttons_html\\}\\}/g,  actionButtonsHtml)\n  .replace(/\\{\\{scenes_html\\}\\}/g,          scenesHtml)\n  .replace(/\\{\\{parent_message\\}\\}/g,       order.parent_message || 'No message provided.');\n\n// ─────────────────────────────────────────────────────────────\n// 3. Output both emails as two items\n// ─────────────────────────────────────────────────────────────\n\nreturn [\n  {\n    json: {\n      email_type: 'customer_confirmation',\n      to: order.delivery.email,\n      subject: `✨ Your magic is being created, ${order.child.name}!`,\n      html: customerHtml,\n      order_id: order.order_id\n    }\n  },\n  {\n    json: {\n      email_type: 'admin_review',\n      to: 'taras.evermagic@gmail.com',\n      subject: `📋 Script Review — ${order.order_id} — ${order.child.name}`,\n      html: adminHtml,\n      order_id: order.order_id\n    }\n  }\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3280,
        400
      ],
      "id": "fa329891-0188-4bf4-9888-e39c65cba4a3",
      "name": "Build Emails"
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "envs"
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -688,
        416
      ],
      "id": "3110c800-7bed-4f31-b05e-88ec34b782c3",
      "name": "Load Envs",
      "credentials": {
        "supabaseApi": {
          "id": "EYHDNsSv530jAc06",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const raw = {};\nfor (const item of $input.all()) {\n  raw[item.json.key] = item.json.value;\n}\n\nconst env = {\n  mode: raw.mode,       \n  is_live: raw.mode === 'live',\n  script_approval_required: raw.script_approval_required === 'true', \n  evrm_token: raw.evrm_token\n};\n\nreturn [{ json: { env } }];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -448,
        416
      ],
      "id": "43c96187-9019-4f4a-8006-8c8d70ade12f",
      "name": "Envs"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "4340baf0-232b-4a99-920e-9948a7b6026a",
              "leftValue": "={{ $('Envs').item.json.env.script_approval_required }}",
              "rightValue": "true",
              "operator": {
                "type": "boolean",
                "operation": "false",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": "={{ false }}",
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        2784,
        128
      ],
      "id": "156c42ce-0d6e-428d-8c5c-a6e5266dd1fc",
      "name": "If"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://evermagic.app.n8n.cloud/webhook{{ $('Envs').item.json.env.is_live ? '' : '-test' }}/orders/images/generate",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-EverMagic-Token",
              "value": "={{ $('Envs').item.json.env.evrm_token }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        3008,
        112
      ],
      "id": "1fd03d25-674f-413a-b560-3b2dfd94dbad",
      "name": "Image Generation Webhook"
    },
    {
      "parameters": {
        "jsCode": "// ─────────────────────────────────────────────────────────────\n// EverMagic — n8n Code Node: \"Parse Token\"\n// Step 3.5 — Intake Token System\n//\n// Placement: FIRST node after \"Receive Order\" webhook\n//\n// Purpose:\n//   Extracts token / source / orderNo from hidden Tally fields.\n//   Handles the cheat token (EVRM-DEV) immediately.\n//   Passes a structured object downstream for the IF + Supabase nodes.\n//\n// Tally form setup required:\n//   Add 3 hidden fields to the Tally form:\n//     label: \"token\"   → pre-filled from URL param ?token=\n//     label: \"source\"  → pre-filled from URL param ?source=\n//     label: \"orderNo\" → pre-filled from URL param ?orderNo=\n//\n// Output object:\n//   {\n//     token:           string | null,\n//     source:          string,         // 'etsy' | 'unknown' | etc.\n//     orderNo:         string | null,  // external order reference\n//     skipTokenCheck:  boolean,        // true only for EVRM-DEV cheat token\n//     rejectReason:    string | null,  // 'missing_token' if no token at all\n//   }\n// ─────────────────────────────────────────────────────────────\n\n// ─── Config ────────────────────────────────────────────────────\nconst CHEAT_TOKEN = 'EVRM-DEV';\n\n// ─── Helpers ───────────────────────────────────────────────────\nconst body   = $('Receive Order').first().json.body || {};\nconst data   = body.data || {};\nconst fields = Array.isArray(data.fields) ? data.fields : [];\n\nfunction getHiddenField(label) {\n  const f = fields.find(f => f?.label === label);\n  if (!f) return null;\n  const v = f.value;\n  if (v === null || v === undefined) return null;\n  return String(v).trim() || null;\n}\n\n// ─── Extract URL-param hidden fields ───────────────────────────\nconst token   = getHiddenField('token');\nconst source  = getHiddenField('source')  || 'unknown';\nconst orderNo = getHiddenField('orderNo') || null;\n\n// ─── Cheat token — bypass DB check entirely ─────────────────────\nif (token === CHEAT_TOKEN) {\n  return [{\n    json: {\n      token,\n      source,\n      orderNo,\n      skipTokenCheck: true,\n      rejectReason:   null,\n    }\n  }];\n}\n\n// ─── No token at all — reject immediately ───────────────────────\nif (!token) {\n  return [{\n    json: {\n      token:          null,\n      source,\n      orderNo,\n      skipTokenCheck: false,\n      rejectReason:   'missing_token',\n    }\n  }];\n}\n\n// ─── Valid-looking token — let Supabase + Validate nodes decide ─\nreturn [{\n  json: {\n    token,\n    source,\n    orderNo,\n    skipTokenCheck: false,\n    rejectReason:   null,\n  }\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -192,
        416
      ],
      "id": "ea971d8e-36ba-4a9f-9f13-ef2c90fd6aa8",
      "name": "Parse Token"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "87d2d462-c1de-4420-aa12-12f07f4a0d6f",
              "leftValue": "={{ $json.skipTokenCheck }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        16,
        416
      ],
      "id": "950f619b-2abc-4be8-9f9c-86a0f49f0278",
      "name": "If Skip Token Check"
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "intake_tokens",
        "limit": 1,
        "filters": {
          "conditions": [
            {
              "keyName": "token",
              "condition": "eq",
              "keyValue": "={{ $('Parse Token').first().json.token }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -688,
        768
      ],
      "id": "da5ce60b-e5a1-41c1-93cb-8a01b7549443",
      "name": "Get many rows",
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "EYHDNsSv530jAc06",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// ─────────────────────────────────────────────────────────────\n// EverMagic — n8n Code Node: \"Validate Token\"\n// Step 3.5 — Intake Token System\n//\n// Placement: AFTER Supabase \"Fetch Token from DB\" node\n//\n// Input:\n//   $input.first().json      = Supabase row from intake_tokens (or empty if not found)\n//   $('Parse Token').first() = { token, source, orderNo, skipTokenCheck }\n//\n// Output (TRUE branch = IF node passes through):\n//   { tokenValid: true,  token, source, orderNo }\n//\n// Output (FALSE branch = reject path):\n//   { tokenValid: false, rejectReason: 'already_used' | 'not_found' }\n//\n// Supabase node setup (before this):\n//   Operation: getAll\n//   Table: intake_tokens\n//   Filter: token eq {{ $('Parse Token').first().json.token }}\n//   Limit: 1\n// ─────────────────────────────────────────────────────────────\n\nconst tokenRow  = $input.first().json;          // Supabase row — may be empty object {}\nconst parsed    = $('Parse Token').first().json; // { token, source, orderNo }\n\nconst rowExists = tokenRow && tokenRow.token;   // real row has a token column\nconst isUnused  = rowExists && tokenRow.status === 'unused';\n\nif (!rowExists) {\n  // Token not found in DB at all\n  return [{\n    json: {\n      tokenValid:   false,\n      rejectReason: 'not_found',\n      token:        parsed.token,\n      source:       parsed.source,\n      orderNo:      parsed.orderNo,\n    }\n  }];\n}\n\nif (!isUnused) {\n  // Token exists but has already been used\n  return [{\n    json: {\n      tokenValid:   false,\n      rejectReason: 'already_used',\n      token:        parsed.token,\n      source:       parsed.source,\n      orderNo:      parsed.orderNo,\n    }\n  }];\n}\n\n// ✅ Token is valid and unused\nreturn [{\n  json: {\n    tokenValid:   true,\n    rejectReason: null,\n    token:        tokenRow.token,\n    source:       parsed.source,\n    orderNo:      parsed.orderNo,\n  }\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -480,
        768
      ],
      "id": "4b3c4785-54bf-4b42-bf7a-7768aad6996d",
      "name": "Validate Token"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "fe8c5959-1f9c-45fc-a677-83a9c07d987f",
              "leftValue": "={{ $json.tokenValid }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -272,
        768
      ],
      "id": "736af25e-be68-49ac-b7b7-2e3285aadff8",
      "name": "If Token Valid`"
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "intake_tokens",
        "filters": {
          "conditions": [
            {
              "keyName": "token",
              "condition": "eq",
              "keyValue": "={{ $json.token }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "status",
              "fieldValue": "used"
            },
            {
              "fieldId": "used_at",
              "fieldValue": "={{ new Date().toISOString() }}"
            },
            {
              "fieldId": "source",
              "fieldValue": "={{ $('Parse Token').first().json.source }}"
            },
            {
              "fieldId": "etsy_order_id",
              "fieldValue": "={{ $('Parse Token').first().json.orderNo }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        16,
        752
      ],
      "id": "aabdc001-cd9b-4cf5-8ef6-0594af07adb0",
      "name": "Update a row",
      "credentials": {
        "supabaseApi": {
          "id": "EYHDNsSv530jAc06",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// ─────────────────────────────────────────────────────────────\n// EverMagic — n8n Code Node: \"Reject Token\"\n// Step 3.5 — Intake Token System\n//\n// Placement: FALSE branch of \"If Token Valid\" IF node\n//            Connect output to a \"Respond to Webhook\" node\n//\n// Purpose: Builds a reject payload for the Respond to Webhook node.\n//\n// After this node, add a \"Respond to Webhook\" node:\n//   Respond With: JSON\n//   Response Code: 400\n//   Response Body: {{ $json.errorBody }}\n// ─────────────────────────────────────────────────────────────\n\nconst parsed      = $('Parse Token').first().json;\nconst rejectReason = parsed.rejectReason\n                  || $('Validate Token').first().json.rejectReason\n                  || 'invalid_token';\n\nconst messages = {\n  missing_token: 'This form requires a valid access token. Please use the link you received in your order email.',\n  not_found:     'This access token is not recognised. Please check your order email and use the link provided.',\n  already_used:  'This access link has already been used. Each link can only be used once. Please contact support if you need help.',\n};\n\nconst message = messages[rejectReason] || 'This access link is not valid. Please contact support.';\n\nreturn [{\n  json: {\n    errorBody: JSON.stringify({\n      error:   rejectReason,\n      message: message,\n    })\n  }\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        16,
        960
      ],
      "id": "1105c066-39c9-4db0-b56e-6b012d6ad39e",
      "name": "Reject Token"
    },
    {
      "parameters": {
        "url": "=https://raw.githubusercontent.com/TarasGolub/evermagic/{{ $('Envs').item.json.env.is_live ? 'main' : 'develop' }}/emails/customer-confirmation.html",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        2800,
        400
      ],
      "id": "99997085-fc09-477b-b542-f51fb1383fec",
      "name": "Fetch Confirmation Email Template"
    },
    {
      "parameters": {
        "url": "=https://raw.githubusercontent.com/TarasGolub/evermagic/{{ $('Envs').item.json.env.is_live ? 'main' : 'develop' }}/emails/admin-script-review.html",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        3008,
        400
      ],
      "id": "9ae1ccc6-45b7-4ccf-b2a1-157e57f86445",
      "name": "Fetch Admin Email Template"
    },
    {
      "parameters": {
        "url": "=https://raw.githubusercontent.com/TarasGolub/evermagic/{{ $('Envs').item.json.env.is_live ? 'main' : 'develop' }}/emails/customer-token-rejected.html ",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        224,
        960
      ],
      "id": "e1dcc992-c9cf-4df0-aa68-e5daf05e876a",
      "name": "Fetch Token Rejected Email Template"
    },
    {
      "parameters": {
        "jsCode": "// n8n Function node — Tally webhook → EverMagic order order JSON\n// Input: items[0].json = n8n Webhook payload (as in your sample)\n// Output: items[0].json.order + items[0].json.validation_errors (if any)\n\nconst input = $('Receive Order').first().json;\n\n// ─────────────────────────────────────────────────────────────\n// Locate Tally body + fields safely\n// ─────────────────────────────────────────────────────────────\nconst body = input.body || {};\nconst data = body.data || {};\nconst fields = Array.isArray(data.fields) ? data.fields : [];\nconst getField = (label) => fields.find(f => f?.label === label) || null;\n\nfunction getValue(label) {\n  const field = getField(label);\n  return field ? field.value : null;\n};\nfunction asString(v) {\n  if (v === null || v === undefined) return null;\n  if (typeof v === 'string') return v.trim();\n  return String(v).trim();\n};\n\nconst customerEmail = asString(getValue('email'));\nconst token = $('Parse Token').first().json.token;\n\nconst env     = $('Envs').first().json.env;\nconst branch  = env.is_live ? 'main' : 'develop';\nconst logoUrl = `https://raw.githubusercontent.com/TarasGolub/evermagic/${branch}/templates/icons/logo_email.png`;\n\nconst template = $input.first().json.data;\n\nconst html = template\n  .replace(/\\{\\{logo_url\\}\\}/g,   logoUrl)\n  .replace(/\\{\\{order_ref\\}\\}/g,  token);\n\nreturn [{\n  json: {\n    to:      customerEmail,\n    subject: `Something went wrong with your EverMagic order - ${token}`,\n    html:    html,\n  }\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        432,
        960
      ],
      "id": "24982ba4-fac3-4c80-9060-eedbecc9bd6a",
      "name": "Prepare Reject Email"
    },
    {
      "parameters": {
        "fromEmail": "taras.evermagic@gmail.com",
        "toEmail": "={{ $json.to }}",
        "subject": "={{ $json.subject }}",
        "html": "={{ $json.html }}",
        "options": {
          "appendAttribution": true
        }
      },
      "id": "1bba581c-ff67-484f-bf3d-273d396e0896",
      "name": "Send Confirmation Email1",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        672,
        960
      ],
      "webhookId": "ac54d5d3-cbd0-44cd-9965-5025ab854d5e",
      "credentials": {
        "smtp": {
          "id": "ymjQpdS5fXvpjwjN",
          "name": "SMTP account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// n8n Function node — Tally webhook → EverMagic order order JSON\n// Input: items[0].json = n8n Webhook payload (as in your sample)\n// Output: items[0].json.order + items[0].json.validation_errors (if any)\n\nconst input = $('Receive Order').first().json;\n\n// ─────────────────────────────────────────────────────────────\n// Locate Tally body + fields safely\n// ─────────────────────────────────────────────────────────────\nconst body = input.body || {};\nconst data = body.data || {};\nconst fields = Array.isArray(data.fields) ? data.fields : [];\n\n// ─────────────────────────────────────────────────────────────\n// Helpers\n// ─────────────────────────────────────────────────────────────\n\nconst getField = (label) => fields.find(f => f?.label === label) || null;\n\n// Dropdown / Radio in Tally: value: [optionId], options: [{id,text}]\nfunction getDropdownText(label) {\n  const field = getField(label);\n  if (!field) return null;\n\n  const selectedId = Array.isArray(field.value) ? field.value[0] : null;\n  if (!selectedId) return null;\n\n  const opt = Array.isArray(field.options) ? field.options.find(o => o.id === selectedId) : null;\n  return opt?.text ?? null;\n}\n\n// Checkbox group (like glasses): Tally sends extra boolean fields with labels \"glasses (Yes)\" etc.\nfunction getYesNoCheckbox(labelBase) {\n  const hit = fields.find(f =>\n    typeof f?.label === 'string' &&\n    f.label.startsWith(`${labelBase} (`) &&\n    f.value === true\n  );\n  if (!hit) return null;\n\n  const m = hit.label.match(/\\((.+)\\)$/);\n  return (m && m[1]) ? m[1].trim() : true;\n}\n\nfunction getValue(label) {\n  const field = getField(label);\n  return field ? field.value : null;\n}\n\nfunction asString(v) {\n  if (v === null || v === undefined) return null;\n  if (typeof v === 'string') return v.trim();\n  return String(v).trim();\n}\n\nfunction asInt(v) {\n  if (v === null || v === undefined || v === '') return null;\n  const n = Number(v);\n  return Number.isFinite(n) ? Math.trunc(n) : null;\n}\n\nfunction normalizePackage(text) {\n  const t = (text || '').toLowerCase();\n  if (t.includes('basic')) return 'BASIC';\n  if (t.includes('full')) return 'FULL';\n  if (t.includes('party')) return 'PARTY';\n  return text ? text.toUpperCase().replace(/\\s+/g, '_') : null;\n}\n\nfunction normalizeLanguage(text) {\n  const t = (text || '').toUpperCase();\n  if (t.includes('(EN') || t.includes('ENGLISH')) return 'EN';\n  if (t.includes('(UA') || t.includes('UKRAIN')) return 'UA';\n  return 'EN';\n}\n\nfunction normalizeTheme(text) {\n  const t = (text || '').toLowerCase();\n  if (t.includes('space'))     return 'SPACE_HERO';\n  if (t.includes('fantasy'))   return 'FANTASY_HERO';\n  if (t.includes('princess'))  return 'ENCHANTED_PRINCESS';\n  if (t.includes('animal') || t.includes('guardian')) return 'ANIMAL_GUARDIAN';\n  if (t.includes('home') || t.includes('helper'))     return 'HOME_HELPER';\n  return text ? text.toUpperCase().replace(/\\s+/g, '_') : 'SPACE_HERO';\n}\n\nfunction normalizeTrait(text) {\n  const t = (text || '').toLowerCase();\n  if (t.includes('brave')) return 'brave';\n  if (t.includes('kind')) return 'kind';\n  if (t.includes('smart')) return 'smart';\n  if (t.includes('creative')) return 'creative';\n  return text ? t : null;\n}\n\nfunction getFiles(label) {\n  const v = getValue(label);\n  if (!v || !Array.isArray(v)) return [];\n  return v\n    .map(f => ({\n      id: f.id || null,\n      name: f.name || null,\n      url: f.url || null,\n      mime: f.mimeType || null,\n      size: f.size || null,\n    }))\n    .filter(x => x.url);\n}\n\nfunction generateOrderId(prefix = 'EM') {\n  const now = new Date();\n  const y = now.getFullYear();\n  const m = String(now.getMonth() + 1).padStart(2, '0');\n  const d = String(now.getDate()).padStart(2, '0');\n  const rand = Math.random().toString(36).slice(2, 6).toUpperCase();\n  return `${prefix}-${y}${m}${d}-${rand}`;\n}\n\n// Consent checkbox: your payload includes label \"consent ()\" with value true\nfunction getConsentAccepted() {\n  const direct = fields.find(f =>\n    (f?.label === 'consent' && Array.isArray(f.value) && f.value.length > 0)\n  );\n  if (direct) return true;\n\n  const boolEntry = fields.find(f =>\n    typeof f?.label === 'string' &&\n    f.label.startsWith('consent') &&\n    f.value === true\n  );\n  return Boolean(boolEntry);\n}\n\n// ─────────────────────────────────────────────────────────────\n// Extract raw values\n// ─────────────────────────────────────────────────────────────\n\nconst email = asString(getValue('email'));\nconst packageText = getDropdownText('package');\nconst languageText = getDropdownText('language');\n\nconst childName = asString(getValue('child_name'));\nconst age = asInt(getValue('age'));\nconst genderText = getDropdownText('gender');\n\nconst glassesYN = getYesNoCheckbox('glasses'); // returns \"Yes\" or \"No\" or null\nconst glasses = glassesYN ? glassesYN.toLowerCase() === 'yes' : null;\n\nconst hairColorText = getDropdownText('hair_color');\nconst skinToneText = getDropdownText('skin_tone');\n\nconst hobby = asString(getValue('hobby'));\nconst hobbyDetail = asString(getValue('hobby_detail'));\nconst signatureLook = asString(getValue('signature_look'));\nconst jerseyNumber = asString(getValue('jersey_number'));\nconst recentWin = asString(getValue('recent_win'));\n\nconst themeText = getDropdownText('theme');\nconst heroTraitText = getDropdownText('hero_trait');\nconst parentMessage = asString(getValue('parent_message'));\n\nconst photoMain = getFiles('photo_main');\nconst photoExtra = getFiles('photo_extra');\n\nconst consentAccepted = getConsentAccepted();\n\n// ─────────────────────────────────────────────────────────────\n// Normalize\n// ─────────────────────────────────────────────────────────────\n\nconst order = {\n  order_id: generateOrderId('EM'),\n\n  package: normalizePackage(packageText),\n  language: normalizeLanguage(languageText),\n  theme: normalizeTheme(themeText),\n\n  delivery: { email },\n\n  child: {\n    name: childName,\n    age,\n    gender: genderText ? genderText.toLowerCase() : null,\n    glasses: glasses === null ? false : glasses,\n    hair_color: hairColorText ? hairColorText.toLowerCase() : null,\n    skin_tone: skinToneText ? skinToneText.toLowerCase() : null,\n\n    // Extended personalization (you added these fields — keep them in order)\n    hobby,\n    hobby_detail: hobbyDetail,\n    signature_look: signatureLook,\n    jersey_number: jerseyNumber,\n    recent_win: recentWin,\n\n    hero_trait: normalizeTrait(heroTraitText),\n  },\n\n  parent_message: parentMessage,\n\n  photos: [\n    ...photoMain.map(f => ({ ...f, type: 'photo_main' })),\n    ...photoExtra.map(f => ({ ...f, type: 'photo_extra' })),\n  ],\n\n  consent: {\n    accepted: consentAccepted,\n  },\n\n  meta: {\n    // From Tally\n    event_id: body.eventId || null,\n    event_type: body.eventType || null,\n    created_at: body.createdAt || null,\n\n    response_id: data.responseId || null,\n    submission_id: data.submissionId || null,\n    respondent_id: data.respondentId || null,\n    form_id: data.formId || null,\n    form_name: data.formName || null,\n    form_created_at: data.createdAt || null,\n\n    // From headers (useful for debugging)\n    user_agent: input.headers?.['user-agent'] || null,\n    ip_country: input.headers?.['cf-ipcountry'] || null,\n    cf_ray: input.headers?.['cf-ray'] || null,\n    received_at: body.createdAt || new Date().toISOString(),\n    source:   $('Parse Token').first().json?.source   || null,\n    order_no: $('Parse Token').first().json?.orderNo  || null\n  },\n};\n\n// ─────────────────────────────────────────────────────────────\n// Validation (fail fast)\n// ─────────────────────────────────────────────────────────────\nconst errors = [];\n\nif (!order.delivery.email) errors.push('Missing email');\nif (!order.child.name) errors.push('Missing child_name');\nif (order.child.age === null) errors.push('Missing/invalid age');\nif (!order.package) errors.push('Missing package');\nif (!order.child.hero_trait) errors.push('Missing hero_trait');\nif (!order.consent.accepted) errors.push('Consent not accepted');\nif (!order.photos.some(p => p.type === 'photo_main')) errors.push('Missing photo_main');\n\nif (errors.length) {\n  // attach for inspection and stop the workflow\n\n  return [{\n    validationErrors: errors,\n    order: order\n  }];\n  // do not throw yet if you want to handle it with IF node\n  // If you prefer hard-stop, replace with:\n  // throw new Error(`Validation failed: ${errors.join(', ')}`);\n}\n\n// ─────────────────────────────────────────────────────────────\n// Output\n// ─────────────────────────────────────────────────────────────\n\nreturn [{\n  json: {\n    order\n  }\n}];"
      },
      "id": "add73e06-3e5b-4146-9523-8d1f92e19b60",
      "name": "Validate and Transform Order",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        464,
        400
      ]
    }
  ],
  "connections": {
    "Save Order to Database": {
      "main": [
        [
          {
            "node": "Save Order Payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Receive Order": {
      "main": [
        [
          {
            "node": "Load Envs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Script with AI": {
      "main": [
        [
          {
            "node": "Parse Script",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save Generated Script": {
      "main": [
        [
          {
            "node": "Update Order Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Order Status": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          },
          {
            "node": "Fetch Confirmation Email Template",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save Order Payload": {
      "main": [
        [
          {
            "node": "Fetch Script Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Script Prompt": {
      "main": [
        [
          {
            "node": "Generate Script with AI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Script Prompt": {
      "main": [
        [
          {
            "node": "Build Script Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Script": {
      "main": [
        [
          {
            "node": "Save Generated Script",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Emails": {
      "main": [
        [
          {
            "node": "Send Confirmation Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Load Envs": {
      "main": [
        [
          {
            "node": "Envs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Envs": {
      "main": [
        [
          {
            "node": "Parse Token",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Image Generation Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Token": {
      "main": [
        [
          {
            "node": "If Skip Token Check",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Skip Token Check": {
      "main": [
        [
          {
            "node": "Validate and Transform Order",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get many rows",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get many rows": {
      "main": [
        [
          {
            "node": "Validate Token",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Token": {
      "main": [
        [
          {
            "node": "If Token Valid`",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Token Valid`": {
      "main": [
        [
          {
            "node": "Update a row",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Reject Token",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update a row": {
      "main": [
        [
          {
            "node": "Validate and Transform Order",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Reject Token": {
      "main": [
        [
          {
            "node": "Fetch Token Rejected Email Template",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Confirmation Email Template": {
      "main": [
        [
          {
            "node": "Fetch Admin Email Template",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Admin Email Template": {
      "main": [
        [
          {
            "node": "Build Emails",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Token Rejected Email Template": {
      "main": [
        [
          {
            "node": "Prepare Reject Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Reject Email": {
      "main": [
        [
          {
            "node": "Send Confirmation Email1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate and Transform Order": {
      "main": [
        [
          {
            "node": "Save Order to Database",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "availableInMCP": false,
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "61536f7c-19ff-474f-a6ba-ac75d4207412",
  "activeVersionId": "61536f7c-19ff-474f-a6ba-ac75d4207412",
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2026-02-22T01:53:38.173Z",
      "createdAt": "2026-02-22T01:53:38.173Z",
      "role": "workflow:owner",
      "workflowId": "BqU3JEiy7Y1LGWgi",
      "projectId": "Ez9yaDRraIYPeCTc"
    }
  ],
  "activeVersion": {
    "updatedAt": "2026-03-26T02:19:38.000Z",
    "createdAt": "2026-03-26T02:13:10.232Z",
    "versionId": "61536f7c-19ff-474f-a6ba-ac75d4207412",
    "workflowId": "BqU3JEiy7Y1LGWgi",
    "nodes": [
      {
        "parameters": {
          "httpMethod": "POST",
          "path": "evermagic/intake",
          "authentication": "headerAuth",
          "options": {
            "responseCode": {
              "values": {}
            },
            "responseData": ""
          }
        },
        "id": "0cb08c0c-9c4b-4b89-ba8d-bc7f7a84c69c",
        "name": "Receive Order",
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 2.1,
        "position": [
          -912,
          416
        ],
        "webhookId": "3400869c-97d1-43b1-bd9e-2ac83351117a",
        "alwaysOutputData": false,
        "credentials": {
          "httpHeaderAuth": {
            "id": "Pc4RF1BUmq9cRkHn",
            "name": "Header Auth account"
          }
        }
      },
      {
        "parameters": {
          "tableId": "orders",
          "fieldsUi": {
            "fieldValues": [
              {
                "fieldId": "order_id",
                "fieldValue": "={{$json.order.order_id}}"
              },
              {
                "fieldId": "status",
                "fieldValue": "created"
              },
              {
                "fieldId": "email",
                "fieldValue": "={{$json.order.delivery.email}}"
              },
              {
                "fieldId": "package",
                "fieldValue": "={{$json.order.package}}"
              },
              {
                "fieldId": "language",
                "fieldValue": "={{$json.order.language}}"
              },
              {
                "fieldId": "theme",
                "fieldValue": "={{$json.order.theme}}"
              },
              {
                "fieldId": "child_age",
                "fieldValue": "={{$json.order.child.age}}"
              },
              {
                "fieldId": "child_name",
                "fieldValue": "={{$json.order.child.name}}"
              },
              {
                "fieldId": "source",
                "fieldValue": "={{ $json.order.meta.source }}"
              },
              {
                "fieldId": "order_no",
                "fieldValue": "={{ $json.order.meta.order_no }}"
              }
            ]
          }
        },
        "id": "0218b37a-f964-4be1-b078-8a5140352b8f",
        "name": "Save Order to Database",
        "type": "n8n-nodes-base.supabase",
        "typeVersion": 1,
        "position": [
          704,
          400
        ],
        "alwaysOutputData": false,
        "credentials": {
          "supabaseApi": {
            "id": "EYHDNsSv530jAc06",
            "name": "Supabase account"
          }
        }
      },
      {
        "parameters": {
          "tableId": "order_payloads",
          "fieldsUi": {
            "fieldValues": [
              {
                "fieldId": "order_id",
                "fieldValue": "={{$('Validate and Transform Order').first().json.order.order_id}}"
              },
              {
                "fieldId": "payload_json",
                "fieldValue": "={{JSON.stringify($('Validate and Transform Order').first().json.order)}}"
              }
            ]
          }
        },
        "id": "b03da12f-700b-4bf5-9a9c-d21f94e66e36",
        "name": "Save Order Payload",
        "type": "n8n-nodes-base.supabase",
        "typeVersion": 1,
        "position": [
          976,
          400
        ],
        "credentials": {
          "supabaseApi": {
            "id": "EYHDNsSv530jAc06",
            "name": "Supabase account"
          }
        }
      },
      {
        "parameters": {
          "modelId": {
            "__rl": true,
            "value": "gpt-5-nano",
            "mode": "list",
            "cachedResultName": "GPT-5-NANO"
          },
          "responses": {
            "values": [
              {
                "role": "system",
                "content": "={{ $json.system_prompt }}"
              },
              {
                "content": "={{ $json.user_prompt }}"
              }
            ]
          },
          "builtInTools": {},
          "options": {}
        },
        "id": "651b2a22-4f66-49c5-8960-d96d6039c5bb",
        "name": "Generate Script with AI",
        "type": "@n8n/n8n-nodes-langchain.openAi",
        "typeVersion": 2.1,
        "position": [
          1792,
          400
        ],
        "credentials": {
          "openAiApi": {
            "id": "bkm4C85zHfe8HSHa",
            "name": "OpenAi account"
          }
        }
      },
      {
        "parameters": {
          "tableId": "scripts",
          "fieldsUi": {
            "fieldValues": [
              {
                "fieldId": "order_id",
                "fieldValue": "={{ $json.order_id }}"
              },
              {
                "fieldId": "version",
                "fieldValue": "1"
              },
              {
                "fieldId": "status",
                "fieldValue": "={{ $('Envs').item.json.env.script_approval_required ? 'draft' : 'approved'}}"
              },
              {
                "fieldId": "title",
                "fieldValue": "={{ $json.script.title }}"
              },
              {
                "fieldId": "tagline",
                "fieldValue": "={{ $json.script.tagline }}"
              },
              {
                "fieldId": "content",
                "fieldValue": "={{ JSON.stringify($json.script) }}"
              }
            ]
          }
        },
        "id": "a2d8784a-4f54-4796-8c95-6ba031f57ef8",
        "name": "Save Generated Script",
        "type": "n8n-nodes-base.supabase",
        "typeVersion": 1,
        "position": [
          2368,
          400
        ],
        "credentials": {
          "supabaseApi": {
            "id": "EYHDNsSv530jAc06",
            "name": "Supabase account"
          }
        }
      },
      {
        "parameters": {
          "operation": "update",
          "tableId": "orders",
          "filters": {
            "conditions": [
              {
                "keyName": "order_id",
                "condition": "eq",
                "keyValue": "={{ $json.order_id }}"
              }
            ]
          },
          "fieldsUi": {
            "fieldValues": [
              {
                "fieldId": "status",
                "fieldValue": "={{ $('Envs').item.json.env.script_approval_required ? 'script_generated' : 'approved'}}"
              }
            ]
          }
        },
        "id": "d67a8fa6-61e5-47b0-b212-9b028c1dcae6",
        "name": "Update Order Status",
        "type": "n8n-nodes-base.supabase",
        "typeVersion": 1,
        "position": [
          2592,
          400
        ],
        "credentials": {
          "supabaseApi": {
            "id": "EYHDNsSv530jAc06",
            "name": "Supabase account"
          }
        }
      },
      {
        "parameters": {
          "fromEmail": "taras.evermagic@gmail.com",
          "toEmail": "={{ $json.to }}",
          "subject": "={{ $json.subject }}",
          "html": "={{ $json.html }}",
          "options": {
            "appendAttribution": true
          }
        },
        "id": "ed908765-3a65-4f08-9df4-a7365e3939b3",
        "name": "Send Confirmation Email",
        "type": "n8n-nodes-base.emailSend",
        "typeVersion": 2.1,
        "position": [
          3632,
          400
        ],
        "webhookId": "ac54d5d3-cbd0-44cd-9965-5025ab854d5e",
        "credentials": {
          "smtp": {
            "id": "ymjQpdS5fXvpjwjN",
            "name": "SMTP account"
          }
        }
      },
      {
        "parameters": {
          "jsCode": "// n8n Code node — \"Build Prompt\"\n// Placed AFTER the \"Fetch Prompt\" HTTP Request node\n// Combines the system prompt (from GitHub) with order data (from Transform node)\n\n// ─────────────────────────────────────────────────────────────\n// 1. Get system prompt from the HTTP Request node output\n// ─────────────────────────────────────────────────────────────\n\nconst systemPrompt = $('Fetch Script Prompt').first().json.data;\n\n// ─────────────────────────────────────────────────────────────\n// 2. Get order from the Transform node\n// ─────────────────────────────────────────────────────────────\n\nconst order = $('Validate and Transform Order').first().json.order;\nconst child = order.child;\n\n// ─────────────────────────────────────────────────────────────\n// 3. Build user prompt from order data\n// ─────────────────────────────────────────────────────────────\n\nconst userPrompt = `Create a personalized story with these details:\n\n**Child:**\n- Name: ${child.name}\n- Age: ${child.age}\n- Gender: ${child.gender}\n- Glasses: ${child.glasses ? 'yes' : 'no'}\n- Hair color: ${child.hair_color}\n- Skin tone: ${child.skin_tone}\n\n**Personality & Interests:**\n- Hobby: ${child.hobby}\n- Hobby details: ${child.hobby_detail || 'not provided'}\n- Signature look: ${child.signature_look || 'not provided'}\n- Jersey / lucky number: ${child.jersey_number || 'not provided'}\n- Recent achievement: ${child.recent_win || 'not provided'}\n\n**Story Settings:**\n- Theme: ${order.theme}\n- Hero trait: ${child.hero_trait}\n- Language: ${order.language}\n\n**Parent's message (include in final scene):**\n${order.parent_message || 'No message provided.'}`;\n\n// ─────────────────────────────────────────────────────────────\n// 4. Output — ready for OpenAI node\n// ─────────────────────────────────────────────────────────────\n\nreturn [{\n    json: {\n        system_prompt: systemPrompt,\n        user_prompt: userPrompt,\n        order_id: order.order_id,\n        order: order\n    }\n}];\n"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          1568,
          400
        ],
        "id": "2efe7ba1-010c-4531-975b-20f5a0135132",
        "name": "Build Script Prompt"
      },
      {
        "parameters": {
          "url": "=https://raw.githubusercontent.com/TarasGolub/evermagic/{{ $('Envs').item.json.env.is_live ? 'main' : 'develop' }}/prompts/{{ $('Validate and Transform Order').item.json.order.theme.toLowerCase() }}/system.md",
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.4,
        "position": [
          1264,
          400
        ],
        "id": "6bb83e69-2ada-46e8-b76e-1fdb81f948b0",
        "name": "Fetch Script Prompt"
      },
      {
        "parameters": {
          "jsCode": "// Extract the story JSON string from OpenAI response\nconst aiOutput = $input.first().json;\n\n// Try multiple paths — n8n OpenAI node output varies by version\nlet rawText;\n\nif (aiOutput.output?.[0]?.content?.[0]?.text) {\n  // Responses API format\n  rawText = aiOutput.output[0].content[0].text;\n} else if (aiOutput.message?.content) {\n  // Chat Completion format\n  rawText = aiOutput.message.content;\n} else if (aiOutput.text) {\n  // Simple text output\n  rawText = aiOutput.text;\n} else if (typeof aiOutput === 'string') {\n  rawText = aiOutput;\n} else {\n  // Debug: output what we actually received\n  throw new Error('Unexpected AI output shape: ' + JSON.stringify(Object.keys(aiOutput)));\n}\n\nconst cleaned = rawText\n\t.trim()\n\t.replace(/^```json\\s*/i, '')\n\t.replace(/^```\\s*/i, '')\n\t.replace(/\\s*```$/, '')\n\t.trim();\n\n// Parse the JSON string into an actual object\nconst script = JSON.parse(cleaned);\n\n// Get the order from the earlier node\nconst order = $('Validate and Transform Order').first().json.order;\n\nreturn [{\n  json: {\n    order_id: order.order_id,\n    script: script,\n    script_raw: rawText,\n    version: 1,\n    order: order\n  }\n}];\n"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          2160,
          400
        ],
        "id": "4ac57a4f-2570-4636-b1c2-dd3eb99352e8",
        "name": "Parse Script"
      },
      {
        "parameters": {
          "jsCode": "// n8n Code node — \"Build Emails\"\n// Place AFTER: \"Fetch Confirmation Email Template\", \"Fetch Admin Email Template\", \"Parse Script\"\n// Outputs TWO items: [0] = customer email, [1] = admin email\n// Then use a Send Email node for each (or split with IF)\n\nconst order = $('Validate and Transform Order').first().json.order;\nconst script = $('Parse Script').first().json.script;\nconst scriptVersion = $('Parse Script').first().json.version || 1;\n\n// ─────────────────────────────────────────────────────────────\n// Env flags\n// ─────────────────────────────────────────────────────────────\nconst env = $('Envs').first().json.env;\nconst approvalRequired = env.script_approval_required === true || env.script_approval_required === 'true';\nconst REVIEW_BASE = `https://evermagic.app.n8n.cloud/webhook${env.is_live ? '' : '-test'}/evermagic/review`;\n\n// ─────────────────────────────────────────────────────────────\n// 1. Customer Confirmation Email\n// ─────────────────────────────────────────────────────────────\n\nconst packageLabels = {\n  'BASIC': 'Basic (Storybook + Coloring + Certificate)',\n  'FULL': 'Full Bundle (Video + PDF + printable)',\n  'PARTY': 'Party Pack',\n};\n\nconst themeLabels = {\n  'SPACE_HERO':          'Space Hero Mission',\n  'FANTASY_HERO':        'Fantasy Hero Quest',\n  'ENCHANTED_PRINCESS':  'Enchanted Princess Adventure',\n  'ANIMAL_GUARDIAN':     'Animal Guardian Hero',\n  'HOME_HELPER':         'Home Helper Hero',\n};\n\n// Shared assets\nconst branch  = env.is_live ? 'main' : 'develop';\nconst logoUrl = `https://raw.githubusercontent.com/TarasGolub/evermagic/${branch}/templates/icons/logo_email.png`;\n\n// Inject variables into the fetched confirmation email template\nconst confirmationTemplate = $('Fetch Confirmation Email Template').first().json.data;\n\nconst customerHtml = confirmationTemplate\n  .replace(/\\{\\{logo_url\\}\\}/g,    logoUrl)\n  .replace(/\\{\\{child_name\\}\\}/g,  order.child.name)\n  .replace(/\\{\\{order_id\\}\\}/g,    order.order_id)\n  .replace(/\\{\\{child_age\\}\\}/g,   String(order.child.age))\n  .replace(/\\{\\{package\\}\\}/g,     packageLabels[order.package] || order.package)\n  .replace(/\\{\\{theme\\}\\}/g,       themeLabels[order.theme] || order.theme);\n\n// ─────────────────────────────────────────────────────────────\n// 2. Admin Review Email\n// ─────────────────────────────────────────────────────────────\n\nconst scenesHtml = script.scenes.map(s => `\n  <tr><td style=\"padding:8px 32px;\">\n    <table role=\"presentation\" width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" style=\"background:#f9fafb;border-radius:8px;border:1px solid #e5e7eb;margin-bottom:8px;\">\n      <tr><td style=\"padding:16px;\">\n        <div style=\"font-size:11px;text-transform:uppercase;letter-spacing:1px;color:#6b7280;font-weight:600;\">Scene ${s.scene_number} · ${s.emotion || ''}</div>\n        <h3 style=\"margin:4px 0 8px;font-size:16px;color:#111;\">${s.scene_title}</h3>\n        <p style=\"margin:0 0 12px;font-size:14px;color:#374151;line-height:1.6;\">${s.narration}</p>\n        <div style=\"font-size:12px;color:#9ca3af;line-height:1.5;border-top:1px solid #e5e7eb;padding-top:8px;\">\n          <strong style=\"color:#6b7280;\">🎬 Visual:</strong> ${s.visual_description}\n        </div>\n      </td></tr>\n    </table>\n  </td></tr>`).join('\\n');\n\n// Build dynamic blocks for admin email\nconst reviewStatusLabel = approvalRequired ? 'Script Ready for Review' : 'Script Auto-Approved';\n\nconst reviewBadgeHtml = approvalRequired\n  ? `<span style=\"display:inline-block;padding:6px 14px;background:#fef3c7;color:#92400e;font-size:12px;font-weight:600;border-radius:20px;text-transform:uppercase;letter-spacing:0.5px;\">Needs Review</span>`\n  : `<span style=\"display:inline-block;padding:6px 14px;background:#d1fae5;color:#065f46;font-size:12px;font-weight:600;border-radius:20px;text-transform:uppercase;letter-spacing:0.5px;\">Auto-Approved ✅</span>`;\n\nconst approveUrl = `${REVIEW_BASE}?order_id=${order.order_id}&version=${scriptVersion}&action=approve`;\nconst retryUrl   = `${REVIEW_BASE}?order_id=${order.order_id}&version=${scriptVersion}&action=retry`;\nconst editUrl    = `${REVIEW_BASE}?order_id=${order.order_id}&version=${scriptVersion}&action=edit`;\n\nconst actionButtonsHtml = approvalRequired ? `\n  <tr><td style=\"padding:16px 32px 24px;\">\n    <table role=\"presentation\" width=\"100%\" cellpadding=\"0\" cellspacing=\"0\">\n      <tr>\n        <td align=\"center\" width=\"33%\" style=\"padding:0 4px;\">\n          <a href=\"${approveUrl}\" style=\"display:block;padding:14px 8px;background:#16a34a;color:#ffffff;font-size:14px;font-weight:700;text-decoration:none;border-radius:8px;text-align:center;\">✅ Approve</a>\n        </td>\n        <td align=\"center\" width=\"33%\" style=\"padding:0 4px;\">\n          <a href=\"${retryUrl}\" style=\"display:block;padding:14px 8px;background:#f59e0b;color:#ffffff;font-size:14px;font-weight:700;text-decoration:none;border-radius:8px;text-align:center;\">🔄 Edit &amp; Retry</a>\n        </td>\n        <td align=\"center\" width=\"33%\" style=\"padding:0 4px;\">\n          <a href=\"${editUrl}\" style=\"display:block;padding:14px 8px;background:#3b82f6;color:#ffffff;font-size:14px;font-weight:700;text-decoration:none;border-radius:8px;text-align:center;\">✏️ Manual Edit</a>\n        </td>\n      </tr>\n    </table>\n  </td></tr>\n  <tr><td style=\"padding:12px 32px 28px;border-top:1px solid #eee;\">\n    <p style=\"margin:0;font-size:12px;color:#9ca3af;text-align:center;\">Click an action above to approve, retry with AI, or manually edit this script.</p>\n  </td></tr>` : `\n  <tr><td style=\"padding:16px 32px 24px;\">\n    <table role=\"presentation\" width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" style=\"background:#f0fdf4;border-radius:8px;border:1px solid #bbf7d0;\">\n      <tr><td style=\"padding:16px;text-align:center;\">\n        <div style=\"font-size:28px;margin-bottom:8px;\">🤖</div>\n        <div style=\"font-size:14px;font-weight:700;color:#065f46;margin-bottom:4px;\">Script was auto-approved</div>\n        <div style=\"font-size:13px;color:#6b7280;\">Image generation has already started. No action needed.</div>\n      </td></tr>\n    </table>\n  </td></tr>\n  <tr><td style=\"padding:12px 32px 28px;border-top:1px solid #eee;\">\n    <p style=\"margin:0;font-size:12px;color:#9ca3af;text-align:center;\">This is an FYI notification. Script approval is currently disabled.</p>\n  </td></tr>`;\n\n// Inject variables into the fetched admin email template\nconst adminTemplate = $('Fetch Admin Email Template').first().json.data;\n\nconst adminHtml = adminTemplate\n  .replace(/\\{\\{order_id\\}\\}/g,             order.order_id)\n  .replace(/\\{\\{customer_email\\}\\}/g,       order.delivery.email)\n  .replace(/\\{\\{package\\}\\}/g,              packageLabels[order.package] || order.package)\n  .replace(/\\{\\{child_name\\}\\}/g,           order.child.name)\n  .replace(/\\{\\{child_age\\}\\}/g,            String(order.child.age))\n  .replace(/\\{\\{theme\\}\\}/g,                themeLabels[order.theme] || order.theme)\n  .replace(/\\{\\{language\\}\\}/g,             order.language)\n  .replace(/\\{\\{story_title\\}\\}/g,          script.title)\n  .replace(/\\{\\{story_tagline\\}\\}/g,        script.tagline)\n  .replace(/\\{\\{script_version\\}\\}/g,       String(scriptVersion))\n  .replace(/\\{\\{review_status_label\\}\\}/g,  reviewStatusLabel)\n  .replace(/\\{\\{review_badge_html\\}\\}/g,    reviewBadgeHtml)\n  .replace(/\\{\\{action_buttons_html\\}\\}/g,  actionButtonsHtml)\n  .replace(/\\{\\{scenes_html\\}\\}/g,          scenesHtml)\n  .replace(/\\{\\{parent_message\\}\\}/g,       order.parent_message || 'No message provided.');\n\n// ─────────────────────────────────────────────────────────────\n// 3. Output both emails as two items\n// ─────────────────────────────────────────────────────────────\n\nreturn [\n  {\n    json: {\n      email_type: 'customer_confirmation',\n      to: order.delivery.email,\n      subject: `✨ Your magic is being created, ${order.child.name}!`,\n      html: customerHtml,\n      order_id: order.order_id\n    }\n  },\n  {\n    json: {\n      email_type: 'admin_review',\n      to: 'taras.evermagic@gmail.com',\n      subject: `📋 Script Review — ${order.order_id} — ${order.child.name}`,\n      html: adminHtml,\n      order_id: order.order_id\n    }\n  }\n];\n"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          3280,
          400
        ],
        "id": "fa329891-0188-4bf4-9888-e39c65cba4a3",
        "name": "Build Emails"
      },
      {
        "parameters": {
          "operation": "getAll",
          "tableId": "envs"
        },
        "type": "n8n-nodes-base.supabase",
        "typeVersion": 1,
        "position": [
          -688,
          416
        ],
        "id": "3110c800-7bed-4f31-b05e-88ec34b782c3",
        "name": "Load Envs",
        "credentials": {
          "supabaseApi": {
            "id": "EYHDNsSv530jAc06",
            "name": "Supabase account"
          }
        }
      },
      {
        "parameters": {
          "jsCode": "const raw = {};\nfor (const item of $input.all()) {\n  raw[item.json.key] = item.json.value;\n}\n\nconst env = {\n  mode: raw.mode,       \n  is_live: raw.mode === 'live',\n  script_approval_required: raw.script_approval_required === 'true', \n  evrm_token: raw.evrm_token\n};\n\nreturn [{ json: { env } }];\n"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          -448,
          416
        ],
        "id": "43c96187-9019-4f4a-8006-8c8d70ade12f",
        "name": "Envs"
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 3
            },
            "conditions": [
              {
                "id": "4340baf0-232b-4a99-920e-9948a7b6026a",
                "leftValue": "={{ $('Envs').item.json.env.script_approval_required }}",
                "rightValue": "true",
                "operator": {
                  "type": "boolean",
                  "operation": "false",
                  "singleValue": true
                }
              }
            ],
            "combinator": "and"
          },
          "looseTypeValidation": "={{ false }}",
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.3,
        "position": [
          2784,
          128
        ],
        "id": "156c42ce-0d6e-428d-8c5c-a6e5266dd1fc",
        "name": "If"
      },
      {
        "parameters": {
          "method": "POST",
          "url": "=https://evermagic.app.n8n.cloud/webhook{{ $('Envs').item.json.env.is_live ? '' : '-test' }}/orders/images/generate",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "X-EverMagic-Token",
                "value": "={{ $('Envs').item.json.env.evrm_token }}"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.4,
        "position": [
          3008,
          112
        ],
        "id": "1fd03d25-674f-413a-b560-3b2dfd94dbad",
        "name": "Image Generation Webhook"
      },
      {
        "parameters": {
          "jsCode": "// ─────────────────────────────────────────────────────────────\n// EverMagic — n8n Code Node: \"Parse Token\"\n// Step 3.5 — Intake Token System\n//\n// Placement: FIRST node after \"Receive Order\" webhook\n//\n// Purpose:\n//   Extracts token / source / orderNo from hidden Tally fields.\n//   Handles the cheat token (EVRM-DEV) immediately.\n//   Passes a structured object downstream for the IF + Supabase nodes.\n//\n// Tally form setup required:\n//   Add 3 hidden fields to the Tally form:\n//     label: \"token\"   → pre-filled from URL param ?token=\n//     label: \"source\"  → pre-filled from URL param ?source=\n//     label: \"orderNo\" → pre-filled from URL param ?orderNo=\n//\n// Output object:\n//   {\n//     token:           string | null,\n//     source:          string,         // 'etsy' | 'unknown' | etc.\n//     orderNo:         string | null,  // external order reference\n//     skipTokenCheck:  boolean,        // true only for EVRM-DEV cheat token\n//     rejectReason:    string | null,  // 'missing_token' if no token at all\n//   }\n// ─────────────────────────────────────────────────────────────\n\n// ─── Config ────────────────────────────────────────────────────\nconst CHEAT_TOKEN = 'EVRM-DEV';\n\n// ─── Helpers ───────────────────────────────────────────────────\nconst body   = $('Receive Order').first().json.body || {};\nconst data   = body.data || {};\nconst fields = Array.isArray(data.fields) ? data.fields : [];\n\nfunction getHiddenField(label) {\n  const f = fields.find(f => f?.label === label);\n  if (!f) return null;\n  const v = f.value;\n  if (v === null || v === undefined) return null;\n  return String(v).trim() || null;\n}\n\n// ─── Extract URL-param hidden fields ───────────────────────────\nconst token   = getHiddenField('token');\nconst source  = getHiddenField('source')  || 'unknown';\nconst orderNo = getHiddenField('orderNo') || null;\n\n// ─── Cheat token — bypass DB check entirely ─────────────────────\nif (token === CHEAT_TOKEN) {\n  return [{\n    json: {\n      token,\n      source,\n      orderNo,\n      skipTokenCheck: true,\n      rejectReason:   null,\n    }\n  }];\n}\n\n// ─── No token at all — reject immediately ───────────────────────\nif (!token) {\n  return [{\n    json: {\n      token:          null,\n      source,\n      orderNo,\n      skipTokenCheck: false,\n      rejectReason:   'missing_token',\n    }\n  }];\n}\n\n// ─── Valid-looking token — let Supabase + Validate nodes decide ─\nreturn [{\n  json: {\n    token,\n    source,\n    orderNo,\n    skipTokenCheck: false,\n    rejectReason:   null,\n  }\n}];\n"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          -192,
          416
        ],
        "id": "ea971d8e-36ba-4a9f-9f13-ef2c90fd6aa8",
        "name": "Parse Token"
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 3
            },
            "conditions": [
              {
                "id": "87d2d462-c1de-4420-aa12-12f07f4a0d6f",
                "leftValue": "={{ $json.skipTokenCheck }}",
                "rightValue": "",
                "operator": {
                  "type": "boolean",
                  "operation": "true",
                  "singleValue": true
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.3,
        "position": [
          16,
          416
        ],
        "id": "950f619b-2abc-4be8-9f9c-86a0f49f0278",
        "name": "If Skip Token Check"
      },
      {
        "parameters": {
          "operation": "getAll",
          "tableId": "intake_tokens",
          "limit": 1,
          "filters": {
            "conditions": [
              {
                "keyName": "token",
                "condition": "eq",
                "keyValue": "={{ $('Parse Token').first().json.token }}"
              }
            ]
          }
        },
        "type": "n8n-nodes-base.supabase",
        "typeVersion": 1,
        "position": [
          -688,
          768
        ],
        "id": "da5ce60b-e5a1-41c1-93cb-8a01b7549443",
        "name": "Get many rows",
        "alwaysOutputData": true,
        "credentials": {
          "supabaseApi": {
            "id": "EYHDNsSv530jAc06",
            "name": "Supabase account"
          }
        }
      },
      {
        "parameters": {
          "jsCode": "// ─────────────────────────────────────────────────────────────\n// EverMagic — n8n Code Node: \"Validate Token\"\n// Step 3.5 — Intake Token System\n//\n// Placement: AFTER Supabase \"Fetch Token from DB\" node\n//\n// Input:\n//   $input.first().json      = Supabase row from intake_tokens (or empty if not found)\n//   $('Parse Token').first() = { token, source, orderNo, skipTokenCheck }\n//\n// Output (TRUE branch = IF node passes through):\n//   { tokenValid: true,  token, source, orderNo }\n//\n// Output (FALSE branch = reject path):\n//   { tokenValid: false, rejectReason: 'already_used' | 'not_found' }\n//\n// Supabase node setup (before this):\n//   Operation: getAll\n//   Table: intake_tokens\n//   Filter: token eq {{ $('Parse Token').first().json.token }}\n//   Limit: 1\n// ─────────────────────────────────────────────────────────────\n\nconst tokenRow  = $input.first().json;          // Supabase row — may be empty object {}\nconst parsed    = $('Parse Token').first().json; // { token, source, orderNo }\n\nconst rowExists = tokenRow && tokenRow.token;   // real row has a token column\nconst isUnused  = rowExists && tokenRow.status === 'unused';\n\nif (!rowExists) {\n  // Token not found in DB at all\n  return [{\n    json: {\n      tokenValid:   false,\n      rejectReason: 'not_found',\n      token:        parsed.token,\n      source:       parsed.source,\n      orderNo:      parsed.orderNo,\n    }\n  }];\n}\n\nif (!isUnused) {\n  // Token exists but has already been used\n  return [{\n    json: {\n      tokenValid:   false,\n      rejectReason: 'already_used',\n      token:        parsed.token,\n      source:       parsed.source,\n      orderNo:      parsed.orderNo,\n    }\n  }];\n}\n\n// ✅ Token is valid and unused\nreturn [{\n  json: {\n    tokenValid:   true,\n    rejectReason: null,\n    token:        tokenRow.token,\n    source:       parsed.source,\n    orderNo:      parsed.orderNo,\n  }\n}];\n"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          -480,
          768
        ],
        "id": "4b3c4785-54bf-4b42-bf7a-7768aad6996d",
        "name": "Validate Token"
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 3
            },
            "conditions": [
              {
                "id": "fe8c5959-1f9c-45fc-a677-83a9c07d987f",
                "leftValue": "={{ $json.tokenValid }}",
                "rightValue": "",
                "operator": {
                  "type": "boolean",
                  "operation": "true",
                  "singleValue": true
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.3,
        "position": [
          -272,
          768
        ],
        "id": "736af25e-be68-49ac-b7b7-2e3285aadff8",
        "name": "If Token Valid`"
      },
      {
        "parameters": {
          "operation": "update",
          "tableId": "intake_tokens",
          "filters": {
            "conditions": [
              {
                "keyName": "token",
                "condition": "eq",
                "keyValue": "={{ $json.token }}"
              }
            ]
          },
          "fieldsUi": {
            "fieldValues": [
              {
                "fieldId": "status",
                "fieldValue": "used"
              },
              {
                "fieldId": "used_at",
                "fieldValue": "={{ new Date().toISOString() }}"
              },
              {
                "fieldId": "source",
                "fieldValue": "={{ $('Parse Token').first().json.source }}"
              },
              {
                "fieldId": "etsy_order_id",
                "fieldValue": "={{ $('Parse Token').first().json.orderNo }}"
              }
            ]
          }
        },
        "type": "n8n-nodes-base.supabase",
        "typeVersion": 1,
        "position": [
          16,
          752
        ],
        "id": "aabdc001-cd9b-4cf5-8ef6-0594af07adb0",
        "name": "Update a row",
        "credentials": {
          "supabaseApi": {
            "id": "EYHDNsSv530jAc06",
            "name": "Supabase account"
          }
        }
      },
      {
        "parameters": {
          "jsCode": "// ─────────────────────────────────────────────────────────────\n// EverMagic — n8n Code Node: \"Reject Token\"\n// Step 3.5 — Intake Token System\n//\n// Placement: FALSE branch of \"If Token Valid\" IF node\n//            Connect output to a \"Respond to Webhook\" node\n//\n// Purpose: Builds a reject payload for the Respond to Webhook node.\n//\n// After this node, add a \"Respond to Webhook\" node:\n//   Respond With: JSON\n//   Response Code: 400\n//   Response Body: {{ $json.errorBody }}\n// ─────────────────────────────────────────────────────────────\n\nconst parsed      = $('Parse Token').first().json;\nconst rejectReason = parsed.rejectReason\n                  || $('Validate Token').first().json.rejectReason\n                  || 'invalid_token';\n\nconst messages = {\n  missing_token: 'This form requires a valid access token. Please use the link you received in your order email.',\n  not_found:     'This access token is not recognised. Please check your order email and use the link provided.',\n  already_used:  'This access link has already been used. Each link can only be used once. Please contact support if you need help.',\n};\n\nconst message = messages[rejectReason] || 'This access link is not valid. Please contact support.';\n\nreturn [{\n  json: {\n    errorBody: JSON.stringify({\n      error:   rejectReason,\n      message: message,\n    })\n  }\n}];\n"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          16,
          960
        ],
        "id": "1105c066-39c9-4db0-b56e-6b012d6ad39e",
        "name": "Reject Token"
      },
      {
        "parameters": {
          "url": "=https://raw.githubusercontent.com/TarasGolub/evermagic/{{ $('Envs').item.json.env.is_live ? 'main' : 'develop' }}/emails/customer-confirmation.html",
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.4,
        "position": [
          2800,
          400
        ],
        "id": "99997085-fc09-477b-b542-f51fb1383fec",
        "name": "Fetch Confirmation Email Template"
      },
      {
        "parameters": {
          "url": "=https://raw.githubusercontent.com/TarasGolub/evermagic/{{ $('Envs').item.json.env.is_live ? 'main' : 'develop' }}/emails/admin-script-review.html",
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.4,
        "position": [
          3008,
          400
        ],
        "id": "9ae1ccc6-45b7-4ccf-b2a1-157e57f86445",
        "name": "Fetch Admin Email Template"
      },
      {
        "parameters": {
          "url": "=https://raw.githubusercontent.com/TarasGolub/evermagic/{{ $('Envs').item.json.env.is_live ? 'main' : 'develop' }}/emails/customer-token-rejected.html ",
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.4,
        "position": [
          224,
          960
        ],
        "id": "e1dcc992-c9cf-4df0-aa68-e5daf05e876a",
        "name": "Fetch Token Rejected Email Template"
      },
      {
        "parameters": {
          "jsCode": "// n8n Function node — Tally webhook → EverMagic order order JSON\n// Input: items[0].json = n8n Webhook payload (as in your sample)\n// Output: items[0].json.order + items[0].json.validation_errors (if any)\n\nconst input = $('Receive Order').first().json;\n\n// ─────────────────────────────────────────────────────────────\n// Locate Tally body + fields safely\n// ─────────────────────────────────────────────────────────────\nconst body = input.body || {};\nconst data = body.data || {};\nconst fields = Array.isArray(data.fields) ? data.fields : [];\nconst getField = (label) => fields.find(f => f?.label === label) || null;\n\nfunction getValue(label) {\n  const field = getField(label);\n  return field ? field.value : null;\n};\nfunction asString(v) {\n  if (v === null || v === undefined) return null;\n  if (typeof v === 'string') return v.trim();\n  return String(v).trim();\n};\n\nconst customerEmail = asString(getValue('email'));\nconst token = $('Parse Token').first().json.token;\n\nconst env     = $('Envs').first().json.env;\nconst branch  = env.is_live ? 'main' : 'develop';\nconst logoUrl = `https://raw.githubusercontent.com/TarasGolub/evermagic/${branch}/templates/icons/logo_email.png`;\n\nconst template = $input.first().json.data;\n\nconst html = template\n  .replace(/\\{\\{logo_url\\}\\}/g,   logoUrl)\n  .replace(/\\{\\{order_ref\\}\\}/g,  token);\n\nreturn [{\n  json: {\n    to:      customerEmail,\n    subject: `Something went wrong with your EverMagic order - ${token}`,\n    html:    html,\n  }\n}];\n"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          432,
          960
        ],
        "id": "24982ba4-fac3-4c80-9060-eedbecc9bd6a",
        "name": "Prepare Reject Email"
      },
      {
        "parameters": {
          "fromEmail": "taras.evermagic@gmail.com",
          "toEmail": "={{ $json.to }}",
          "subject": "={{ $json.subject }}",
          "html": "={{ $json.html }}",
          "options": {
            "appendAttribution": true
          }
        },
        "id": "1bba581c-ff67-484f-bf3d-273d396e0896",
        "name": "Send Confirmation Email1",
        "type": "n8n-nodes-base.emailSend",
        "typeVersion": 2.1,
        "position": [
          672,
          960
        ],
        "webhookId": "ac54d5d3-cbd0-44cd-9965-5025ab854d5e",
        "credentials": {
          "smtp": {
            "id": "ymjQpdS5fXvpjwjN",
            "name": "SMTP account"
          }
        }
      },
      {
        "parameters": {
          "jsCode": "// n8n Function node — Tally webhook → EverMagic order order JSON\n// Input: items[0].json = n8n Webhook payload (as in your sample)\n// Output: items[0].json.order + items[0].json.validation_errors (if any)\n\nconst input = $('Receive Order').first().json;\n\n// ─────────────────────────────────────────────────────────────\n// Locate Tally body + fields safely\n// ─────────────────────────────────────────────────────────────\nconst body = input.body || {};\nconst data = body.data || {};\nconst fields = Array.isArray(data.fields) ? data.fields : [];\n\n// ─────────────────────────────────────────────────────────────\n// Helpers\n// ─────────────────────────────────────────────────────────────\n\nconst getField = (label) => fields.find(f => f?.label === label) || null;\n\n// Dropdown / Radio in Tally: value: [optionId], options: [{id,text}]\nfunction getDropdownText(label) {\n  const field = getField(label);\n  if (!field) return null;\n\n  const selectedId = Array.isArray(field.value) ? field.value[0] : null;\n  if (!selectedId) return null;\n\n  const opt = Array.isArray(field.options) ? field.options.find(o => o.id === selectedId) : null;\n  return opt?.text ?? null;\n}\n\n// Checkbox group (like glasses): Tally sends extra boolean fields with labels \"glasses (Yes)\" etc.\nfunction getYesNoCheckbox(labelBase) {\n  const hit = fields.find(f =>\n    typeof f?.label === 'string' &&\n    f.label.startsWith(`${labelBase} (`) &&\n    f.value === true\n  );\n  if (!hit) return null;\n\n  const m = hit.label.match(/\\((.+)\\)$/);\n  return (m && m[1]) ? m[1].trim() : true;\n}\n\nfunction getValue(label) {\n  const field = getField(label);\n  return field ? field.value : null;\n}\n\nfunction asString(v) {\n  if (v === null || v === undefined) return null;\n  if (typeof v === 'string') return v.trim();\n  return String(v).trim();\n}\n\nfunction asInt(v) {\n  if (v === null || v === undefined || v === '') return null;\n  const n = Number(v);\n  return Number.isFinite(n) ? Math.trunc(n) : null;\n}\n\nfunction normalizePackage(text) {\n  const t = (text || '').toLowerCase();\n  if (t.includes('basic')) return 'BASIC';\n  if (t.includes('full')) return 'FULL';\n  if (t.includes('party')) return 'PARTY';\n  return text ? text.toUpperCase().replace(/\\s+/g, '_') : null;\n}\n\nfunction normalizeLanguage(text) {\n  const t = (text || '').toUpperCase();\n  if (t.includes('(EN') || t.includes('ENGLISH')) return 'EN';\n  if (t.includes('(UA') || t.includes('UKRAIN')) return 'UA';\n  return 'EN';\n}\n\nfunction normalizeTheme(text) {\n  const t = (text || '').toLowerCase();\n  if (t.includes('space'))     return 'SPACE_HERO';\n  if (t.includes('fantasy'))   return 'FANTASY_HERO';\n  if (t.includes('princess'))  return 'ENCHANTED_PRINCESS';\n  if (t.includes('animal') || t.includes('guardian')) return 'ANIMAL_GUARDIAN';\n  if (t.includes('home') || t.includes('helper'))     return 'HOME_HELPER';\n  return text ? text.toUpperCase().replace(/\\s+/g, '_') : 'SPACE_HERO';\n}\n\nfunction normalizeTrait(text) {\n  const t = (text || '').toLowerCase();\n  if (t.includes('brave')) return 'brave';\n  if (t.includes('kind')) return 'kind';\n  if (t.includes('smart')) return 'smart';\n  if (t.includes('creative')) return 'creative';\n  return text ? t : null;\n}\n\nfunction getFiles(label) {\n  const v = getValue(label);\n  if (!v || !Array.isArray(v)) return [];\n  return v\n    .map(f => ({\n      id: f.id || null,\n      name: f.name || null,\n      url: f.url || null,\n      mime: f.mimeType || null,\n      size: f.size || null,\n    }))\n    .filter(x => x.url);\n}\n\nfunction generateOrderId(prefix = 'EM') {\n  const now = new Date();\n  const y = now.getFullYear();\n  const m = String(now.getMonth() + 1).padStart(2, '0');\n  const d = String(now.getDate()).padStart(2, '0');\n  const rand = Math.random().toString(36).slice(2, 6).toUpperCase();\n  return `${prefix}-${y}${m}${d}-${rand}`;\n}\n\n// Consent checkbox: your payload includes label \"consent ()\" with value true\nfunction getConsentAccepted() {\n  const direct = fields.find(f =>\n    (f?.label === 'consent' && Array.isArray(f.value) && f.value.length > 0)\n  );\n  if (direct) return true;\n\n  const boolEntry = fields.find(f =>\n    typeof f?.label === 'string' &&\n    f.label.startsWith('consent') &&\n    f.value === true\n  );\n  return Boolean(boolEntry);\n}\n\n// ─────────────────────────────────────────────────────────────\n// Extract raw values\n// ─────────────────────────────────────────────────────────────\n\nconst email = asString(getValue('email'));\nconst packageText = getDropdownText('package');\nconst languageText = getDropdownText('language');\n\nconst childName = asString(getValue('child_name'));\nconst age = asInt(getValue('age'));\nconst genderText = getDropdownText('gender');\n\nconst glassesYN = getYesNoCheckbox('glasses'); // returns \"Yes\" or \"No\" or null\nconst glasses = glassesYN ? glassesYN.toLowerCase() === 'yes' : null;\n\nconst hairColorText = getDropdownText('hair_color');\nconst skinToneText = getDropdownText('skin_tone');\n\nconst hobby = asString(getValue('hobby'));\nconst hobbyDetail = asString(getValue('hobby_detail'));\nconst signatureLook = asString(getValue('signature_look'));\nconst jerseyNumber = asString(getValue('jersey_number'));\nconst recentWin = asString(getValue('recent_win'));\n\nconst themeText = getDropdownText('theme');\nconst heroTraitText = getDropdownText('hero_trait');\nconst parentMessage = asString(getValue('parent_message'));\n\nconst photoMain = getFiles('photo_main');\nconst photoExtra = getFiles('photo_extra');\n\nconst consentAccepted = getConsentAccepted();\n\n// ─────────────────────────────────────────────────────────────\n// Normalize\n// ─────────────────────────────────────────────────────────────\n\nconst order = {\n  order_id: generateOrderId('EM'),\n\n  package: normalizePackage(packageText),\n  language: normalizeLanguage(languageText),\n  theme: normalizeTheme(themeText),\n\n  delivery: { email },\n\n  child: {\n    name: childName,\n    age,\n    gender: genderText ? genderText.toLowerCase() : null,\n    glasses: glasses === null ? false : glasses,\n    hair_color: hairColorText ? hairColorText.toLowerCase() : null,\n    skin_tone: skinToneText ? skinToneText.toLowerCase() : null,\n\n    // Extended personalization (you added these fields — keep them in order)\n    hobby,\n    hobby_detail: hobbyDetail,\n    signature_look: signatureLook,\n    jersey_number: jerseyNumber,\n    recent_win: recentWin,\n\n    hero_trait: normalizeTrait(heroTraitText),\n  },\n\n  parent_message: parentMessage,\n\n  photos: [\n    ...photoMain.map(f => ({ ...f, type: 'photo_main' })),\n    ...photoExtra.map(f => ({ ...f, type: 'photo_extra' })),\n  ],\n\n  consent: {\n    accepted: consentAccepted,\n  },\n\n  meta: {\n    // From Tally\n    event_id: body.eventId || null,\n    event_type: body.eventType || null,\n    created_at: body.createdAt || null,\n\n    response_id: data.responseId || null,\n    submission_id: data.submissionId || null,\n    respondent_id: data.respondentId || null,\n    form_id: data.formId || null,\n    form_name: data.formName || null,\n    form_created_at: data.createdAt || null,\n\n    // From headers (useful for debugging)\n    user_agent: input.headers?.['user-agent'] || null,\n    ip_country: input.headers?.['cf-ipcountry'] || null,\n    cf_ray: input.headers?.['cf-ray'] || null,\n    received_at: body.createdAt || new Date().toISOString(),\n    source:   $('Parse Token').first().json?.source   || null,\n    order_no: $('Parse Token').first().json?.orderNo  || null\n  },\n};\n\n// ─────────────────────────────────────────────────────────────\n// Validation (fail fast)\n// ─────────────────────────────────────────────────────────────\nconst errors = [];\n\nif (!order.delivery.email) errors.push('Missing email');\nif (!order.child.name) errors.push('Missing child_name');\nif (order.child.age === null) errors.push('Missing/invalid age');\nif (!order.package) errors.push('Missing package');\nif (!order.child.hero_trait) errors.push('Missing hero_trait');\nif (!order.consent.accepted) errors.push('Consent not accepted');\nif (!order.photos.some(p => p.type === 'photo_main')) errors.push('Missing photo_main');\n\nif (errors.length) {\n  // attach for inspection and stop the workflow\n\n  return [{\n    validationErrors: errors,\n    order: order\n  }];\n  // do not throw yet if you want to handle it with IF node\n  // If you prefer hard-stop, replace with:\n  // throw new Error(`Validation failed: ${errors.join(', ')}`);\n}\n\n// ─────────────────────────────────────────────────────────────\n// Output\n// ─────────────────────────────────────────────────────────────\n\nreturn [{\n  json: {\n    order\n  }\n}];"
        },
        "id": "add73e06-3e5b-4146-9523-8d1f92e19b60",
        "name": "Validate and Transform Order",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          464,
          400
        ]
      }
    ],
    "connections": {
      "Save Order to Database": {
        "main": [
          [
            {
              "node": "Save Order Payload",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Receive Order": {
        "main": [
          [
            {
              "node": "Load Envs",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Generate Script with AI": {
        "main": [
          [
            {
              "node": "Parse Script",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Save Generated Script": {
        "main": [
          [
            {
              "node": "Update Order Status",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Update Order Status": {
        "main": [
          [
            {
              "node": "If",
              "type": "main",
              "index": 0
            },
            {
              "node": "Fetch Confirmation Email Template",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Save Order Payload": {
        "main": [
          [
            {
              "node": "Fetch Script Prompt",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Build Script Prompt": {
        "main": [
          [
            {
              "node": "Generate Script with AI",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Fetch Script Prompt": {
        "main": [
          [
            {
              "node": "Build Script Prompt",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Parse Script": {
        "main": [
          [
            {
              "node": "Save Generated Script",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Build Emails": {
        "main": [
          [
            {
              "node": "Send Confirmation Email",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Load Envs": {
        "main": [
          [
            {
              "node": "Envs",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Envs": {
        "main": [
          [
            {
              "node": "Parse Token",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "If": {
        "main": [
          [
            {
              "node": "Image Generation Webhook",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Parse Token": {
        "main": [
          [
            {
              "node": "If Skip Token Check",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "If Skip Token Check": {
        "main": [
          [
            {
              "node": "Validate and Transform Order",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Get many rows",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Get many rows": {
        "main": [
          [
            {
              "node": "Validate Token",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Validate Token": {
        "main": [
          [
            {
              "node": "If Token Valid`",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "If Token Valid`": {
        "main": [
          [
            {
              "node": "Update a row",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Reject Token",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Update a row": {
        "main": [
          [
            {
              "node": "Validate and Transform Order",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Reject Token": {
        "main": [
          [
            {
              "node": "Fetch Token Rejected Email Template",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Fetch Confirmation Email Template": {
        "main": [
          [
            {
              "node": "Fetch Admin Email Template",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Fetch Admin Email Template": {
        "main": [
          [
            {
              "node": "Build Emails",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Fetch Token Rejected Email Template": {
        "main": [
          [
            {
              "node": "Prepare Reject Email",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Prepare Reject Email": {
        "main": [
          [
            {
              "node": "Send Confirmation Email1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Validate and Transform Order": {
        "main": [
          [
            {
              "node": "Save Order to Database",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Taras Holub",
    "name": "Version 61536f7c",
    "description": "",
    "autosaved": true
  },
  "tags": []
}