n8n_backup/3.1 EverMagic Scenario Expansion.json
{
  "updatedAt": "2026-03-19T01:58:57.624Z",
  "createdAt": "2026-03-13T21:53:11.011Z",
  "id": "0RjNFJjTNtErFbCV",
  "name": "3.1 EverMagic Scenario Expansion",
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "envs"
      },
      "id": "72f84c99-2b25-4fde-8cfe-07dc7d6441bd",
      "name": "Load Envs",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        224,
        0
      ],
      "credentials": {
        "supabaseApi": {
          "id": "EYHDNsSv530jAc06",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const raw = {};\nfor (const item of $input.all()) {\n  raw[item.json.key] = item.json.value;\n}\n\nconst env = {\n  mode: raw.mode,       \n  is_live: raw.mode === 'live',\n  script_approval_required: raw.script_approval_required === 'true', \n  evrm_token: raw.evrm_token\n};\n\nreturn [{ json: { env } }];\n"
      },
      "id": "b821664b-4c1f-4370-8864-2fd975743c3a",
      "name": "Envs",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        448,
        0
      ]
    },
    {
      "parameters": {
        "url": "=https://raw.githubusercontent.com/TarasGolub/evermagic/{{ $json.env.is_live ? 'main' : 'develop' }}/prompts/space_hero/expansion.md",
        "options": {}
      },
      "id": "0158b73f-8bbf-4f72-9706-46c2c7b927a2",
      "name": "Fetch Expansion Prompt",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        672,
        0
      ]
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "scripts",
        "matchType": "allFilters",
        "filters": {
          "conditions": [
            {
              "keyName": "status",
              "condition": "eq",
              "keyValue": "images_generated"
            }
          ]
        }
      },
      "id": "dbf152c4-0062-467a-b042-bbeef4ee131a",
      "name": "Fetch Scripts to Expand",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        880,
        0
      ],
      "credentials": {
        "supabaseApi": {
          "id": "EYHDNsSv530jAc06",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "orders",
        "matchType": "allFilters",
        "filters": {
          "conditions": [
            {
              "keyName": "order_id",
              "condition": "eq",
              "keyValue": "={{ $json.order_id }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "status",
              "fieldValue": "scenario_expanding"
            }
          ]
        }
      },
      "id": "b22feb28-d18e-4603-a5ee-212159d91541",
      "name": "Update Status: Expanding",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        1104,
        0
      ],
      "credentials": {
        "supabaseApi": {
          "id": "EYHDNsSv530jAc06",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "order_payloads",
        "matchType": "allFilters",
        "filters": {
          "conditions": [
            {
              "keyName": "order_id",
              "condition": "eq",
              "keyValue": "={{ $('Fetch Scripts to Expand').item.json.order_id }}"
            }
          ]
        }
      },
      "id": "8f64e70d-2e1d-4141-bd63-df895d852d74",
      "name": "Fetch Order Payload",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        1328,
        0
      ],
      "credentials": {
        "supabaseApi": {
          "id": "EYHDNsSv530jAc06",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const expansionPrompt = $('Fetch Expansion Prompt').first().json.data;\nconst script = $('Fetch Scripts to Expand').item.json;\nconst order = JSON.parse($('Fetch Order Payload').first().json.payload_json);\nconst child = order.child;\n\nconst scriptContent = typeof script.content === 'string'\n    ? JSON.parse(script.content)\n    : script.content;\n\nconst companion = scriptContent.characters?.[0] || {\n    name: 'a friendly companion',\n    type: 'other',\n    appearance: '',\n    personality: '',\n    connection_to_child: ''\n};\n\nconst scenesForPrompt = scriptContent.scenes.map(scene => ({\n    scene_number: scene.scene_number,\n    scene_title: scene.scene_title,\n    narration: scene.narration,\n    emotion: scene.emotion\n}));\n\nconst ageReadAloud = child.age <= 5;\n\nlet systemPrompt = expansionPrompt\n    .replace('{{child.age}}', child.age)\n    .replace('{{child.name}}', child.name)\n    .replace('{{child.hero_trait}}', child.hero_trait)\n    .replace('{{child.hobby}}', child.hobby)\n    .replace('{{child.hobby_detail}}', child.hobby_detail || 'not provided')\n    .replace('{{child.signature_look}}', child.signature_look || 'not provided')\n    .replace('{{child.recent_win}}', child.recent_win || 'not provided')\n    .replace('{{companion.name}}', companion.name)\n    .replace('{{companion.type}}', companion.type)\n    .replace('{{companion.appearance}}', companion.appearance)\n    .replace('{{companion.personality}}', companion.personality)\n    .replace('{{companion.connection_to_child}}', companion.connection_to_child)\n    .replace('{{scenes_json}}', JSON.stringify(scenesForPrompt, null, 2));\n\nconst readAloudBlock = /\\{\\{#if age_read_aloud\\}\\}([\\s\\S]*?)\\{\\{else\\}\\}([\\s\\S]*?)\\{\\{\\/if\\}\\}/;\nsystemPrompt = systemPrompt.replace(readAloudBlock, (_, readAloudContent, independentContent) => {\n    return ageReadAloud ? readAloudContent.trim() : independentContent.trim();\n});\n\nconst userPrompt = `Expand the story for ${child.name}, age ${child.age}. The companion is ${companion.name} (${companion.type}). Use the approved script above as your backbone.`;\n\nreturn [{\n    json: {\n        system_prompt: systemPrompt,\n        user_prompt: userPrompt,\n        order_id: script.order_id,\n        script_version: script.version\n    }\n}];\n"
      },
      "id": "93d629e7-a965-4ff1-8a49-750b9a2fed0e",
      "name": "Build Expansion Prompt",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1552,
        0
      ]
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4o",
          "mode": "list",
          "cachedResultName": "GPT-4O"
        },
        "responses": {
          "values": [
            {
              "role": "system",
              "content": "={{ $json.system_prompt }}"
            },
            {
              "content": "={{ $json.user_prompt }}"
            }
          ]
        },
        "builtInTools": {},
        "options": {
          "maxTokens": 4000,
          "temperature": 0.8
        }
      },
      "id": "631e17c4-5ed1-4a7a-ad2f-06e1783d7688",
      "name": "Call OpenAI GPT-4o",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2.1,
      "position": [
        1760,
        0
      ],
      "credentials": {
        "openAiApi": {
          "id": "bkm4C85zHfe8HSHa",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const aiOutput = $input.first().json;\n\nlet rawText;\nif (aiOutput.output?.[0]?.content?.[0]?.text) {\n    rawText = aiOutput.output[0].content[0].text;\n} else if (aiOutput.message?.content) {\n    rawText = aiOutput.message.content;\n} else if (aiOutput.text) {\n    rawText = aiOutput.text;\n} else if (typeof aiOutput === 'string') {\n    rawText = aiOutput;\n} else {\n    throw new Error('Unexpected AI output shape: ' + JSON.stringify(Object.keys(aiOutput)));\n}\n\nconst cleaned = rawText\n\t.trim()\n\t.replace(/^```json\\s*/i, '')\n\t.replace(/^```\\s*/i, '')\n\t.replace(/\\s*```$/, '')\n\t.trim();\n\nconst expanded = JSON.parse(cleaned);\n\nif (!expanded.scenes || expanded.scenes.length !== 5) {\n    throw new Error(`Expected 5 scenes, got ${expanded.scenes?.length ?? 0}`);\n}\n\nfor (const scene of expanded.scenes) {\n    if (!scene.expanded_narrative) {\n        throw new Error(`Scene ${scene.scene_number} is missing expanded_narrative`);\n    }\n}\n\nconst context = $('Build Expansion Prompt').item.json;\n\nreturn [{\n    json: {\n        order_id: context.order_id,\n        script_version: context.script_version,\n        expanded_content: expanded\n    }\n}];\n"
      },
      "id": "06439ab9-4df3-4714-894d-f9d1a270d3b2",
      "name": "Parse Expansion Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2096,
        0
      ]
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "scripts",
        "matchType": "allFilters",
        "filters": {
          "conditions": [
            {
              "keyName": "order_id",
              "condition": "eq",
              "keyValue": "={{ $json.order_id }}"
            },
            {
              "keyName": "version",
              "condition": "eq",
              "keyValue": "={{ $json.script_version }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "expanded_content",
              "fieldValue": "={{ JSON.stringify($json.expanded_content) }}"
            },
            {
              "fieldId": "status",
              "fieldValue": "scenario_expanded"
            }
          ]
        }
      },
      "id": "2eb6aa39-cf8e-4219-8d84-aeefd1b2507b",
      "name": "Save Expanded Content",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        2320,
        0
      ],
      "credentials": {
        "supabaseApi": {
          "id": "EYHDNsSv530jAc06",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "orders",
        "matchType": "allFilters",
        "filters": {
          "conditions": [
            {
              "keyName": "order_id",
              "condition": "eq",
              "keyValue": "={{ $json.order_id }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "status",
              "fieldValue": "scenario_expanded"
            }
          ]
        }
      },
      "id": "c2088f30-6af0-4e73-b691-33c8a5a433ca",
      "name": "Update Order Status",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        2544,
        0
      ],
      "credentials": {
        "supabaseApi": {
          "id": "EYHDNsSv530jAc06",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "orders/expansion/start",
        "authentication": "headerAuth",
        "options": {}
      },
      "id": "e1838c5d-a7bb-4a51-9d17-1032beb2d5e8",
      "name": "Expand Scripts",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        0,
        0
      ],
      "webhookId": "3400869c-97d1-43b1-bd9e-2ac83351117a",
      "alwaysOutputData": false,
      "credentials": {
        "httpHeaderAuth": {
          "id": "Pc4RF1BUmq9cRkHn",
          "name": "Header Auth account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://evermagic.app.n8n.cloud/webhook{{ $('Envs').item.json.env.is_live ? '' : '-test' }}/orders/pdf/generate",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-EverMagic-Token",
              "value": "={{ $('Envs').item.json.env.evrm_token }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        2752,
        0
      ],
      "id": "93f6f402-86f2-407d-b86d-0e327c77072d",
      "name": "PDF Generate Webhook"
    }
  ],
  "connections": {
    "Load Envs": {
      "main": [
        [
          {
            "node": "Envs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Envs": {
      "main": [
        [
          {
            "node": "Fetch Expansion Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Expansion Prompt": {
      "main": [
        [
          {
            "node": "Fetch Scripts to Expand",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Scripts to Expand": {
      "main": [
        [
          {
            "node": "Update Status: Expanding",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Status: Expanding": {
      "main": [
        [
          {
            "node": "Fetch Order Payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Order Payload": {
      "main": [
        [
          {
            "node": "Build Expansion Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Expansion Prompt": {
      "main": [
        [
          {
            "node": "Call OpenAI GPT-4o",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call OpenAI GPT-4o": {
      "main": [
        [
          {
            "node": "Parse Expansion Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Expansion Response": {
      "main": [
        [
          {
            "node": "Save Expanded Content",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save Expanded Content": {
      "main": [
        [
          {
            "node": "Update Order Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Expand Scripts": {
      "main": [
        [
          {
            "node": "Load Envs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Order Status": {
      "main": [
        [
          {
            "node": "PDF Generate Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "staticData": null,
  "meta": null,
  "pinData": {},
  "versionId": "4248df8e-8690-4c60-879d-b9ca20e38996",
  "activeVersionId": "4248df8e-8690-4c60-879d-b9ca20e38996",
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2026-03-13T21:53:11.013Z",
      "createdAt": "2026-03-13T21:53:11.013Z",
      "role": "workflow:owner",
      "workflowId": "0RjNFJjTNtErFbCV",
      "projectId": "Ez9yaDRraIYPeCTc"
    }
  ],
  "activeVersion": {
    "updatedAt": "2026-03-19T01:59:10.000Z",
    "createdAt": "2026-03-19T01:58:57.624Z",
    "versionId": "4248df8e-8690-4c60-879d-b9ca20e38996",
    "workflowId": "0RjNFJjTNtErFbCV",
    "nodes": [
      {
        "parameters": {
          "operation": "getAll",
          "tableId": "envs"
        },
        "id": "72f84c99-2b25-4fde-8cfe-07dc7d6441bd",
        "name": "Load Envs",
        "type": "n8n-nodes-base.supabase",
        "typeVersion": 1,
        "position": [
          224,
          0
        ],
        "credentials": {
          "supabaseApi": {
            "id": "EYHDNsSv530jAc06",
            "name": "Supabase account"
          }
        }
      },
      {
        "parameters": {
          "jsCode": "const raw = {};\nfor (const item of $input.all()) {\n  raw[item.json.key] = item.json.value;\n}\n\nconst env = {\n  mode: raw.mode,       \n  is_live: raw.mode === 'live',\n  script_approval_required: raw.script_approval_required === 'true', \n  evrm_token: raw.evrm_token\n};\n\nreturn [{ json: { env } }];\n"
        },
        "id": "b821664b-4c1f-4370-8864-2fd975743c3a",
        "name": "Envs",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          448,
          0
        ]
      },
      {
        "parameters": {
          "url": "=https://raw.githubusercontent.com/TarasGolub/evermagic/{{ $json.env.is_live ? 'main' : 'develop' }}/prompts/space_hero/expansion.md",
          "options": {}
        },
        "id": "0158b73f-8bbf-4f72-9706-46c2c7b927a2",
        "name": "Fetch Expansion Prompt",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.4,
        "position": [
          672,
          0
        ]
      },
      {
        "parameters": {
          "operation": "getAll",
          "tableId": "scripts",
          "matchType": "allFilters",
          "filters": {
            "conditions": [
              {
                "keyName": "status",
                "condition": "eq",
                "keyValue": "images_generated"
              }
            ]
          }
        },
        "id": "dbf152c4-0062-467a-b042-bbeef4ee131a",
        "name": "Fetch Scripts to Expand",
        "type": "n8n-nodes-base.supabase",
        "typeVersion": 1,
        "position": [
          880,
          0
        ],
        "credentials": {
          "supabaseApi": {
            "id": "EYHDNsSv530jAc06",
            "name": "Supabase account"
          }
        }
      },
      {
        "parameters": {
          "operation": "update",
          "tableId": "orders",
          "matchType": "allFilters",
          "filters": {
            "conditions": [
              {
                "keyName": "order_id",
                "condition": "eq",
                "keyValue": "={{ $json.order_id }}"
              }
            ]
          },
          "fieldsUi": {
            "fieldValues": [
              {
                "fieldId": "status",
                "fieldValue": "scenario_expanding"
              }
            ]
          }
        },
        "id": "b22feb28-d18e-4603-a5ee-212159d91541",
        "name": "Update Status: Expanding",
        "type": "n8n-nodes-base.supabase",
        "typeVersion": 1,
        "position": [
          1104,
          0
        ],
        "credentials": {
          "supabaseApi": {
            "id": "EYHDNsSv530jAc06",
            "name": "Supabase account"
          }
        }
      },
      {
        "parameters": {
          "operation": "getAll",
          "tableId": "order_payloads",
          "matchType": "allFilters",
          "filters": {
            "conditions": [
              {
                "keyName": "order_id",
                "condition": "eq",
                "keyValue": "={{ $('Fetch Scripts to Expand').item.json.order_id }}"
              }
            ]
          }
        },
        "id": "8f64e70d-2e1d-4141-bd63-df895d852d74",
        "name": "Fetch Order Payload",
        "type": "n8n-nodes-base.supabase",
        "typeVersion": 1,
        "position": [
          1328,
          0
        ],
        "credentials": {
          "supabaseApi": {
            "id": "EYHDNsSv530jAc06",
            "name": "Supabase account"
          }
        }
      },
      {
        "parameters": {
          "jsCode": "const expansionPrompt = $('Fetch Expansion Prompt').first().json.data;\nconst script = $('Fetch Scripts to Expand').item.json;\nconst order = JSON.parse($('Fetch Order Payload').first().json.payload_json);\nconst child = order.child;\n\nconst scriptContent = typeof script.content === 'string'\n    ? JSON.parse(script.content)\n    : script.content;\n\nconst companion = scriptContent.characters?.[0] || {\n    name: 'a friendly companion',\n    type: 'other',\n    appearance: '',\n    personality: '',\n    connection_to_child: ''\n};\n\nconst scenesForPrompt = scriptContent.scenes.map(scene => ({\n    scene_number: scene.scene_number,\n    scene_title: scene.scene_title,\n    narration: scene.narration,\n    emotion: scene.emotion\n}));\n\nconst ageReadAloud = child.age <= 5;\n\nlet systemPrompt = expansionPrompt\n    .replace('{{child.age}}', child.age)\n    .replace('{{child.name}}', child.name)\n    .replace('{{child.hero_trait}}', child.hero_trait)\n    .replace('{{child.hobby}}', child.hobby)\n    .replace('{{child.hobby_detail}}', child.hobby_detail || 'not provided')\n    .replace('{{child.signature_look}}', child.signature_look || 'not provided')\n    .replace('{{child.recent_win}}', child.recent_win || 'not provided')\n    .replace('{{companion.name}}', companion.name)\n    .replace('{{companion.type}}', companion.type)\n    .replace('{{companion.appearance}}', companion.appearance)\n    .replace('{{companion.personality}}', companion.personality)\n    .replace('{{companion.connection_to_child}}', companion.connection_to_child)\n    .replace('{{scenes_json}}', JSON.stringify(scenesForPrompt, null, 2));\n\nconst readAloudBlock = /\\{\\{#if age_read_aloud\\}\\}([\\s\\S]*?)\\{\\{else\\}\\}([\\s\\S]*?)\\{\\{\\/if\\}\\}/;\nsystemPrompt = systemPrompt.replace(readAloudBlock, (_, readAloudContent, independentContent) => {\n    return ageReadAloud ? readAloudContent.trim() : independentContent.trim();\n});\n\nconst userPrompt = `Expand the story for ${child.name}, age ${child.age}. The companion is ${companion.name} (${companion.type}). Use the approved script above as your backbone.`;\n\nreturn [{\n    json: {\n        system_prompt: systemPrompt,\n        user_prompt: userPrompt,\n        order_id: script.order_id,\n        script_version: script.version\n    }\n}];\n"
        },
        "id": "93d629e7-a965-4ff1-8a49-750b9a2fed0e",
        "name": "Build Expansion Prompt",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          1552,
          0
        ]
      },
      {
        "parameters": {
          "modelId": {
            "__rl": true,
            "value": "gpt-4o",
            "mode": "list",
            "cachedResultName": "GPT-4O"
          },
          "responses": {
            "values": [
              {
                "role": "system",
                "content": "={{ $json.system_prompt }}"
              },
              {
                "content": "={{ $json.user_prompt }}"
              }
            ]
          },
          "builtInTools": {},
          "options": {
            "maxTokens": 4000,
            "temperature": 0.8
          }
        },
        "id": "631e17c4-5ed1-4a7a-ad2f-06e1783d7688",
        "name": "Call OpenAI GPT-4o",
        "type": "@n8n/n8n-nodes-langchain.openAi",
        "typeVersion": 2.1,
        "position": [
          1760,
          0
        ],
        "credentials": {
          "openAiApi": {
            "id": "bkm4C85zHfe8HSHa",
            "name": "OpenAi account"
          }
        }
      },
      {
        "parameters": {
          "jsCode": "const aiOutput = $input.first().json;\n\nlet rawText;\nif (aiOutput.output?.[0]?.content?.[0]?.text) {\n    rawText = aiOutput.output[0].content[0].text;\n} else if (aiOutput.message?.content) {\n    rawText = aiOutput.message.content;\n} else if (aiOutput.text) {\n    rawText = aiOutput.text;\n} else if (typeof aiOutput === 'string') {\n    rawText = aiOutput;\n} else {\n    throw new Error('Unexpected AI output shape: ' + JSON.stringify(Object.keys(aiOutput)));\n}\n\nconst cleaned = rawText\n\t.trim()\n\t.replace(/^```json\\s*/i, '')\n\t.replace(/^```\\s*/i, '')\n\t.replace(/\\s*```$/, '')\n\t.trim();\n\nconst expanded = JSON.parse(cleaned);\n\nif (!expanded.scenes || expanded.scenes.length !== 5) {\n    throw new Error(`Expected 5 scenes, got ${expanded.scenes?.length ?? 0}`);\n}\n\nfor (const scene of expanded.scenes) {\n    if (!scene.expanded_narrative) {\n        throw new Error(`Scene ${scene.scene_number} is missing expanded_narrative`);\n    }\n}\n\nconst context = $('Build Expansion Prompt').item.json;\n\nreturn [{\n    json: {\n        order_id: context.order_id,\n        script_version: context.script_version,\n        expanded_content: expanded\n    }\n}];\n"
        },
        "id": "06439ab9-4df3-4714-894d-f9d1a270d3b2",
        "name": "Parse Expansion Response",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          2096,
          0
        ]
      },
      {
        "parameters": {
          "operation": "update",
          "tableId": "scripts",
          "matchType": "allFilters",
          "filters": {
            "conditions": [
              {
                "keyName": "order_id",
                "condition": "eq",
                "keyValue": "={{ $json.order_id }}"
              },
              {
                "keyName": "version",
                "condition": "eq",
                "keyValue": "={{ $json.script_version }}"
              }
            ]
          },
          "fieldsUi": {
            "fieldValues": [
              {
                "fieldId": "expanded_content",
                "fieldValue": "={{ JSON.stringify($json.expanded_content) }}"
              },
              {
                "fieldId": "status",
                "fieldValue": "scenario_expanded"
              }
            ]
          }
        },
        "id": "2eb6aa39-cf8e-4219-8d84-aeefd1b2507b",
        "name": "Save Expanded Content",
        "type": "n8n-nodes-base.supabase",
        "typeVersion": 1,
        "position": [
          2320,
          0
        ],
        "credentials": {
          "supabaseApi": {
            "id": "EYHDNsSv530jAc06",
            "name": "Supabase account"
          }
        }
      },
      {
        "parameters": {
          "operation": "update",
          "tableId": "orders",
          "matchType": "allFilters",
          "filters": {
            "conditions": [
              {
                "keyName": "order_id",
                "condition": "eq",
                "keyValue": "={{ $json.order_id }}"
              }
            ]
          },
          "fieldsUi": {
            "fieldValues": [
              {
                "fieldId": "status",
                "fieldValue": "scenario_expanded"
              }
            ]
          }
        },
        "id": "c2088f30-6af0-4e73-b691-33c8a5a433ca",
        "name": "Update Order Status",
        "type": "n8n-nodes-base.supabase",
        "typeVersion": 1,
        "position": [
          2544,
          0
        ],
        "credentials": {
          "supabaseApi": {
            "id": "EYHDNsSv530jAc06",
            "name": "Supabase account"
          }
        }
      },
      {
        "parameters": {
          "httpMethod": "POST",
          "path": "orders/expansion/start",
          "authentication": "headerAuth",
          "options": {}
        },
        "id": "e1838c5d-a7bb-4a51-9d17-1032beb2d5e8",
        "name": "Expand Scripts",
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 2.1,
        "position": [
          0,
          0
        ],
        "webhookId": "3400869c-97d1-43b1-bd9e-2ac83351117a",
        "alwaysOutputData": false,
        "credentials": {
          "httpHeaderAuth": {
            "id": "Pc4RF1BUmq9cRkHn",
            "name": "Header Auth account"
          }
        }
      },
      {
        "parameters": {
          "method": "POST",
          "url": "=https://evermagic.app.n8n.cloud/webhook{{ $('Envs').item.json.env.is_live ? '' : '-test' }}/orders/pdf/generate",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "X-EverMagic-Token",
                "value": "={{ $('Envs').item.json.env.evrm_token }}"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.4,
        "position": [
          2752,
          0
        ],
        "id": "93f6f402-86f2-407d-b86d-0e327c77072d",
        "name": "PDF Generate Webhook"
      }
    ],
    "connections": {
      "Load Envs": {
        "main": [
          [
            {
              "node": "Envs",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Envs": {
        "main": [
          [
            {
              "node": "Fetch Expansion Prompt",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Fetch Expansion Prompt": {
        "main": [
          [
            {
              "node": "Fetch Scripts to Expand",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Fetch Scripts to Expand": {
        "main": [
          [
            {
              "node": "Update Status: Expanding",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Update Status: Expanding": {
        "main": [
          [
            {
              "node": "Fetch Order Payload",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Fetch Order Payload": {
        "main": [
          [
            {
              "node": "Build Expansion Prompt",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Build Expansion Prompt": {
        "main": [
          [
            {
              "node": "Call OpenAI GPT-4o",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Call OpenAI GPT-4o": {
        "main": [
          [
            {
              "node": "Parse Expansion Response",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Parse Expansion Response": {
        "main": [
          [
            {
              "node": "Save Expanded Content",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Save Expanded Content": {
        "main": [
          [
            {
              "node": "Update Order Status",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Expand Scripts": {
        "main": [
          [
            {
              "node": "Load Envs",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Update Order Status": {
        "main": [
          [
            {
              "node": "PDF Generate Webhook",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Taras Holub",
    "name": "Version 4248df8e",
    "description": "",
    "autosaved": true
  },
  "tags": []
}