n8n_backup/3.1 EverMagic Scenario Expansion.json
{
  "name": "3.1 EverMagic Scenario Expansion",
  "nodes": [
    {
      "id": "e1838c5d-a7bb-4a51-9d17-1032beb2d5e8",
      "name": "Expand Scripts",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -192,
        0
      ],
      "webhookId": "3400869c-97d1-43b1-bd9e-2ac83351117a",
      "alwaysOutputData": false,
      "parameters": {
        "httpMethod": "POST",
        "path": "orders/expansion/start",
        "authentication": "headerAuth",
        "options": {}
      },
      "credentials": {
        "httpHeaderAuth": {
          "id": "Pc4RF1BUmq9cRkHn",
          "name": "Header Auth account"
        }
      }
    },
    {
      "id": "72f84c99-2b25-4fde-8cfe-07dc7d6441bd",
      "name": "Load Envs",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        32,
        0
      ],
      "parameters": {
        "operation": "getAll",
        "tableId": "envs"
      },
      "credentials": {
        "supabaseApi": {
          "id": "EYHDNsSv530jAc06",
          "name": "Supabase account"
        }
      }
    },
    {
      "id": "b821664b-4c1f-4370-8864-2fd975743c3a",
      "name": "Envs",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        256,
        0
      ],
      "parameters": {
        "jsCode": "const raw = {};\nfor (const item of $input.all()) {\n  raw[item.json.key] = item.json.value;\n}\n\nconst env = {\n  mode: raw.mode,       \n  is_live: raw.mode === 'live',\n  script_approval_required: raw.script_approval_required === 'true', \n  evrm_token: raw.evrm_token\n};\n\nreturn [{ json: { env } }];\n"
      }
    },
    {
      "id": "dbf152c4-0062-467a-b042-bbeef4ee131a",
      "name": "Fetch Scripts to Expand",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        480,
        0
      ],
      "parameters": {
        "operation": "getAll",
        "tableId": "scripts",
        "matchType": "allFilters",
        "filters": {
          "conditions": [
            {
              "keyName": "status",
              "condition": "eq",
              "keyValue": "images_generated"
            }
          ]
        }
      },
      "credentials": {
        "supabaseApi": {
          "id": "EYHDNsSv530jAc06",
          "name": "Supabase account"
        }
      }
    },
    {
      "id": "dba1050e-0362-44a2-a0e0-9d4ddcf26d85",
      "name": "Log Execution",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        700,
        0
      ],
      "parameters": {
        "tableId": "execution_log",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "order_id",
              "fieldValue": "={{ $json.order_id }}"
            },
            {
              "fieldId": "execution_id",
              "fieldValue": "={{ $execution.id }}"
            },
            {
              "fieldId": "workflow_name",
              "fieldValue": "3.1 EverMagic Scenario Expansion"
            },
            {
              "fieldId": "stage",
              "fieldValue": "Scenario Expansion"
            }
          ]
        }
      },
      "credentials": {
        "supabaseApi": {
          "id": "EYHDNsSv530jAc06",
          "name": "Supabase account"
        }
      }
    },
    {
      "id": "b22feb28-d18e-4603-a5ee-212159d91541",
      "name": "Update Status: Expanding",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        920,
        0
      ],
      "parameters": {
        "operation": "update",
        "tableId": "orders",
        "matchType": "allFilters",
        "filters": {
          "conditions": [
            {
              "keyName": "order_id",
              "condition": "eq",
              "keyValue": "={{ $json.order_id }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "status",
              "fieldValue": "scenario_expanding"
            }
          ]
        }
      },
      "credentials": {
        "supabaseApi": {
          "id": "EYHDNsSv530jAc06",
          "name": "Supabase account"
        }
      }
    },
    {
      "id": "8f64e70d-2e1d-4141-bd63-df895d852d74",
      "name": "Fetch Order Payload",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        1140,
        0
      ],
      "parameters": {
        "operation": "getAll",
        "tableId": "order_payloads",
        "matchType": "allFilters",
        "filters": {
          "conditions": [
            {
              "keyName": "order_id",
              "condition": "eq",
              "keyValue": "={{ $('Fetch Scripts to Expand').item.json.order_id }}"
            }
          ]
        }
      },
      "credentials": {
        "supabaseApi": {
          "id": "EYHDNsSv530jAc06",
          "name": "Supabase account"
        }
      }
    },
    {
      "id": "0158b73f-8bbf-4f72-9706-46c2c7b927a2",
      "name": "Fetch Expansion Prompt",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1360,
        -120
      ],
      "parameters": {
        "url": "=https://raw.githubusercontent.com/TarasGolub/evermagic/{{ $('Envs').first().json.env.is_live ? 'main' : 'develop' }}/prompts/{{ JSON.parse($('Fetch Order Payload').first().json.payload_json).theme.toLowerCase() }}/expansion.md",
        "options": {}
      }
    },
    {
      "id": "fa120001-0001-4001-a001-000000000001",
      "name": "Fetch QA Prompt",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1360,
        120
      ],
      "parameters": {
        "url": "=https://raw.githubusercontent.com/TarasGolub/evermagic/{{ $('Envs').first().json.env.is_live ? 'main' : 'develop' }}/prompts/shared/expansion_qa.md",
        "options": {}
      }
    },
    {
      "id": "93d629e7-a965-4ff1-8a49-750b9a2fed0e",
      "name": "Build Expansion Prompt",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1600,
        0
      ],
      "alwaysOutputData": true,
      "parameters": {
        "jsCode": "const expansionPrompt = $('Fetch Expansion Prompt').first().json.data;\nconst script = $('Fetch Scripts to Expand').item.json;\nconst order = JSON.parse($('Fetch Order Payload').first().json.payload_json);\nconst child = order.child;\n\nconst scriptContent = typeof script.content === 'string'\n    ? JSON.parse(script.content)\n    : script.content;\n\nconst companion = scriptContent.characters?.[0] || {\n    name: 'a friendly companion',\n    type: 'other',\n    appearance: '',\n    personality: '',\n    connection_to_child: ''\n};\n\nconst scenesForPrompt = scriptContent.scenes.map(scene => ({\n    scene_number: scene.scene_number,\n    scene_title: scene.scene_title,\n    narration: scene.narration,\n    emotion: scene.emotion\n}));\n\nconst ageReadAloud = child.age <= 5;\n\n// Age-specific reading level guidance — injected as {{reading_level_guidance}}\n// Replaces the generic \"grade 2-3\" line with concrete vocabulary rules per age tier.\n// Gives GPT explicit word-choice constraints so it stops defaulting to literary prose.\nfunction getReadingLevelGuidance(age) {\n    if (age <= 7) return (\n        `- Age ${age} — Grade 1–2 level: very short sentences (5–10 words each). ` +\n        `Only words a child this age already knows. ` +\n        `Use: \"big\", \"fast\", \"glowing\", \"zoomed\", \"cracked\", \"laughed\". ` +\n        `Avoid: \"enormous\", \"vibrant\", \"luminous\", \"cascade\", \"silhouette\", \"emerged\", \"beneath\". ` +\n        `One idea per sentence. Lots of exclamations and short punchy questions.`\n    );\n    if (age <= 9) return (\n        `- Age ${age} — Grade 3–4 level: short-to-medium sentences (8–15 words). ` +\n        `Common adventure vocabulary is fine: \"glowing\", \"mysterious\", \"ancient\", \"whooshed\", \"exploded\". ` +\n        `Avoid adult/literary words: \"luminous\", \"cascade\", \"silhouette\", \"ethereal\", \"emanating\", \"resplendent\". ` +\n        `Mix short punchy sentences at exciting moments with slightly longer ones for descriptions.`\n    );\n    return (\n        `- Age ${age} — Grade 4–5 level: varied sentence length for pacing — short bursts at peaks, longer for atmosphere. ` +\n        `Adventure vocabulary OK: \"ancient\", \"discovery\", \"enormous\", \"vibrating\", \"mysterious\". ` +\n        `Still avoid literary/adult prose: \"luminous\", \"cascade\", \"ethereal\", \"emanating\", \"shimmered\" (use \"glowed\"). ` +\n        `Use a one-word sentence or fragment for dramatic effect.`\n    );\n}\n\nconst readingLevelGuidance = getReadingLevelGuidance(child.age);\n\nlet systemPrompt = expansionPrompt\n    .replace('{{child.age}}', child.age)\n    .replace('{{child.name}}', child.name)\n    .replace('{{child.hero_trait}}', child.hero_trait)\n    .replace('{{child.hobby}}', child.hobby)\n    .replace('{{child.hobby_detail}}', child.hobby_detail || 'not provided')\n    .replace('{{child.signature_look}}', child.signature_look || 'not provided')\n    .replace('{{child.recent_win}}', child.recent_win || 'not provided')\n    .replace('{{companion.name}}', companion.name)\n    .replace('{{companion.type}}', companion.type)\n    .replace('{{companion.appearance}}', companion.appearance)\n    .replace('{{companion.personality}}', companion.personality)\n    .replace('{{companion.connection_to_child}}', companion.connection_to_child)\n    .replace('{{reading_level_guidance}}', readingLevelGuidance)\n    .replace('{{scenes_json}}', JSON.stringify(scenesForPrompt, null, 2));\n\nconst readAloudBlock = /\\{\\{#if age_read_aloud\\}\\}([\\s\\S]*?)\\{\\{else\\}\\}([\\s\\S]*?)\\{\\{\\/if\\}\\}/;\nsystemPrompt = systemPrompt.replace(readAloudBlock, (_, readAloudContent, independentContent) => {\n    return ageReadAloud ? readAloudContent.trim() : independentContent.trim();\n});\n\nconst userPrompt = `Expand the story for ${child.name}, age ${child.age}. The companion is ${companion.name} (${companion.type}). Use the approved script above as your backbone.`;\n\nreturn [{\n    json: {\n        system_prompt: systemPrompt,\n        user_prompt: userPrompt,\n        order_id: script.order_id,\n        script_version: script.version\n    }\n}];\n"
      }
    },
    {
      "id": "631e17c4-5ed1-4a7a-ad2f-06e1783d7688",
      "name": "Call OpenAI GPT-4o",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2.1,
      "position": [
        1820,
        0
      ],
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4o",
          "mode": "list",
          "cachedResultName": "GPT-4O"
        },
        "responses": {
          "values": [
            {
              "role": "system",
              "content": "={{ $json.system_prompt }}"
            },
            {
              "content": "={{ $json.user_prompt }}"
            }
          ]
        },
        "builtInTools": {},
        "options": {
          "maxTokens": 4000,
          "temperature": 0.8
        }
      },
      "credentials": {
        "openAiApi": {
          "id": "bkm4C85zHfe8HSHa",
          "name": "OpenAi account"
        }
      }
    },
    {
      "id": "fa120002-0002-4002-a002-000000000002",
      "name": "Build QA Prompt",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2040,
        0
      ],
      "parameters": {
        "jsCode": "// n8n Code node — \"Build QA Prompt\"\n// ─────────────────────────────────────────────────────────────\n// Placed in \"3.1 EverMagic Scenario Expansion\", AFTER:\n//   - 'Call OpenAI GPT-4o'      (first story generation)\n// Also reads (from earlier in the loop):\n//   - 'Build Expansion Prompt'  (original context + prompts)\n//   - 'Fetch Order Payload'     (child/companion details)\n//   - 'Fetch Scripts to Expand' (current script item)\n//   - 'Fetch QA Prompt'         (HTTP GET — expansion_qa.md)\n// Feeds into: 'QA Check' (HTTP POST → OpenAI)\n// ─────────────────────────────────────────────────────────────\n\n// ── Thresholds (tune here without touching logic) ─────────────\nconst MIN_SCENE_WORDS    = 200;   // scenes shorter than this are flagged\nconst MAX_SCENE_WORDS    = 340;   // scenes longer than this are flagged\nconst MAX_SENTENCE_WORDS = 30;    // sentences over this many words are flagged as dense\n\n// ── Context ───────────────────────────────────────────────────\nconst context    = $('Build Expansion Prompt').first().json;\nconst qaTemplate = $('Fetch QA Prompt').first().json.data;  // pure rules, no placeholders\n\n// ── 1. Extract generated story text from OpenAI response ──────\nconst aiOutput = $input.first().json;\nlet rawStory;\nif (aiOutput.choices?.[0]?.message?.content) {\n    rawStory = aiOutput.choices[0].message.content;\n} else if (aiOutput.output?.[0]?.content?.[0]?.text) {\n    rawStory = aiOutput.output[0].content[0].text;\n} else if (aiOutput.message?.content) {\n    rawStory = aiOutput.message.content;\n} else if (aiOutput.text) {\n    rawStory = aiOutput.text;\n} else {\n    rawStory = JSON.stringify(aiOutput);\n}\n\n// ── 2. Hard structural validation ────────────────────────────\n// Structural failures are fundamentally different from quality issues.\n// If the story JSON is broken, skip real QA and force retry immediately.\nlet story = null;\nlet storyValid = false;\nlet hardFail = false;\nlet hardFailReason = null;\n\ntry {\n    story = JSON.parse(rawStory);\n\n    if (!story.scenes || !Array.isArray(story.scenes)) {\n        hardFail = true;\n        hardFailReason = 'Story output is missing the scenes array entirely.';\n    } else if (story.scenes.length !== 5) {\n        hardFail = true;\n        hardFailReason = `Expected 5 scenes, got ${story.scenes.length}.`;\n    } else {\n        const missingNarrative = story.scenes.find(s => !s.expanded_narrative);\n        if (missingNarrative) {\n            hardFail = true;\n            hardFailReason = `Scene ${missingNarrative.scene_number} is missing expanded_narrative.`;\n        } else {\n            storyValid = true;\n        }\n    }\n} catch (_) {\n    hardFail = true;\n    hardFailReason = 'Story output could not be parsed as JSON. The model may have returned malformed output.';\n}\n\n// ── Hard fail shortcut — send dummy request, Parse QA Response will intercept ──\nif (hardFail) {\n    return [{\n        json: {\n            request_body: {\n                model: 'gpt-4o-mini',\n                messages: [{ role: 'user', content: 'Reply with exactly: {\"ok\":true}' }],\n                max_tokens: 10,\n                temperature: 0,\n            },\n            hard_fail:       true,\n            hard_fail_reason: hardFailReason,\n            story_valid:     false,\n            heuristic_flags: [],\n            raw_story:       rawStory,\n            order_id:        context.order_id,\n            script_version:  context.script_version,\n        },\n    }];\n}\n\n// ── 3. Normalize story JSON for consistent QA input ───────────\nconst normalizedStory = JSON.stringify(story, null, 2);\n\n// ── 4. Heuristic pre-check ────────────────────────────────────\nconst heuristicFlags = [];\n\n// Word count helpers\nfunction wordCount(text) {\n    return text.split(/\\s+/).filter(Boolean).length;\n}\nfunction sentenceWordCounts(text) {\n    return text.split(/[.!?]+/).filter(s => s.trim().length > 0).map(s => wordCount(s));\n}\n\nfor (const scene of story.scenes) {\n    const text  = scene.expanded_narrative;\n    const words = wordCount(text);\n    const sentWords = sentenceWordCounts(text);\n    const denseSentences = sentWords.filter(w => w > MAX_SENTENCE_WORDS).length;\n\n    if (words > MAX_SCENE_WORDS) {\n        heuristicFlags.push(`Scene ${scene.scene_number}: too long (${words} words, max ${MAX_SCENE_WORDS})`);\n    }\n    if (words < MIN_SCENE_WORDS) {\n        heuristicFlags.push(`Scene ${scene.scene_number}: too short (${words} words, min ${MIN_SCENE_WORDS})`);\n    }\n    if (scene.scene_number === 1 && denseSentences > 2) {\n        heuristicFlags.push(`Scene 1: ${denseSentences} dense sentences (>${MAX_SENTENCE_WORDS} words each) — possible crowding`);\n    }\n}\n\n// Child name presence (must appear in at least 3 scenes)\nconst orderPayload  = JSON.parse($('Fetch Order Payload').first().json.payload_json);\nconst child         = orderPayload.child;\nconst scriptRow     = $('Fetch Scripts to Expand').item.json;\nconst scriptContent = typeof scriptRow.content === 'string'\n    ? JSON.parse(scriptRow.content)\n    : scriptRow.content;\nconst companion = scriptContent.characters?.[0] || { name: null };\n\nconst childNameLower     = (child.name || '').toLowerCase();\nconst companionNameLower = (companion.name || '').toLowerCase();\n\nif (childNameLower) {\n    const scenesWithChild = story.scenes.filter(s =>\n        s.expanded_narrative.toLowerCase().includes(childNameLower)\n    ).length;\n    if (scenesWithChild < 3) {\n        heuristicFlags.push(`Child name \"${child.name}\" appears in only ${scenesWithChild}/5 scenes`);\n    }\n}\n\nif (companionNameLower) {\n    const scenesWithCompanion = story.scenes.filter(s =>\n        s.expanded_narrative.toLowerCase().includes(companionNameLower)\n    ).length;\n    if (scenesWithCompanion < 3) {\n        heuristicFlags.push(`Companion \"${companion.name}\" appears in only ${scenesWithCompanion}/5 scenes`);\n    }\n}\n\n// ── 5. Build user message (child context + story) ─────────────\nconst heuristicBlock = heuristicFlags.length > 0\n    ? `\\n\\nAUTOMATED PRE-CHECK FLAGS (treat as additional evidence when scoring):\\n${heuristicFlags.map(f => `• ${f}`).join('\\n')}`\n    : '';\n\nconst userMessage =\n`## Story to evaluate\n\n- Child name: ${child.name       || '(not provided)'}\n- Child age:  ${child.age        || '(not provided)'}\n- Hobby:      ${child.hobby      || '(not provided)'}\n- Recent win: ${child.recent_win || '(not provided)'}\n- Companion:  ${companion.name   || '(not defined in script)'}\n\n${normalizedStory}${heuristicBlock}\n\nEvaluate the story. Return only the JSON assessment.`;\n\nreturn [{\n    json: {\n        request_body: {\n            model: 'gpt-4o-mini',\n            messages: [\n                { role: 'system', content: qaTemplate },\n                { role: 'user',   content: userMessage },\n            ],\n            max_tokens:  600,\n            temperature: 0.1,\n        },\n        hard_fail:       false,\n        story_valid:     storyValid,\n        raw_story:       rawStory,\n        heuristic_flags: heuristicFlags,\n        order_id:        context.order_id,\n        script_version:  context.script_version,\n    },\n}];\n"
      }
    },
    {
      "id": "fa120003-0003-4003-a003-000000000003",
      "name": "QA Check",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        2260,
        0
      ],
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/chat/completions",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "openAiApi",
        "sendBody": true,
        "contentType": "json",
        "jsonBody": "={{ $json.request_body }}",
        "options": {}
      },
      "credentials": {
        "openAiApi": {
          "id": "bkm4C85zHfe8HSHa",
          "name": "OpenAi account"
        }
      }
    },
    {
      "id": "fa120004-0004-4004-a004-000000000004",
      "name": "Parse QA Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2480,
        0
      ],
      "parameters": {
        "jsCode": "// n8n Code node — \"Parse QA Response\"\n// ─────────────────────────────────────────────────────────────\n// Placed in \"3.1 EverMagic Scenario Expansion\", AFTER:\n//   - 'QA Check' (OpenAI GPT-4o-mini evaluation)\n// Also reads:\n//   - 'Build QA Prompt' (heuristic flags + raw story + context)\n// Feeds into: IF node on 'retry_required'\n// ─────────────────────────────────────────────────────────────\n\nconst qaContext = $('Build QA Prompt').first().json;\n\n// ── Hard structural failure — short-circuit, no QA needed ─────\nif (qaContext.hard_fail === true) {\n    return [{\n        json: {\n            retry_required:     true,\n            score:              0,\n            effective_score:    0,\n            failed_rules:       [{ rule: 'Structure', issue: qaContext.hard_fail_reason }],\n            passed_rules:       [],\n            retry_instructions: `The story output was structurally invalid: ${qaContext.hard_fail_reason} Regenerate the full story following all output format rules exactly — valid JSON, exactly 5 scenes, each with an expanded_narrative field.`,\n            heuristic_flags:    qaContext.heuristic_flags,\n            raw_story:          qaContext.raw_story || null,\n            order_id:           qaContext.order_id,\n            script_version:     qaContext.script_version,\n        },\n    }];\n}\n\nconst aiOutput  = $input.first().json;\n\n// ── Extract text from OpenAI response ─────────────────────────\nlet rawText;\nif (aiOutput.choices?.[0]?.message?.content) {\n    // Standard OpenAI HTTP API response (used by HTTP Request node)\n    rawText = aiOutput.choices[0].message.content;\n} else if (aiOutput.output?.[0]?.content?.[0]?.text) {\n    // LangChain OpenAI node format\n    rawText = aiOutput.output[0].content[0].text;\n} else if (aiOutput.message?.content) {\n    rawText = aiOutput.message.content;\n} else if (aiOutput.text) {\n    rawText = aiOutput.text;\n} else {\n    rawText = JSON.stringify(aiOutput);\n}\n\n// Strip markdown fences if model wraps output despite instructions\nconst cleaned = rawText\n    .replace(/^```json\\s*/i, '')\n    .replace(/^```\\s*/i,     '')\n    .replace(/```\\s*$/,      '')\n    .trim();\n\n// ── Parse QA JSON ──────────────────────────────────────────────\nlet qa;\ntry {\n    qa = JSON.parse(cleaned);\n} catch (_) {\n    // QA response malformed — pass through without retry to avoid blocking the pipeline\n    return [{\n        json: {\n            retry_required:     false,\n            score:              null,\n            effective_score:    null,\n            failed_rules:       [],\n            passed_rules:       [],\n            retry_instructions: null,\n            qa_parse_error:     true,\n            heuristic_flags:    qaContext.heuristic_flags,\n            raw_story:          qaContext.raw_story,\n            order_id:           qaContext.order_id,\n            script_version:     qaContext.script_version,\n        },\n    }];\n}\n\n// ── Effective score: multiple heuristic flags push borderline scores down ──\nconst heuristicCount = (qaContext.heuristic_flags || []).length;\nconst effectiveScore = heuristicCount >= 2 ? Math.min(qa.score, 7) : qa.score;\nconst retryRequired  = qa.retry_required === true || effectiveScore < 8;\n\nreturn [{\n    json: {\n        retry_required:     retryRequired,\n        score:              qa.score,\n        effective_score:    effectiveScore,\n        failed_rules:       qa.failed_rules    || [],\n        passed_rules:       qa.passed_rules    || [],\n        retry_instructions: qa.retry_instructions || null,\n        heuristic_flags:    qaContext.heuristic_flags,\n        raw_story:          qaContext.raw_story,\n        order_id:           qaContext.order_id,\n        script_version:     qaContext.script_version,\n    },\n}];\n"
      }
    },
    {
      "id": "fa120005-0005-4005-a005-000000000005",
      "name": "IF: Retry Required",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        2700,
        0
      ],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "retry-cond-1",
              "leftValue": "={{ $json.retry_required }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      }
    },
    {
      "id": "fa120006-0006-4006-a006-000000000006",
      "name": "Build Retry Prompt",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2920,
        -200
      ],
      "parameters": {
        "jsCode": "// n8n Code node — \"Build Retry Prompt\"\n// ─────────────────────────────────────────────────────────────\n// Placed in \"3.1 EverMagic Scenario Expansion\", AFTER:\n//   - IF node (retry_required = true branch)\n// Also reads:\n//   - 'Build Expansion Prompt' (original system + user prompts)\n//   - 'Parse QA Response'      (score, failed rules, retry instructions)\n// Feeds into: 'Retry GPT-4o' (second story generation call)\n// ─────────────────────────────────────────────────────────────\n\nconst originalContext = $('Build Expansion Prompt').first().json;\nconst qaResult        = $('Parse QA Response').first().json;\n\n// ── Build failed rules text ────────────────────────────────────\nconst failedRulesText = (qaResult.failed_rules || [])\n    .map(f => `• ${f.rule}: ${f.issue}`)\n    .join('\\n') || 'See revision instructions below.';\n\nconst heuristicText = (qaResult.heuristic_flags || []).length > 0\n    ? `\\nAuto-detected structural issues:\\n${qaResult.heuristic_flags.map(f => `• ${f}`).join('\\n')}\\n`\n    : '';\n\n// ── Append QA feedback block to the original system prompt ────\nconst feedbackBlock = `\n\n---\n\n## Quality Control Feedback — Revision Required\n\nThis story was evaluated and scored ${qaResult.score}/10. Minimum required: 8.\n${heuristicText}\nRules that failed:\n${failedRulesText}\n\n## Revision Instructions\n\n${qaResult.retry_instructions}\n\n---\n\nRewrite the ENTIRE story following ALL original rules above PLUS all revision instructions.\nDo NOT reuse sentences from the previous attempt — start fresh.\nReturn the same JSON structure. No markdown fences. No commentary. Only the JSON.`;\n\nreturn [{\n    json: {\n        request_body: {\n            model: 'gpt-4o',\n            messages: [\n                {\n                    role:    'system',\n                    content: originalContext.system_prompt + feedbackBlock,\n                },\n                {\n                    role:    'user',\n                    content: originalContext.user_prompt,\n                },\n            ],\n            max_tokens:  4000,\n            temperature: 0.75,\n        },\n        order_id:       qaResult.order_id,\n        script_version: qaResult.script_version,\n        qa_score:       qaResult.score,\n    },\n}];\n"
      }
    },
    {
      "id": "fa120007-0007-4007-a007-000000000007",
      "name": "Retry GPT-4o",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        3140,
        -200
      ],
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/chat/completions",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "openAiApi",
        "sendBody": true,
        "contentType": "json",
        "jsonBody": "={{ $json.request_body }}",
        "options": {}
      },
      "credentials": {
        "openAiApi": {
          "id": "bkm4C85zHfe8HSHa",
          "name": "OpenAi account"
        }
      }
    },
    {
      "id": "06439ab9-4df3-4714-894d-f9d1a270d3b2",
      "name": "Parse Expansion Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4020,
        -200
      ],
      "alwaysOutputData": true,
      "parameters": {
        "jsCode": "// n8n Code node — \"Parse Expansion Response\"\n// Placed AFTER the OpenAI node in the Scenario Expansion workflow\n// Extracts and validates the expanded scenario JSON from GPT-4o output\n\n// ─────────────────────────────────────────────────────────────\n// 1. Pick the better story — original vs retry\n// ─────────────────────────────────────────────────────────────\n\nconst firstScore = $('Parse QA Response').first().json.score  ?? 0;\nconst retryScore = $('Parse QA Response 2').first().json.score ?? 0;\nconst useRetry   = retryScore > firstScore;\n\nlet rawText;\nif (useRetry) {\n    // Retry scored higher — use it\n    rawText = $('Retry GPT-4o').first().json.choices[0].message.content;\n} else {\n    // Original was equal or better — use it\n    rawText = $('Parse QA Response').first().json.raw_story;\n}\n\n// ─────────────────────────────────────────────────────────────\n// 2. Parse JSON\n// ─────────────────────────────────────────────────────────────\n\nconst expanded = JSON.parse(rawText);\n\n// ─────────────────────────────────────────────────────────────\n// 3. Validate structure\n// ─────────────────────────────────────────────────────────────\n\nif (!expanded.scenes || expanded.scenes.length !== 5) {\n    throw new Error(`Expected 5 scenes, got ${expanded.scenes?.length ?? 0}`);\n}\n\nfor (const scene of expanded.scenes) {\n    if (!scene.expanded_narrative) {\n        throw new Error(`Scene ${scene.scene_number} is missing expanded_narrative`);\n    }\n}\n\n// ─────────────────────────────────────────────────────────────\n// 4. Pass through with context from Build Expansion Prompt node\n// ─────────────────────────────────────────────────────────────\n\nconst context = $('Build Expansion Prompt').first().json;\n\n// qa_score = first attempt score (from Build Retry Prompt context)\n// qa_score_retry = second attempt score (from Parse QA Response 2, after retry)\nlet qaScore = null;\nlet qaScoreRetry = null;\ntry { qaScore      = $('Build Retry Prompt').first().json.qa_score         ?? null; } catch (_) {}\ntry { qaScoreRetry = $('Parse QA Response 2').first().json.score           ?? null; } catch (_) {}\n\nreturn [{\n    json: {\n        order_id:         context.order_id,\n        script_version:   context.script_version,\n        expanded_content: expanded,\n        qa_score:         qaScore,\n        qa_score_retry:   qaScoreRetry,\n    }\n}];\n"
      }
    },
    {
      "id": "fa120008-0008-4008-a008-000000000008",
      "name": "Accept Story",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2920,
        200
      ],
      "parameters": {
        "jsCode": "// n8n Code node — \"Accept Story\"\n// ─────────────────────────────────────────────────────────────\n// Placed in \"3.1 EverMagic Scenario Expansion\" on the QA PASS path:\n//   IF retry_required = FALSE → this node\n// Reads:\n//   - 'Parse QA Response' (raw_story, score, order_id, script_version)\n// Returns the same shape as 'Parse Expansion Response' so both\n// branches can feed identical Save + Update Status nodes.\n// ─────────────────────────────────────────────────────────────\n\nconst qaResult = $('Parse QA Response').first().json;\n\nconst expanded = JSON.parse(qaResult.raw_story);\n\nif (!expanded.scenes || expanded.scenes.length !== 5) {\n    throw new Error(`Expected 5 scenes, got ${expanded.scenes?.length ?? 0}`);\n}\n\nreturn [{\n    json: {\n        order_id:         qaResult.order_id,\n        script_version:   qaResult.script_version,\n        expanded_content: expanded,\n        qa_score:         qaResult.score,\n        qa_score_retry:   null,   // no retry was needed\n    },\n}];\n"
      }
    },
    {
      "id": "2eb6aa39-cf8e-4219-8d84-aeefd1b2507b",
      "name": "Save Expanded Content",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        3580,
        0
      ],
      "parameters": {
        "operation": "update",
        "tableId": "scripts",
        "matchType": "allFilters",
        "filters": {
          "conditions": [
            {
              "keyName": "order_id",
              "condition": "eq",
              "keyValue": "={{ $json.order_id }}"
            },
            {
              "keyName": "version",
              "condition": "eq",
              "keyValue": "={{ $json.script_version }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "expanded_content",
              "fieldValue": "={{ JSON.stringify($json.expanded_content) }}"
            },
            {
              "fieldId": "qa_score",
              "fieldValue": "={{ $json.qa_score }}"
            },
            {
              "fieldId": "status",
              "fieldValue": "scenario_expanded"
            },
            {
              "fieldId": "qa_score_retry",
              "fieldValue": "={{ $json.qa_score_retry }}"
            }
          ]
        }
      },
      "credentials": {
        "supabaseApi": {
          "id": "EYHDNsSv530jAc06",
          "name": "Supabase account"
        }
      }
    },
    {
      "id": "c2088f30-6af0-4e73-b691-33c8a5a433ca",
      "name": "Update Order Status",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        3800,
        0
      ],
      "parameters": {
        "operation": "update",
        "tableId": "orders",
        "matchType": "allFilters",
        "filters": {
          "conditions": [
            {
              "keyName": "order_id",
              "condition": "eq",
              "keyValue": "={{ $json.order_id }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "status",
              "fieldValue": "scenario_expanded"
            }
          ]
        }
      },
      "credentials": {
        "supabaseApi": {
          "id": "EYHDNsSv530jAc06",
          "name": "Supabase account"
        }
      }
    },
    {
      "id": "93f6f402-86f2-407d-b86d-0e327c77072d",
      "name": "PDF Generate Webhook",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        4020,
        0
      ],
      "parameters": {
        "method": "POST",
        "url": "=https://evermagic.app.n8n.cloud/webhook{{ $('Envs').item.json.env.is_live ? '' : '-test' }}/orders/pdf/generate",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-EverMagic-Token",
              "value": "={{ $('Envs').item.json.env.evrm_token }}"
            }
          ]
        },
        "options": {}
      }
    },
    {
      "id": "fa120009-0009-4009-a009-000000000009",
      "name": "Build QA Prompt 2",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3360,
        -200
      ],
      "parameters": {
        "jsCode": "// n8n Code node — \"Build QA Prompt\"\n// ─────────────────────────────────────────────────────────────\n// Placed in \"3.1 EverMagic Scenario Expansion\", AFTER:\n//   - 'Call OpenAI GPT-4o'      (first story generation)\n// Also reads (from earlier in the loop):\n//   - 'Build Expansion Prompt'  (original context + prompts)\n//   - 'Fetch Order Payload'     (child/companion details)\n//   - 'Fetch Scripts to Expand' (current script item)\n//   - 'Fetch QA Prompt'         (HTTP GET — expansion_qa.md)\n// Feeds into: 'QA Check' (HTTP POST → OpenAI)\n// ─────────────────────────────────────────────────────────────\n\n// ── Thresholds (tune here without touching logic) ─────────────\nconst MIN_SCENE_WORDS    = 200;   // scenes shorter than this are flagged\nconst MAX_SCENE_WORDS    = 340;   // scenes longer than this are flagged\nconst MAX_SENTENCE_WORDS = 30;    // sentences over this many words are flagged as dense\n\n// ── Context ───────────────────────────────────────────────────\nconst context    = $('Build Expansion Prompt').first().json;\nconst qaTemplate = $('Fetch QA Prompt').first().json.data;  // pure rules, no placeholders\n\n// ── 1. Extract generated story text from OpenAI response ──────\nconst aiOutput = $input.first().json;\nlet rawStory;\nif (aiOutput.choices?.[0]?.message?.content) {\n    rawStory = aiOutput.choices[0].message.content;\n} else if (aiOutput.output?.[0]?.content?.[0]?.text) {\n    rawStory = aiOutput.output[0].content[0].text;\n} else if (aiOutput.message?.content) {\n    rawStory = aiOutput.message.content;\n} else if (aiOutput.text) {\n    rawStory = aiOutput.text;\n} else {\n    rawStory = JSON.stringify(aiOutput);\n}\n\n// ── 2. Hard structural validation ────────────────────────────\n// Structural failures are fundamentally different from quality issues.\n// If the story JSON is broken, skip real QA and force retry immediately.\nlet story = null;\nlet storyValid = false;\nlet hardFail = false;\nlet hardFailReason = null;\n\ntry {\n    story = JSON.parse(rawStory);\n\n    if (!story.scenes || !Array.isArray(story.scenes)) {\n        hardFail = true;\n        hardFailReason = 'Story output is missing the scenes array entirely.';\n    } else if (story.scenes.length !== 5) {\n        hardFail = true;\n        hardFailReason = `Expected 5 scenes, got ${story.scenes.length}.`;\n    } else {\n        const missingNarrative = story.scenes.find(s => !s.expanded_narrative);\n        if (missingNarrative) {\n            hardFail = true;\n            hardFailReason = `Scene ${missingNarrative.scene_number} is missing expanded_narrative.`;\n        } else {\n            storyValid = true;\n        }\n    }\n} catch (_) {\n    hardFail = true;\n    hardFailReason = 'Story output could not be parsed as JSON. The model may have returned malformed output.';\n}\n\n// ── Hard fail shortcut — send dummy request, Parse QA Response will intercept ──\nif (hardFail) {\n    return [{\n        json: {\n            request_body: {\n                model: 'gpt-4o-mini',\n                messages: [{ role: 'user', content: 'Reply with exactly: {\"ok\":true}' }],\n                max_tokens: 10,\n                temperature: 0,\n            },\n            hard_fail:       true,\n            hard_fail_reason: hardFailReason,\n            story_valid:     false,\n            heuristic_flags: [],\n            raw_story:       rawStory,\n            order_id:        context.order_id,\n            script_version:  context.script_version,\n        },\n    }];\n}\n\n// ── 3. Normalize story JSON for consistent QA input ───────────\nconst normalizedStory = JSON.stringify(story, null, 2);\n\n// ── 4. Heuristic pre-check ────────────────────────────────────\nconst heuristicFlags = [];\n\n// Word count helpers\nfunction wordCount(text) {\n    return text.split(/\\s+/).filter(Boolean).length;\n}\nfunction sentenceWordCounts(text) {\n    return text.split(/[.!?]+/).filter(s => s.trim().length > 0).map(s => wordCount(s));\n}\n\nfor (const scene of story.scenes) {\n    const text  = scene.expanded_narrative;\n    const words = wordCount(text);\n    const sentWords = sentenceWordCounts(text);\n    const denseSentences = sentWords.filter(w => w > MAX_SENTENCE_WORDS).length;\n\n    if (words > MAX_SCENE_WORDS) {\n        heuristicFlags.push(`Scene ${scene.scene_number}: too long (${words} words, max ${MAX_SCENE_WORDS})`);\n    }\n    if (words < MIN_SCENE_WORDS) {\n        heuristicFlags.push(`Scene ${scene.scene_number}: too short (${words} words, min ${MIN_SCENE_WORDS})`);\n    }\n    if (scene.scene_number === 1 && denseSentences > 2) {\n        heuristicFlags.push(`Scene 1: ${denseSentences} dense sentences (>${MAX_SENTENCE_WORDS} words each) — possible crowding`);\n    }\n}\n\n// Child name presence (must appear in at least 3 scenes)\nconst orderPayload  = JSON.parse($('Fetch Order Payload').first().json.payload_json);\nconst child         = orderPayload.child;\nconst scriptRow     = $('Fetch Scripts to Expand').item.json;\nconst scriptContent = typeof scriptRow.content === 'string'\n    ? JSON.parse(scriptRow.content)\n    : scriptRow.content;\nconst companion = scriptContent.characters?.[0] || { name: null };\n\nconst childNameLower     = (child.name || '').toLowerCase();\nconst companionNameLower = (companion.name || '').toLowerCase();\n\nif (childNameLower) {\n    const scenesWithChild = story.scenes.filter(s =>\n        s.expanded_narrative.toLowerCase().includes(childNameLower)\n    ).length;\n    if (scenesWithChild < 3) {\n        heuristicFlags.push(`Child name \"${child.name}\" appears in only ${scenesWithChild}/5 scenes`);\n    }\n}\n\nif (companionNameLower) {\n    const scenesWithCompanion = story.scenes.filter(s =>\n        s.expanded_narrative.toLowerCase().includes(companionNameLower)\n    ).length;\n    if (scenesWithCompanion < 3) {\n        heuristicFlags.push(`Companion \"${companion.name}\" appears in only ${scenesWithCompanion}/5 scenes`);\n    }\n}\n\n// ── 5. Build user message (child context + story) ─────────────\nconst heuristicBlock = heuristicFlags.length > 0\n    ? `\\n\\nAUTOMATED PRE-CHECK FLAGS (treat as additional evidence when scoring):\\n${heuristicFlags.map(f => `• ${f}`).join('\\n')}`\n    : '';\n\nconst userMessage =\n`## Story to evaluate\n\n- Child name: ${child.name       || '(not provided)'}\n- Child age:  ${child.age        || '(not provided)'}\n- Hobby:      ${child.hobby      || '(not provided)'}\n- Recent win: ${child.recent_win || '(not provided)'}\n- Companion:  ${companion.name   || '(not defined in script)'}\n\n${normalizedStory}${heuristicBlock}\n\nEvaluate the story. Return only the JSON assessment.`;\n\nreturn [{\n    json: {\n        request_body: {\n            model: 'gpt-4o-mini',\n            messages: [\n                { role: 'system', content: qaTemplate },\n                { role: 'user',   content: userMessage },\n            ],\n            max_tokens:  600,\n            temperature: 0.1,\n        },\n        hard_fail:       false,\n        story_valid:     storyValid,\n        raw_story:       rawStory,\n        heuristic_flags: heuristicFlags,\n        order_id:        context.order_id,\n        script_version:  context.script_version,\n    },\n}];\n"
      }
    },
    {
      "id": "fa120010-0010-4010-a010-000000000010",
      "name": "QA Check 2",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        3580,
        -200
      ],
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/chat/completions",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "openAiApi",
        "sendBody": true,
        "contentType": "json",
        "jsonBody": "={{ $json.request_body }}",
        "options": {}
      },
      "credentials": {
        "openAiApi": {
          "id": "bkm4C85zHfe8HSHa",
          "name": "OpenAi account"
        }
      }
    },
    {
      "id": "fa120011-0011-4011-a011-000000000011",
      "name": "Parse QA Response 2",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3800,
        -200
      ],
      "parameters": {
        "jsCode": "// n8n Code node — \"Parse QA Response\"\n// ─────────────────────────────────────────────────────────────\n// Placed in \"3.1 EverMagic Scenario Expansion\", AFTER:\n//   - 'QA Check' (OpenAI GPT-4o-mini evaluation)\n// Also reads:\n//   - 'Build QA Prompt' (heuristic flags + raw story + context)\n// Feeds into: IF node on 'retry_required'\n// ─────────────────────────────────────────────────────────────\n\nconst qaContext = $('Build QA Prompt').first().json;\n\n// ── Hard structural failure — short-circuit, no QA needed ─────\nif (qaContext.hard_fail === true) {\n    return [{\n        json: {\n            retry_required:     true,\n            score:              0,\n            effective_score:    0,\n            failed_rules:       [{ rule: 'Structure', issue: qaContext.hard_fail_reason }],\n            passed_rules:       [],\n            retry_instructions: `The story output was structurally invalid: ${qaContext.hard_fail_reason} Regenerate the full story following all output format rules exactly — valid JSON, exactly 5 scenes, each with an expanded_narrative field.`,\n            heuristic_flags:    qaContext.heuristic_flags,\n            raw_story:          qaContext.raw_story || null,\n            order_id:           qaContext.order_id,\n            script_version:     qaContext.script_version,\n        },\n    }];\n}\n\nconst aiOutput  = $input.first().json;\n\n// ── Extract text from OpenAI response ─────────────────────────\nlet rawText;\nif (aiOutput.choices?.[0]?.message?.content) {\n    // Standard OpenAI HTTP API response (used by HTTP Request node)\n    rawText = aiOutput.choices[0].message.content;\n} else if (aiOutput.output?.[0]?.content?.[0]?.text) {\n    // LangChain OpenAI node format\n    rawText = aiOutput.output[0].content[0].text;\n} else if (aiOutput.message?.content) {\n    rawText = aiOutput.message.content;\n} else if (aiOutput.text) {\n    rawText = aiOutput.text;\n} else {\n    rawText = JSON.stringify(aiOutput);\n}\n\n// Strip markdown fences if model wraps output despite instructions\nconst cleaned = rawText\n    .replace(/^```json\\s*/i, '')\n    .replace(/^```\\s*/i,     '')\n    .replace(/```\\s*$/,      '')\n    .trim();\n\n// ── Parse QA JSON ──────────────────────────────────────────────\nlet qa;\ntry {\n    qa = JSON.parse(cleaned);\n} catch (_) {\n    // QA response malformed — pass through without retry to avoid blocking the pipeline\n    return [{\n        json: {\n            retry_required:     false,\n            score:              null,\n            effective_score:    null,\n            failed_rules:       [],\n            passed_rules:       [],\n            retry_instructions: null,\n            qa_parse_error:     true,\n            heuristic_flags:    qaContext.heuristic_flags,\n            raw_story:          qaContext.raw_story,\n            order_id:           qaContext.order_id,\n            script_version:     qaContext.script_version,\n        },\n    }];\n}\n\n// ── Effective score: multiple heuristic flags push borderline scores down ──\nconst heuristicCount = (qaContext.heuristic_flags || []).length;\nconst effectiveScore = heuristicCount >= 2 ? Math.min(qa.score, 7) : qa.score;\nconst retryRequired  = qa.retry_required === true || effectiveScore < 8;\n\nreturn [{\n    json: {\n        retry_required:     retryRequired,\n        score:              qa.score,\n        effective_score:    effectiveScore,\n        failed_rules:       qa.failed_rules    || [],\n        passed_rules:       qa.passed_rules    || [],\n        retry_instructions: qa.retry_instructions || null,\n        heuristic_flags:    qaContext.heuristic_flags,\n        raw_story:          qaContext.raw_story,\n        order_id:           qaContext.order_id,\n        script_version:     qaContext.script_version,\n    },\n}];\n"
      }
    }
  ],
  "connections": {
    "Expand Scripts": {
      "main": [
        [
          {
            "node": "Load Envs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Load Envs": {
      "main": [
        [
          {
            "node": "Envs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Envs": {
      "main": [
        [
          {
            "node": "Fetch Scripts to Expand",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Scripts to Expand": {
      "main": [
        [
          {
            "node": "Log Execution",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log Execution": {
      "main": [
        [
          {
            "node": "Update Status: Expanding",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Status: Expanding": {
      "main": [
        [
          {
            "node": "Fetch Order Payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Order Payload": {
      "main": [
        [
          {
            "node": "Fetch Expansion Prompt",
            "type": "main",
            "index": 0
          },
          {
            "node": "Fetch QA Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Expansion Prompt": {
      "main": [
        [
          {
            "node": "Build Expansion Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch QA Prompt": {
      "main": [
        [
          {
            "node": "Build Expansion Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Expansion Prompt": {
      "main": [
        [
          {
            "node": "Call OpenAI GPT-4o",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call OpenAI GPT-4o": {
      "main": [
        [
          {
            "node": "Build QA Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build QA Prompt": {
      "main": [
        [
          {
            "node": "QA Check",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "QA Check": {
      "main": [
        [
          {
            "node": "Parse QA Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse QA Response": {
      "main": [
        [
          {
            "node": "IF: Retry Required",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF: Retry Required": {
      "main": [
        [
          {
            "node": "Build Retry Prompt",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Accept Story",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Retry Prompt": {
      "main": [
        [
          {
            "node": "Retry GPT-4o",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Retry GPT-4o": {
      "main": [
        [
          {
            "node": "Build QA Prompt 2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Expansion Response": {
      "main": [
        [
          {
            "node": "Save Expanded Content",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Accept Story": {
      "main": [
        [
          {
            "node": "Save Expanded Content",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save Expanded Content": {
      "main": [
        [
          {
            "node": "Update Order Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Order Status": {
      "main": [
        [
          {
            "node": "PDF Generate Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build QA Prompt 2": {
      "main": [
        [
          {
            "node": "QA Check 2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "QA Check 2": {
      "main": [
        [
          {
            "node": "Parse QA Response 2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse QA Response 2": {
      "main": [
        [
          {
            "node": "Parse Expansion Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false,
    "timeSavedMode": "fixed",
    "errorWorkflow": "X8i8vvopGj9AvYk6",
    "callerPolicy": "workflowsFromSameOwner"
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true
  }
}