n8n_backup/3.1 EverMagic Scenario Expansion.json
{
  "updatedAt": "2026-03-31T04:45:12.000Z",
  "createdAt": "2026-03-31T03:10:22.770Z",
  "id": "lJPMrLJleuICE7qp",
  "name": "3.1 EverMagic Scenario Expansion",
  "active": false,
  "isArchived": true,
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "orders/expansion/start",
        "authentication": "headerAuth",
        "options": {}
      },
      "id": "cfaf79da-605f-4251-b6b7-d99ab4ddf7b4",
      "name": "Expand Scripts",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -3152,
        -16
      ],
      "webhookId": "3400869c-97d1-43b1-bd9e-2ac83351117a",
      "alwaysOutputData": false,
      "credentials": {
        "httpHeaderAuth": {
          "id": "Pc4RF1BUmq9cRkHn",
          "name": "Header Auth account"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "envs"
      },
      "id": "e8305bb7-5f42-46a5-abed-91c6f902f0ce",
      "name": "Load Envs",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -2928,
        -16
      ],
      "credentials": {
        "supabaseApi": {
          "id": "EYHDNsSv530jAc06",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const raw = {};\nfor (const item of $input.all()) {\n  raw[item.json.key] = item.json.value;\n}\n\nconst env = {\n  mode: raw.mode,       \n  is_live: raw.mode === 'live',\n  script_approval_required: raw.script_approval_required === 'true', \n  evrm_token: raw.evrm_token\n};\n\nreturn [{ json: { env } }];\n"
      },
      "id": "7a02ab56-7ab2-46e5-89f1-6a73c1a3d521",
      "name": "Envs",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2704,
        -16
      ]
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "scripts",
        "matchType": "allFilters",
        "filters": {
          "conditions": [
            {
              "keyName": "status",
              "condition": "eq",
              "keyValue": "images_generated"
            }
          ]
        }
      },
      "id": "3d140464-07fe-4ed9-8c40-4e6dee5b921a",
      "name": "Fetch Scripts to Expand",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -2480,
        -16
      ],
      "credentials": {
        "supabaseApi": {
          "id": "EYHDNsSv530jAc06",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "tableId": "execution_log",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "order_id",
              "fieldValue": "={{ $json.order_id }}"
            },
            {
              "fieldId": "execution_id",
              "fieldValue": "={{ $execution.id }}"
            },
            {
              "fieldId": "workflow_name",
              "fieldValue": "3.1 EverMagic Scenario Expansion"
            },
            {
              "fieldId": "stage",
              "fieldValue": "Scenario Expansion"
            }
          ]
        }
      },
      "id": "d3014258-1233-4381-8696-c742a169b614",
      "name": "Log Execution",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -2256,
        -16
      ],
      "credentials": {
        "supabaseApi": {
          "id": "EYHDNsSv530jAc06",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "orders",
        "matchType": "allFilters",
        "filters": {
          "conditions": [
            {
              "keyName": "order_id",
              "condition": "eq",
              "keyValue": "={{ $json.order_id }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "status",
              "fieldValue": "scenario_expanding"
            }
          ]
        }
      },
      "id": "e55c77da-0733-4940-9b1f-6d4b16c6a35e",
      "name": "Update Status: Expanding",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -2032,
        -16
      ],
      "credentials": {
        "supabaseApi": {
          "id": "EYHDNsSv530jAc06",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "order_payloads",
        "matchType": "allFilters",
        "filters": {
          "conditions": [
            {
              "keyName": "order_id",
              "condition": "eq",
              "keyValue": "={{ $('Fetch Scripts to Expand').item.json.order_id }}"
            }
          ]
        }
      },
      "id": "eb0ddf7e-45cd-4cbe-bfba-72b0f10324f5",
      "name": "Fetch Order Payload",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -1808,
        -16
      ],
      "credentials": {
        "supabaseApi": {
          "id": "EYHDNsSv530jAc06",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "url": "=https://raw.githubusercontent.com/TarasGolub/evermagic/{{ $('Envs').first().json.env.is_live ? 'main' : 'develop' }}/prompts/{{ JSON.parse($('Fetch Order Payload').first().json.payload_json).theme.toLowerCase() }}/expansion.md",
        "options": {}
      },
      "id": "b3e2154d-2eaf-4f3c-a2de-691245e4f4a2",
      "name": "Fetch Expansion Prompt",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -1504,
        -16
      ]
    },
    {
      "parameters": {
        "url": "=https://raw.githubusercontent.com/TarasGolub/evermagic/{{ $('Envs').first().json.env.is_live ? 'main' : 'develop' }}/prompts/shared/expansion_qa.md",
        "options": {}
      },
      "id": "44b31b9f-125b-4a00-898f-4762fddef567",
      "name": "Fetch QA Prompt",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -1248,
        -16
      ]
    },
    {
      "parameters": {
        "jsCode": "const expansionPrompt = $('Fetch Expansion Prompt').first().json.data;\nconst script = $('Fetch Scripts to Expand').item.json;\nconst order = JSON.parse($('Fetch Order Payload').first().json.payload_json);\nconst child = order.child;\n\nconst scriptContent = typeof script.content === 'string'\n    ? JSON.parse(script.content)\n    : script.content;\n\nconst companion = scriptContent.characters?.[0] || {\n    name: 'a friendly companion',\n    type: 'other',\n    appearance: '',\n    personality: '',\n    connection_to_child: ''\n};\n\nconst scenesForPrompt = scriptContent.scenes.map(scene => ({\n    scene_number: scene.scene_number,\n    scene_title: scene.scene_title,\n    narration: scene.narration,\n    emotion: scene.emotion\n}));\n\nconst ageReadAloud = child.age <= 5;\n\n// Age-specific reading level guidance — injected as {{reading_level_guidance}}\n// Replaces the generic \"grade 2-3\" line with concrete vocabulary rules per age tier.\n// Gives GPT explicit word-choice constraints so it stops defaulting to literary prose.\nfunction getReadingLevelGuidance(age) {\n    if (age <= 7) return (\n        `- Age ${age} — Grade 1–2 level: very short sentences (5–10 words each). ` +\n        `Only words a child this age already knows. ` +\n        `Use: \"big\", \"fast\", \"glowing\", \"zoomed\", \"cracked\", \"laughed\". ` +\n        `Avoid: \"enormous\", \"vibrant\", \"luminous\", \"cascade\", \"silhouette\", \"emerged\", \"beneath\". ` +\n        `One idea per sentence. Lots of exclamations and short punchy questions.`\n    );\n    if (age <= 9) return (\n        `- Age ${age} — Grade 3–4 level: short-to-medium sentences (8–15 words). ` +\n        `Common adventure vocabulary is fine: \"glowing\", \"mysterious\", \"ancient\", \"whooshed\", \"exploded\". ` +\n        `Avoid adult/literary words: \"luminous\", \"cascade\", \"silhouette\", \"ethereal\", \"emanating\", \"resplendent\". ` +\n        `Mix short punchy sentences at exciting moments with slightly longer ones for descriptions.`\n    );\n    return (\n        `- Age ${age} — Grade 4–5 level: varied sentence length for pacing — short bursts at peaks, longer for atmosphere. ` +\n        `Adventure vocabulary OK: \"ancient\", \"discovery\", \"enormous\", \"vibrating\", \"mysterious\". ` +\n        `Still avoid literary/adult prose: \"luminous\", \"cascade\", \"ethereal\", \"emanating\", \"shimmered\" (use \"glowed\"). ` +\n        `Use a one-word sentence or fragment for dramatic effect.`\n    );\n}\n\nconst readingLevelGuidance = getReadingLevelGuidance(child.age);\n\nlet systemPrompt = expansionPrompt\n    .replace('{{child.age}}', child.age)\n    .replace('{{child.name}}', child.name)\n    .replace('{{child.hero_trait}}', child.hero_trait)\n    .replace('{{child.hobby}}', child.hobby)\n    .replace('{{child.hobby_detail}}', child.hobby_detail || 'not provided')\n    .replace('{{child.signature_look}}', child.signature_look || 'not provided')\n    .replace('{{child.recent_win}}', child.recent_win || 'not provided')\n    .replace('{{companion.name}}', companion.name)\n    .replace('{{companion.type}}', companion.type)\n    .replace('{{companion.appearance}}', companion.appearance)\n    .replace('{{companion.personality}}', companion.personality)\n    .replace('{{companion.connection_to_child}}', companion.connection_to_child)\n    .replace('{{reading_level_guidance}}', readingLevelGuidance)\n    .replace('{{scenes_json}}', JSON.stringify(scenesForPrompt, null, 2));\n\nconst readAloudBlock = /\\{\\{#if age_read_aloud\\}\\}([\\s\\S]*?)\\{\\{else\\}\\}([\\s\\S]*?)\\{\\{\\/if\\}\\}/;\nsystemPrompt = systemPrompt.replace(readAloudBlock, (_, readAloudContent, independentContent) => {\n    return ageReadAloud ? readAloudContent.trim() : independentContent.trim();\n});\n\nconst userPrompt = `Expand the story for ${child.name}, age ${child.age}. The companion is ${companion.name} (${companion.type}). Use the approved script above as your backbone.`;\n\nreturn [{\n    json: {\n        system_prompt: systemPrompt,\n        user_prompt: userPrompt,\n        order_id: script.order_id,\n        script_version: script.version\n    }\n}];\n"
      },
      "id": "23d70084-4cc0-48f9-afe2-c7f571903ba2",
      "name": "Build Expansion Prompt",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -976,
        -16
      ],
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4o",
          "mode": "list",
          "cachedResultName": "GPT-4O"
        },
        "responses": {
          "values": [
            {
              "role": "system",
              "content": "={{ $json.system_prompt }}"
            },
            {
              "content": "={{ $json.user_prompt }}"
            }
          ]
        },
        "builtInTools": {},
        "options": {
          "maxTokens": 4000,
          "temperature": 0.8
        }
      },
      "id": "f496ee02-28cd-4b32-9edd-d530376500a6",
      "name": "Call OpenAI GPT-4o",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2.1,
      "position": [
        -688,
        -16
      ],
      "credentials": {
        "openAiApi": {
          "id": "bkm4C85zHfe8HSHa",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// n8n Code node — \"Build QA Prompt\"\n// ─────────────────────────────────────────────────────────────\n// Placed in \"3.1 EverMagic Scenario Expansion\", AFTER:\n//   - 'Call OpenAI GPT-4o'      (first story generation)\n// Also reads (from earlier in the loop):\n//   - 'Build Expansion Prompt'  (original context + prompts)\n//   - 'Fetch Order Payload'     (child/companion details)\n//   - 'Fetch Scripts to Expand' (current script item)\n//   - 'Fetch QA Prompt'         (HTTP GET — expansion_qa.md)\n// Feeds into: 'QA Check' (HTTP POST → OpenAI)\n// ─────────────────────────────────────────────────────────────\n\n// ── Thresholds (tune here without touching logic) ─────────────\nconst MIN_SCENE_WORDS    = 200;   // scenes shorter than this are flagged\nconst MAX_SCENE_WORDS    = 340;   // scenes longer than this are flagged\nconst MAX_SENTENCE_WORDS = 30;    // sentences over this many words are flagged as dense\n\n// ── Context ───────────────────────────────────────────────────\nconst context    = $('Build Expansion Prompt').first().json;\nconst qaTemplate = $('Fetch QA Prompt').first().json.data;  // pure rules, no placeholders\n\n// ── 1. Extract generated story text from OpenAI response ──────\nconst aiOutput = $input.first().json;\nlet rawStory;\nif (aiOutput.choices?.[0]?.message?.content) {\n    rawStory = aiOutput.choices[0].message.content;\n} else if (aiOutput.output?.[0]?.content?.[0]?.text) {\n    rawStory = aiOutput.output[0].content[0].text;\n} else if (aiOutput.message?.content) {\n    rawStory = aiOutput.message.content;\n} else if (aiOutput.text) {\n    rawStory = aiOutput.text;\n} else {\n    rawStory = JSON.stringify(aiOutput);\n}\n\n// ── 2. Hard structural validation ────────────────────────────\n// Structural failures are fundamentally different from quality issues.\n// If the story JSON is broken, skip real QA and force retry immediately.\nlet story = null;\nlet storyValid = false;\nlet hardFail = false;\nlet hardFailReason = null;\n\ntry {\n    story = JSON.parse(rawStory);\n\n    if (!story.scenes || !Array.isArray(story.scenes)) {\n        hardFail = true;\n        hardFailReason = 'Story output is missing the scenes array entirely.';\n    } else if (story.scenes.length !== 5) {\n        hardFail = true;\n        hardFailReason = `Expected 5 scenes, got ${story.scenes.length}.`;\n    } else {\n        const missingNarrative = story.scenes.find(s => !s.expanded_narrative);\n        if (missingNarrative) {\n            hardFail = true;\n            hardFailReason = `Scene ${missingNarrative.scene_number} is missing expanded_narrative.`;\n        } else {\n            storyValid = true;\n        }\n    }\n} catch (_) {\n    hardFail = true;\n    hardFailReason = 'Story output could not be parsed as JSON. The model may have returned malformed output.';\n}\n\n// ── Hard fail shortcut — send dummy request, Parse QA Response will intercept ──\nif (hardFail) {\n    return [{\n        json: {\n            request_body: {\n                model: 'gpt-4o-mini',\n                messages: [{ role: 'user', content: 'Reply with exactly: {\"ok\":true}' }],\n                max_tokens: 10,\n                temperature: 0,\n            },\n            hard_fail:       true,\n            hard_fail_reason: hardFailReason,\n            story_valid:     false,\n            heuristic_flags: [],\n            raw_story:       rawStory,\n            order_id:        context.order_id,\n            script_version:  context.script_version,\n        },\n    }];\n}\n\n// ── 3. Normalize story JSON for consistent QA input ───────────\nconst normalizedStory = JSON.stringify(story, null, 2);\n\n// ── 4. Heuristic pre-check ────────────────────────────────────\nconst heuristicFlags = [];\n\n// Word count helpers\nfunction wordCount(text) {\n    return text.split(/\\s+/).filter(Boolean).length;\n}\nfunction sentenceWordCounts(text) {\n    return text.split(/[.!?]+/).filter(s => s.trim().length > 0).map(s => wordCount(s));\n}\n\nfor (const scene of story.scenes) {\n    const text  = scene.expanded_narrative;\n    const words = wordCount(text);\n    const sentWords = sentenceWordCounts(text);\n    const denseSentences = sentWords.filter(w => w > MAX_SENTENCE_WORDS).length;\n\n    if (words > MAX_SCENE_WORDS) {\n        heuristicFlags.push(`Scene ${scene.scene_number}: too long (${words} words, max ${MAX_SCENE_WORDS})`);\n    }\n    if (words < MIN_SCENE_WORDS) {\n        heuristicFlags.push(`Scene ${scene.scene_number}: too short (${words} words, min ${MIN_SCENE_WORDS})`);\n    }\n    if (scene.scene_number === 1 && denseSentences > 2) {\n        heuristicFlags.push(`Scene 1: ${denseSentences} dense sentences (>${MAX_SENTENCE_WORDS} words each) — possible crowding`);\n    }\n}\n\n// Child name presence (must appear in at least 3 scenes)\nconst orderPayload  = JSON.parse($('Fetch Order Payload').first().json.payload_json);\nconst child         = orderPayload.child;\nconst scriptRow     = $('Fetch Scripts to Expand').item.json;\nconst scriptContent = typeof scriptRow.content === 'string'\n    ? JSON.parse(scriptRow.content)\n    : scriptRow.content;\nconst companion = scriptContent.characters?.[0] || { name: null };\n\nconst childNameLower     = (child.name || '').toLowerCase();\nconst companionNameLower = (companion.name || '').toLowerCase();\n\nif (childNameLower) {\n    const scenesWithChild = story.scenes.filter(s =>\n        s.expanded_narrative.toLowerCase().includes(childNameLower)\n    ).length;\n    if (scenesWithChild < 3) {\n        heuristicFlags.push(`Child name \"${child.name}\" appears in only ${scenesWithChild}/5 scenes`);\n    }\n}\n\nif (companionNameLower) {\n    const scenesWithCompanion = story.scenes.filter(s =>\n        s.expanded_narrative.toLowerCase().includes(companionNameLower)\n    ).length;\n    if (scenesWithCompanion < 3) {\n        heuristicFlags.push(`Companion \"${companion.name}\" appears in only ${scenesWithCompanion}/5 scenes`);\n    }\n}\n\n// ── 5. Build user message (child context + story) ─────────────\nconst heuristicBlock = heuristicFlags.length > 0\n    ? `\\n\\nAUTOMATED PRE-CHECK FLAGS (treat as additional evidence when scoring):\\n${heuristicFlags.map(f => `• ${f}`).join('\\n')}`\n    : '';\n\nconst userMessage =\n`## Story to evaluate\n\n- Child name: ${child.name       || '(not provided)'}\n- Child age:  ${child.age        || '(not provided)'}\n- Hobby:      ${child.hobby      || '(not provided)'}\n- Recent win: ${child.recent_win || '(not provided)'}\n- Companion:  ${companion.name   || '(not defined in script)'}\n\n${normalizedStory}${heuristicBlock}\n\nEvaluate the story. Return only the JSON assessment.`;\n\nreturn [{\n    json: {\n        request_body: {\n            model: 'gpt-4o-mini',\n            messages: [\n                { role: 'system', content: qaTemplate },\n                { role: 'user',   content: userMessage },\n            ],\n            max_tokens:  600,\n            temperature: 0.1,\n        },\n        hard_fail:       false,\n        story_valid:     storyValid,\n        raw_story:       rawStory,\n        heuristic_flags: heuristicFlags,\n        order_id:        context.order_id,\n        script_version:  context.script_version,\n    },\n}];\n"
      },
      "id": "c4a36b0c-7908-4be9-ae9a-2fadddba4f1d",
      "name": "Build QA Prompt",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -288,
        -16
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/chat/completions",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "openAiApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "= {{ JSON.stringify($json.request_body) }}",
        "options": {}
      },
      "id": "034936ff-7a7f-4258-b883-0f860e2e12b5",
      "name": "QA Check",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -64,
        -16
      ],
      "credentials": {
        "openAiApi": {
          "id": "bkm4C85zHfe8HSHa",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// n8n Code node — \"Parse QA Response\"\n// ─────────────────────────────────────────────────────────────\n// Placed in \"3.1 EverMagic Scenario Expansion\", AFTER:\n//   - 'QA Check' (OpenAI GPT-4o-mini evaluation)\n// Also reads:\n//   - 'Build QA Prompt' (heuristic flags + raw story + context)\n// Feeds into: IF node on 'retry_required'\n// ─────────────────────────────────────────────────────────────\n\nconst qaContext = $('Build QA Prompt').first().json;\n\n// ── Hard structural failure — short-circuit, no QA needed ─────\nif (qaContext.hard_fail === true) {\n    return [{\n        json: {\n            retry_required:     true,\n            score:              0,\n            effective_score:    0,\n            failed_rules:       [{ rule: 'Structure', issue: qaContext.hard_fail_reason }],\n            passed_rules:       [],\n            retry_instructions: `The story output was structurally invalid: ${qaContext.hard_fail_reason} Regenerate the full story following all output format rules exactly — valid JSON, exactly 5 scenes, each with an expanded_narrative field.`,\n            heuristic_flags:    qaContext.heuristic_flags,\n            raw_story:          qaContext.raw_story || null,\n            order_id:           qaContext.order_id,\n            script_version:     qaContext.script_version,\n        },\n    }];\n}\n\nconst aiOutput  = $input.first().json;\n\n// ── Extract text from OpenAI response ─────────────────────────\nlet rawText;\nif (aiOutput.choices?.[0]?.message?.content) {\n    // Standard OpenAI HTTP API response (used by HTTP Request node)\n    rawText = aiOutput.choices[0].message.content;\n} else if (aiOutput.output?.[0]?.content?.[0]?.text) {\n    // LangChain OpenAI node format\n    rawText = aiOutput.output[0].content[0].text;\n} else if (aiOutput.message?.content) {\n    rawText = aiOutput.message.content;\n} else if (aiOutput.text) {\n    rawText = aiOutput.text;\n} else {\n    rawText = JSON.stringify(aiOutput);\n}\n\n// Strip markdown fences if model wraps output despite instructions\nconst cleaned = rawText\n    .replace(/^```json\\s*/i, '')\n    .replace(/^```\\s*/i,     '')\n    .replace(/```\\s*$/,      '')\n    .trim();\n\n// ── Parse QA JSON ──────────────────────────────────────────────\nlet qa;\ntry {\n    qa = JSON.parse(cleaned);\n} catch (_) {\n    // QA response malformed — pass through without retry to avoid blocking the pipeline\n    return [{\n        json: {\n            retry_required:     false,\n            score:              null,\n            effective_score:    null,\n            failed_rules:       [],\n            passed_rules:       [],\n            retry_instructions: null,\n            qa_parse_error:     true,\n            heuristic_flags:    qaContext.heuristic_flags,\n            raw_story:          qaContext.raw_story,\n            order_id:           qaContext.order_id,\n            script_version:     qaContext.script_version,\n        },\n    }];\n}\n\n// ── Effective score: multiple heuristic flags push borderline scores down ──\nconst heuristicCount = (qaContext.heuristic_flags || []).length;\nconst effectiveScore = heuristicCount >= 2 ? Math.min(qa.score, 7) : qa.score;\nconst retryRequired  = qa.retry_required === true || effectiveScore < 8;\n\nreturn [{\n    json: {\n        retry_required:     retryRequired,\n        score:              qa.score,\n        effective_score:    effectiveScore,\n        failed_rules:       qa.failed_rules    || [],\n        passed_rules:       qa.passed_rules    || [],\n        retry_instructions: qa.retry_instructions || null,\n        heuristic_flags:    qaContext.heuristic_flags,\n        raw_story:          qaContext.raw_story,\n        order_id:           qaContext.order_id,\n        script_version:     qaContext.script_version,\n    },\n}];\n"
      },
      "id": "bff03e1d-8dfb-4261-b37f-52626c24f5e9",
      "name": "Parse QA Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        160,
        -16
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "retry-cond-1",
              "leftValue": "={{ $json.retry_required }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "c0f4a640-9cf4-4739-8cf3-e0e29bfdbb33",
      "name": "IF: Retry Required",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        384,
        -16
      ]
    },
    {
      "parameters": {
        "jsCode": "// n8n Code node — \"Build Retry Prompt\"\n// ─────────────────────────────────────────────────────────────\n// Placed in \"3.1 EverMagic Scenario Expansion\", AFTER:\n//   - IF node (retry_required = true branch)\n// Also reads:\n//   - 'Build Expansion Prompt' (original system + user prompts)\n//   - 'Parse QA Response'      (score, failed rules, retry instructions)\n// Feeds into: 'Retry GPT-4o' (second story generation call)\n// ─────────────────────────────────────────────────────────────\n\nconst originalContext = $('Build Expansion Prompt').first().json;\nconst qaResult        = $('Parse QA Response').first().json;\n\n// ── Build failed rules text ────────────────────────────────────\nconst failedRulesText = (qaResult.failed_rules || [])\n    .map(f => `• ${f.rule}: ${f.issue}`)\n    .join('\\n') || 'See revision instructions below.';\n\nconst heuristicText = (qaResult.heuristic_flags || []).length > 0\n    ? `\\nAuto-detected structural issues:\\n${qaResult.heuristic_flags.map(f => `• ${f}`).join('\\n')}\\n`\n    : '';\n\n// ── Append QA feedback block to the original system prompt ────\nconst feedbackBlock = `\n\n---\n\n## Quality Control Feedback — Revision Required\n\nThis story was evaluated and scored ${qaResult.score}/10. Minimum required: 8.\n${heuristicText}\nRules that failed:\n${failedRulesText}\n\n## Revision Instructions\n\n${qaResult.retry_instructions}\n\n---\n\nRewrite the ENTIRE story following ALL original rules above PLUS all revision instructions.\nDo NOT reuse sentences from the previous attempt — start fresh.\nReturn the same JSON structure. No markdown fences. No commentary. Only the JSON.`;\n\nreturn [{\n    json: {\n        request_body: {\n            model: 'gpt-4o',\n            messages: [\n                {\n                    role:    'system',\n                    content: originalContext.system_prompt + feedbackBlock,\n                },\n                {\n                    role:    'user',\n                    content: originalContext.user_prompt,\n                },\n            ],\n            max_tokens:  4000,\n            temperature: 0.75,\n        },\n        order_id:       qaResult.order_id,\n        script_version: qaResult.script_version,\n        qa_score:       qaResult.score,\n    },\n}];\n"
      },
      "id": "98e3c4d4-c43d-4885-98fb-6436f7dd79c4",
      "name": "Build Retry Prompt",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        592,
        -208
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/chat/completions",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "openAiApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "= {{ JSON.stringify($json.request_body) }}",
        "options": {}
      },
      "id": "9d021d0b-99d8-4f7b-a98f-1d2c54824ef0",
      "name": "Retry GPT-4o",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        816,
        -208
      ],
      "credentials": {
        "openAiApi": {
          "id": "bkm4C85zHfe8HSHa",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// n8n Code node — \"Parse Expansion Response\"\n// Placed AFTER the OpenAI node in the Scenario Expansion workflow\n// Extracts and validates the expanded scenario JSON from GPT-4o output\n\n// ─────────────────────────────────────────────────────────────\n// 1. Pick the better story — original vs retry\n// ─────────────────────────────────────────────────────────────\n\nconst firstScore = $('Parse QA Response').first().json.score  ?? 0;\nconst retryScore = $('Parse QA Response 2').first().json.score ?? 0;\nconst useRetry   = retryScore >= firstScore;\n\nlet rawText;\nif (useRetry) {\n    // Retry scored higher — use it\n    rawText = $('Retry GPT-4o').first().json.choices[0].message.content;\n} else {\n    // Original was equal or better — use it\n    rawText = $('Parse QA Response').first().json.raw_story;\n}\n\n// ─────────────────────────────────────────────────────────────\n// 2. Parse JSON\n// ─────────────────────────────────────────────────────────────\n\nconst expanded = JSON.parse(rawText);\n\n// ─────────────────────────────────────────────────────────────\n// 3. Validate structure\n// ─────────────────────────────────────────────────────────────\n\nif (!expanded.scenes || expanded.scenes.length !== 5) {\n    throw new Error(`Expected 5 scenes, got ${expanded.scenes?.length ?? 0}`);\n}\n\nfor (const scene of expanded.scenes) {\n    if (!scene.expanded_narrative) {\n        throw new Error(`Scene ${scene.scene_number} is missing expanded_narrative`);\n    }\n}\n\n// ─────────────────────────────────────────────────────────────\n// 4. Pass through with context from Build Expansion Prompt node\n// ─────────────────────────────────────────────────────────────\n\nconst context = $('Build Expansion Prompt').first().json;\n\n// qa_score = first attempt score (from Build Retry Prompt context)\n// qa_score_retry = second attempt score (from Parse QA Response 2, after retry)\nlet qaScore = null;\nlet qaScoreRetry = null;\ntry { qaScore      = $('Build Retry Prompt').first().json.qa_score         ?? null; } catch (_) {}\ntry { qaScoreRetry = $('Parse QA Response 2').first().json.score           ?? null; } catch (_) {}\n\nreturn [{\n    json: {\n        order_id:         context.order_id,\n        script_version:   context.script_version,\n        expanded_content: expanded,\n        qa_score:         qaScore,\n        qa_score_retry:   qaScoreRetry,\n    }\n}];\n"
      },
      "id": "e4b317a5-a65f-498e-9b2c-14a1bea83cea",
      "name": "Parse Expansion Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1696,
        -208
      ],
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "jsCode": "// n8n Code node — \"Accept Story\"\n// ─────────────────────────────────────────────────────────────\n// Placed in \"3.1 EverMagic Scenario Expansion\" on the QA PASS path:\n//   IF retry_required = FALSE → this node\n// Reads:\n//   - 'Parse QA Response' (raw_story, score, order_id, script_version)\n// Returns the same shape as 'Parse Expansion Response' so both\n// branches can feed identical Save + Update Status nodes.\n// ─────────────────────────────────────────────────────────────\n\nconst qaResult = $('Parse QA Response').first().json;\n\nconst expanded = JSON.parse(qaResult.raw_story);\n\nif (!expanded.scenes || expanded.scenes.length !== 5) {\n    throw new Error(`Expected 5 scenes, got ${expanded.scenes?.length ?? 0}`);\n}\n\nreturn [{\n    json: {\n        order_id:         qaResult.order_id,\n        script_version:   qaResult.script_version,\n        expanded_content: expanded,\n        qa_score:         qaResult.score,\n        qa_score_retry:   null,   // no retry was needed\n    },\n}];\n"
      },
      "id": "4938d6ed-5bdc-4148-b3a6-bb843771b9ee",
      "name": "Accept Story",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        592,
        192
      ]
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "scripts",
        "matchType": "allFilters",
        "filters": {
          "conditions": [
            {
              "keyName": "order_id",
              "condition": "eq",
              "keyValue": "={{ $json.order_id }}"
            },
            {
              "keyName": "version",
              "condition": "eq",
              "keyValue": "={{ $json.script_version }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "expanded_content",
              "fieldValue": "={{ JSON.stringify($json.expanded_content) }}"
            },
            {
              "fieldId": "qa_score",
              "fieldValue": "={{ $json.qa_score }}"
            },
            {
              "fieldId": "status",
              "fieldValue": "scenario_expanded"
            },
            {
              "fieldId": "qa_score_retry",
              "fieldValue": "={{ $json.qa_score_retry }}"
            }
          ]
        }
      },
      "id": "0f2bdb2f-c3e6-494f-a40d-08850deac7f0",
      "name": "Save Expanded Content",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        2128,
        -64
      ],
      "credentials": {
        "supabaseApi": {
          "id": "EYHDNsSv530jAc06",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "orders",
        "matchType": "allFilters",
        "filters": {
          "conditions": [
            {
              "keyName": "order_id",
              "condition": "eq",
              "keyValue": "={{ $json.order_id }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "status",
              "fieldValue": "scenario_expanded"
            }
          ]
        }
      },
      "id": "60814daa-0823-4433-ae06-15192541afe4",
      "name": "Update Order Status",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        2336,
        -64
      ],
      "credentials": {
        "supabaseApi": {
          "id": "EYHDNsSv530jAc06",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://evermagic.app.n8n.cloud/webhook{{ $('Envs').item.json.env.is_live ? '' : '-test' }}/orders/pdf/generate",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-EverMagic-Token",
              "value": "={{ $('Envs').item.json.env.evrm_token }}"
            }
          ]
        },
        "options": {}
      },
      "id": "ad60e71f-a4c1-4db4-bcd3-10160571fc50",
      "name": "PDF Generate Webhook",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        2560,
        -64
      ]
    },
    {
      "parameters": {
        "jsCode": "// n8n Code node — \"Build QA Prompt\"\n// ─────────────────────────────────────────────────────────────\n// Placed in \"3.1 EverMagic Scenario Expansion\", AFTER:\n//   - 'Call OpenAI GPT-4o'      (first story generation)\n// Also reads (from earlier in the loop):\n//   - 'Build Expansion Prompt'  (original context + prompts)\n//   - 'Fetch Order Payload'     (child/companion details)\n//   - 'Fetch Scripts to Expand' (current script item)\n//   - 'Fetch QA Prompt'         (HTTP GET — expansion_qa.md)\n// Feeds into: 'QA Check' (HTTP POST → OpenAI)\n// ─────────────────────────────────────────────────────────────\n\n// ── Thresholds (tune here without touching logic) ─────────────\nconst MIN_SCENE_WORDS    = 200;   // scenes shorter than this are flagged\nconst MAX_SCENE_WORDS    = 340;   // scenes longer than this are flagged\nconst MAX_SENTENCE_WORDS = 30;    // sentences over this many words are flagged as dense\n\n// ── Context ───────────────────────────────────────────────────\nconst context    = $('Build Expansion Prompt').first().json;\nconst qaTemplate = $('Fetch QA Prompt').first().json.data;  // pure rules, no placeholders\n\n// ── 1. Extract generated story text from OpenAI response ──────\nconst aiOutput = $input.first().json;\nlet rawStory;\nif (aiOutput.choices?.[0]?.message?.content) {\n    rawStory = aiOutput.choices[0].message.content;\n} else if (aiOutput.output?.[0]?.content?.[0]?.text) {\n    rawStory = aiOutput.output[0].content[0].text;\n} else if (aiOutput.message?.content) {\n    rawStory = aiOutput.message.content;\n} else if (aiOutput.text) {\n    rawStory = aiOutput.text;\n} else {\n    rawStory = JSON.stringify(aiOutput);\n}\n\n// ── 2. Hard structural validation ────────────────────────────\n// Structural failures are fundamentally different from quality issues.\n// If the story JSON is broken, skip real QA and force retry immediately.\nlet story = null;\nlet storyValid = false;\nlet hardFail = false;\nlet hardFailReason = null;\n\ntry {\n    story = JSON.parse(rawStory);\n\n    if (!story.scenes || !Array.isArray(story.scenes)) {\n        hardFail = true;\n        hardFailReason = 'Story output is missing the scenes array entirely.';\n    } else if (story.scenes.length !== 5) {\n        hardFail = true;\n        hardFailReason = `Expected 5 scenes, got ${story.scenes.length}.`;\n    } else {\n        const missingNarrative = story.scenes.find(s => !s.expanded_narrative);\n        if (missingNarrative) {\n            hardFail = true;\n            hardFailReason = `Scene ${missingNarrative.scene_number} is missing expanded_narrative.`;\n        } else {\n            storyValid = true;\n        }\n    }\n} catch (_) {\n    hardFail = true;\n    hardFailReason = 'Story output could not be parsed as JSON. The model may have returned malformed output.';\n}\n\n// ── Hard fail shortcut — send dummy request, Parse QA Response will intercept ──\nif (hardFail) {\n    return [{\n        json: {\n            request_body: {\n                model: 'gpt-4o-mini',\n                messages: [{ role: 'user', content: 'Reply with exactly: {\"ok\":true}' }],\n                max_tokens: 10,\n                temperature: 0,\n            },\n            hard_fail:       true,\n            hard_fail_reason: hardFailReason,\n            story_valid:     false,\n            heuristic_flags: [],\n            raw_story:       rawStory,\n            order_id:        context.order_id,\n            script_version:  context.script_version,\n        },\n    }];\n}\n\n// ── 3. Normalize story JSON for consistent QA input ───────────\nconst normalizedStory = JSON.stringify(story, null, 2);\n\n// ── 4. Heuristic pre-check ────────────────────────────────────\nconst heuristicFlags = [];\n\n// Word count helpers\nfunction wordCount(text) {\n    return text.split(/\\s+/).filter(Boolean).length;\n}\nfunction sentenceWordCounts(text) {\n    return text.split(/[.!?]+/).filter(s => s.trim().length > 0).map(s => wordCount(s));\n}\n\nfor (const scene of story.scenes) {\n    const text  = scene.expanded_narrative;\n    const words = wordCount(text);\n    const sentWords = sentenceWordCounts(text);\n    const denseSentences = sentWords.filter(w => w > MAX_SENTENCE_WORDS).length;\n\n    if (words > MAX_SCENE_WORDS) {\n        heuristicFlags.push(`Scene ${scene.scene_number}: too long (${words} words, max ${MAX_SCENE_WORDS})`);\n    }\n    if (words < MIN_SCENE_WORDS) {\n        heuristicFlags.push(`Scene ${scene.scene_number}: too short (${words} words, min ${MIN_SCENE_WORDS})`);\n    }\n    if (scene.scene_number === 1 && denseSentences > 2) {\n        heuristicFlags.push(`Scene 1: ${denseSentences} dense sentences (>${MAX_SENTENCE_WORDS} words each) — possible crowding`);\n    }\n}\n\n// Child name presence (must appear in at least 3 scenes)\nconst orderPayload  = JSON.parse($('Fetch Order Payload').first().json.payload_json);\nconst child         = orderPayload.child;\nconst scriptRow     = $('Fetch Scripts to Expand').item.json;\nconst scriptContent = typeof scriptRow.content === 'string'\n    ? JSON.parse(scriptRow.content)\n    : scriptRow.content;\nconst companion = scriptContent.characters?.[0] || { name: null };\n\nconst childNameLower     = (child.name || '').toLowerCase();\nconst companionNameLower = (companion.name || '').toLowerCase();\n\nif (childNameLower) {\n    const scenesWithChild = story.scenes.filter(s =>\n        s.expanded_narrative.toLowerCase().includes(childNameLower)\n    ).length;\n    if (scenesWithChild < 3) {\n        heuristicFlags.push(`Child name \"${child.name}\" appears in only ${scenesWithChild}/5 scenes`);\n    }\n}\n\nif (companionNameLower) {\n    const scenesWithCompanion = story.scenes.filter(s =>\n        s.expanded_narrative.toLowerCase().includes(companionNameLower)\n    ).length;\n    if (scenesWithCompanion < 3) {\n        heuristicFlags.push(`Companion \"${companion.name}\" appears in only ${scenesWithCompanion}/5 scenes`);\n    }\n}\n\n// ── 5. Build user message (child context + story) ─────────────\nconst heuristicBlock = heuristicFlags.length > 0\n    ? `\\n\\nAUTOMATED PRE-CHECK FLAGS (treat as additional evidence when scoring):\\n${heuristicFlags.map(f => `• ${f}`).join('\\n')}`\n    : '';\n\nconst userMessage =\n`## Story to evaluate\n\n- Child name: ${child.name       || '(not provided)'}\n- Child age:  ${child.age        || '(not provided)'}\n- Hobby:      ${child.hobby      || '(not provided)'}\n- Recent win: ${child.recent_win || '(not provided)'}\n- Companion:  ${companion.name   || '(not defined in script)'}\n\n${normalizedStory}${heuristicBlock}\n\nEvaluate the story. Return only the JSON assessment.`;\n\nreturn [{\n    json: {\n        request_body: {\n            model: 'gpt-4o-mini',\n            messages: [\n                { role: 'system', content: qaTemplate },\n                { role: 'user',   content: userMessage },\n            ],\n            max_tokens:  600,\n            temperature: 0.1,\n        },\n        hard_fail:       false,\n        story_valid:     storyValid,\n        raw_story:       rawStory,\n        heuristic_flags: heuristicFlags,\n        order_id:        context.order_id,\n        script_version:  context.script_version,\n    },\n}];\n"
      },
      "id": "eebfc01a-c11c-4aa7-9a36-6ba4cf17458b",
      "name": "Build QA Prompt 2",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1040,
        -208
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/chat/completions",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "openAiApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "= {{ JSON.stringify($json.request_body) }}",
        "options": {}
      },
      "id": "6bdec421-1b52-407d-9b60-0749792f8199",
      "name": "QA Check 2",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1264,
        -208
      ],
      "credentials": {
        "openAiApi": {
          "id": "bkm4C85zHfe8HSHa",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// n8n Code node — \"Parse QA Response\"\n// ─────────────────────────────────────────────────────────────\n// Placed in \"3.1 EverMagic Scenario Expansion\", AFTER:\n//   - 'QA Check' (OpenAI GPT-4o-mini evaluation)\n// Also reads:\n//   - 'Build QA Prompt' (heuristic flags + raw story + context)\n// Feeds into: IF node on 'retry_required'\n// ─────────────────────────────────────────────────────────────\n\nconst qaContext = $('Build QA Prompt').first().json;\n\n// ── Hard structural failure — short-circuit, no QA needed ─────\nif (qaContext.hard_fail === true) {\n    return [{\n        json: {\n            retry_required:     true,\n            score:              0,\n            effective_score:    0,\n            failed_rules:       [{ rule: 'Structure', issue: qaContext.hard_fail_reason }],\n            passed_rules:       [],\n            retry_instructions: `The story output was structurally invalid: ${qaContext.hard_fail_reason} Regenerate the full story following all output format rules exactly — valid JSON, exactly 5 scenes, each with an expanded_narrative field.`,\n            heuristic_flags:    qaContext.heuristic_flags,\n            raw_story:          qaContext.raw_story || null,\n            order_id:           qaContext.order_id,\n            script_version:     qaContext.script_version,\n        },\n    }];\n}\n\nconst aiOutput  = $input.first().json;\n\n// ── Extract text from OpenAI response ─────────────────────────\nlet rawText;\nif (aiOutput.choices?.[0]?.message?.content) {\n    // Standard OpenAI HTTP API response (used by HTTP Request node)\n    rawText = aiOutput.choices[0].message.content;\n} else if (aiOutput.output?.[0]?.content?.[0]?.text) {\n    // LangChain OpenAI node format\n    rawText = aiOutput.output[0].content[0].text;\n} else if (aiOutput.message?.content) {\n    rawText = aiOutput.message.content;\n} else if (aiOutput.text) {\n    rawText = aiOutput.text;\n} else {\n    rawText = JSON.stringify(aiOutput);\n}\n\n// Strip markdown fences if model wraps output despite instructions\nconst cleaned = rawText\n    .replace(/^```json\\s*/i, '')\n    .replace(/^```\\s*/i,     '')\n    .replace(/```\\s*$/,      '')\n    .trim();\n\n// ── Parse QA JSON ──────────────────────────────────────────────\nlet qa;\ntry {\n    qa = JSON.parse(cleaned);\n} catch (_) {\n    // QA response malformed — pass through without retry to avoid blocking the pipeline\n    return [{\n        json: {\n            retry_required:     false,\n            score:              null,\n            effective_score:    null,\n            failed_rules:       [],\n            passed_rules:       [],\n            retry_instructions: null,\n            qa_parse_error:     true,\n            heuristic_flags:    qaContext.heuristic_flags,\n            raw_story:          qaContext.raw_story,\n            order_id:           qaContext.order_id,\n            script_version:     qaContext.script_version,\n        },\n    }];\n}\n\n// ── Effective score: multiple heuristic flags push borderline scores down ──\nconst heuristicCount = (qaContext.heuristic_flags || []).length;\nconst effectiveScore = heuristicCount >= 2 ? Math.min(qa.score, 7) : qa.score;\nconst retryRequired  = qa.retry_required === true || effectiveScore < 8;\n\nreturn [{\n    json: {\n        retry_required:     retryRequired,\n        score:              qa.score,\n        effective_score:    effectiveScore,\n        failed_rules:       qa.failed_rules    || [],\n        passed_rules:       qa.passed_rules    || [],\n        retry_instructions: qa.retry_instructions || null,\n        heuristic_flags:    qaContext.heuristic_flags,\n        raw_story:          qaContext.raw_story,\n        order_id:           qaContext.order_id,\n        script_version:     qaContext.script_version,\n    },\n}];\n"
      },
      "id": "4c145a70-7e02-44c2-a2a4-8ff5d846b22b",
      "name": "Parse QA Response 2",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1472,
        -208
      ]
    }
  ],
  "connections": {
    "Expand Scripts": {
      "main": [
        [
          {
            "node": "Load Envs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Load Envs": {
      "main": [
        [
          {
            "node": "Envs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Envs": {
      "main": [
        [
          {
            "node": "Fetch Scripts to Expand",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Scripts to Expand": {
      "main": [
        [
          {
            "node": "Log Execution",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log Execution": {
      "main": [
        [
          {
            "node": "Update Status: Expanding",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Status: Expanding": {
      "main": [
        [
          {
            "node": "Fetch Order Payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Order Payload": {
      "main": [
        [
          {
            "node": "Fetch Expansion Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Expansion Prompt": {
      "main": [
        [
          {
            "node": "Fetch QA Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch QA Prompt": {
      "main": [
        [
          {
            "node": "Build Expansion Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Expansion Prompt": {
      "main": [
        [
          {
            "node": "Call OpenAI GPT-4o",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call OpenAI GPT-4o": {
      "main": [
        [
          {
            "node": "Build QA Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build QA Prompt": {
      "main": [
        [
          {
            "node": "QA Check",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "QA Check": {
      "main": [
        [
          {
            "node": "Parse QA Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse QA Response": {
      "main": [
        [
          {
            "node": "IF: Retry Required",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF: Retry Required": {
      "main": [
        [
          {
            "node": "Build Retry Prompt",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Accept Story",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Retry Prompt": {
      "main": [
        [
          {
            "node": "Retry GPT-4o",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Retry GPT-4o": {
      "main": [
        [
          {
            "node": "Build QA Prompt 2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Expansion Response": {
      "main": [
        [
          {
            "node": "Save Expanded Content",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Accept Story": {
      "main": [
        [
          {
            "node": "Save Expanded Content",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save Expanded Content": {
      "main": [
        [
          {
            "node": "Update Order Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Order Status": {
      "main": [
        [
          {
            "node": "PDF Generate Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build QA Prompt 2": {
      "main": [
        [
          {
            "node": "QA Check 2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "QA Check 2": {
      "main": [
        [
          {
            "node": "Parse QA Response 2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse QA Response 2": {
      "main": [
        [
          {
            "node": "Parse Expansion Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "staticData": null,
  "meta": null,
  "pinData": {},
  "versionId": "3f551b4a-8cd7-435d-98ad-5eb7eedc46ff",
  "activeVersionId": null,
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2026-03-31T03:10:22.773Z",
      "createdAt": "2026-03-31T03:10:22.773Z",
      "role": "workflow:owner",
      "workflowId": "lJPMrLJleuICE7qp",
      "projectId": "Ez9yaDRraIYPeCTc"
    }
  ],
  "activeVersion": null,
  "tags": []
}