n8n_backup/3.2 EverMagic PDF Assembly.json
{
  "updatedAt": "2026-03-31T05:29:18.934Z",
  "createdAt": "2026-03-14T17:52:56.850Z",
  "id": "Zwhkv86d2kqVMVhg",
  "name": "3.2 EverMagic PDF Assembly",
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "orders/pdf/generate",
        "authentication": "headerAuth",
        "options": {}
      },
      "id": "856a2dea-7d52-45e2-9c67-90fc158563df",
      "name": "Generate PDFs",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -1504,
        1328
      ],
      "webhookId": "a1b2c3d4-0001-4000-8000-000000000099",
      "credentials": {
        "httpHeaderAuth": {
          "id": "Pc4RF1BUmq9cRkHn",
          "name": "Header Auth account"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "envs"
      },
      "id": "2478f4f3-cc09-43c6-98f2-2eec39d03941",
      "name": "Load Envs",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -1280,
        1328
      ],
      "credentials": {
        "supabaseApi": {
          "id": "EYHDNsSv530jAc06",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const raw = {};\nfor (const item of $input.all()) {\n  raw[item.json.key] = item.json.value;\n}\n\nconst env = {\n  mode: raw.mode,\n  is_live: raw.mode === 'live',\n  script_approval_required: raw.script_approval_required === 'true',\n  evrm_token: raw.evrm_token,\n  pdfshift_api_key: raw.pdfshift_api_key || '',\n  qr_code_url: raw.qr_code_url || '',\n  supabase_url: raw.supabase_url || '',\n  supabase_storage_url: raw.supabase_storage_url || '',\n  supabase_service_key: raw.supabase_service_key || '',\n  feedback_form_url: raw.feedback_form_url || ''\n};\n\nreturn [{ json: { env } }];\n"
      },
      "id": "f632853e-8c85-4fba-a7a9-a8068b75d31f",
      "name": "Envs",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1040,
        1328
      ]
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "order_payloads",
        "matchType": "allFilters",
        "filters": {
          "conditions": [
            {
              "keyName": "order_id",
              "condition": "eq",
              "keyValue": "={{ $json.order_id }}"
            }
          ]
        }
      },
      "id": "3efce35c-bc9b-4178-a7ef-b704a5d4705e",
      "name": "Fetch Order Payload",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -224,
        1328
      ],
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "EYHDNsSv530jAc06",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "scripts",
        "matchType": "allFilters",
        "filters": {
          "conditions": [
            {
              "keyName": "status",
              "condition": "eq",
              "keyValue": "scenario_expanded"
            }
          ]
        }
      },
      "id": "887eb575-fa87-43b2-958b-a6316d165f6e",
      "name": "Fetch Script",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -768,
        1328
      ],
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "EYHDNsSv530jAc06",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "images",
        "matchType": "allFilters",
        "filters": {
          "conditions": [
            {
              "keyName": "order_id",
              "condition": "eq",
              "keyValue": "={{ $('Fetch Order Payload').first().json.order_id }}"
            },
            {
              "keyName": "status",
              "condition": "eq",
              "keyValue": "completed"
            }
          ]
        }
      },
      "id": "386b443f-1fb6-41b1-af98-68cb234dc39b",
      "name": "Fetch Images",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        0,
        1328
      ],
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "EYHDNsSv530jAc06",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "orders",
        "matchType": "allFilters",
        "filters": {
          "conditions": [
            {
              "keyName": "order_id",
              "condition": "eq",
              "keyValue": "={{ $('Fetch Order Payload').first().json.order_id }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "status",
              "fieldValue": "pdf_generating"
            }
          ]
        }
      },
      "id": "bd60a093-9c10-402f-8943-5b47b4863408",
      "name": "Update Status: pdf_generating",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        208,
        1328
      ],
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "EYHDNsSv530jAc06",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "url": "=https://raw.githubusercontent.com/TarasGolub/evermagic/{{ $('Envs').first().json.env.is_live ? 'main' : 'develop' }}/templates/pdf/storybook.html",
        "options": {}
      },
      "id": "2293f330-348f-406a-91a7-572c1b8e85ff",
      "name": "Fetch Storybook Template",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        784,
        1328
      ],
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "url": "=https://raw.githubusercontent.com/TarasGolub/evermagic/{{ $('Envs').first().json.env.is_live ? 'main' : 'develop' }}/templates/pdf/coloring-book.html",
        "options": {}
      },
      "id": "830c0844-3f55-45fd-858f-f4188991e7be",
      "name": "Fetch Coloring Book Template",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        976,
        1328
      ],
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "url": "=https://raw.githubusercontent.com/TarasGolub/evermagic/{{ $('Envs').first().json.env.is_live ? 'main' : 'develop' }}/templates/pdf/certificate.html",
        "options": {}
      },
      "id": "b68be5a9-b43c-477c-95ac-945a9fe05446",
      "name": "Fetch Certificate Template",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1216,
        1328
      ],
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "jsCode": "// n8n Code node — \"Build PDF HTML\"\n// Placed AFTER \"Fetch PDF Template\" HTTP Request node\n// Injects order/script/image data into an HTML template string\n// Returns one item per PDF type — feeds into the PDFShift loop\n\n// ─────────────────────────────────────────────────────────────\n// 1. Gather inputs\n// ─────────────────────────────────────────────────────────────\n\nconst order = JSON.parse($('Fetch Order Payload').first().json.payload_json);\nconst child = order.child;\n\nconst scriptRow = $('Fetch Script').first().json;\nconst scriptContent = typeof scriptRow.content === 'string'\n    ? JSON.parse(scriptRow.content)\n    : scriptRow.content;\n\nconst expandedContent = typeof scriptRow.expanded_content === 'string'\n    ? JSON.parse(scriptRow.expanded_content)\n    : scriptRow.expanded_content;\n\n// Images: build a map of image_type → file_url\nconst imageRows = $('Fetch Images').all();\nconst images = {};\nfor (const row of imageRows) {\n    images[row.json.image_type] = row.json.file_url;\n}\n\nconst env = $('Envs').first().json.env;\nconst qrCodeUrl = env.qr_code_url || '';\nconst logoPdfUrl = 'https://pdrecmrvivbtutmynrbu.supabase.co/storage/v1/object/public/logo/logo_pdf.png';\n\n// Theme styles — fetched from GitHub by 'Fetch Theme Styles' HTTP Request node\nconst themeStyles = $('Fetch Theme Styles').first().json.data || '';\n\n// ─────────────────────────────────────────────────────────────\n// 2. Build variable map\n// ─────────────────────────────────────────────────────────────\n\n// Per-scene text: use expanded_content if available, fall back to narration\nfunction sceneText(sceneNumber) {\n    if (expandedContent && expandedContent.scenes) {\n        const expanded = expandedContent.scenes.find(s => s.scene_number === sceneNumber);\n        if (expanded && expanded.expanded_narrative) return expanded.expanded_narrative;\n    }\n    const scene = scriptContent.scenes.find(s => s.scene_number === sceneNumber);\n    return scene ? scene.narration : '';\n}\n\nfunction sceneTitle(sceneNumber) {\n    const scene = scriptContent.scenes.find(s => s.scene_number === sceneNumber);\n    return scene ? scene.scene_title : '';\n}\n\n// Hero trait → capitalised title for certificate\nconst heroTraitTitle = child.hero_trait\n    ? child.hero_trait.charAt(0).toUpperCase() + child.hero_trait.slice(1)\n    : 'Courage';\n\n// Certificate citation — hobby-aware\nconst citation = `In recognition of extraordinary ${child.hero_trait || 'courage'}, curiosity of mind, and strength of heart — `\n    + `demonstrated throughout the Space Hero Mission, where ${child.name} used knowledge, `\n    + `courage, and the remarkable power of ${child.hobby ? child.hobby.toLowerCase() : 'imagination'} `\n    + `to save an entire constellation and bring light back to the universe.`;\n\nconst today = new Date();\nconst awardDate = today.toLocaleDateString('en-US', { month: 'long', year: 'numeric' });\n\nconst vars = {\n    // Story\n    'story.title': scriptContent.title || '',\n    'story.tagline': scriptContent.tagline || '',\n    'closing_message': scriptContent.closing_message || '',\n    'parent_message': order.parent_message || '',\n\n    // Child\n    'child.name': child.name,\n    'child.age': String(child.age),\n    'child.hero_trait': child.hero_trait || '',\n    'child.hobby': child.hobby || '',\n\n    // Order\n    'order.order_id': order.order_id,\n    'qr_code_url': qrCodeUrl,\n    'logo_pdf_url': logoPdfUrl,\n    'theme_styles': themeStyles,\n\n    // Images — scene images\n    'cover.image_url': images['cover'] || '',\n    'scene_1.image_url': images['scene_1'] || '',\n    'scene_2.image_url': images['scene_2'] || '',\n    'scene_3.image_url': images['scene_3'] || '',\n    'scene_4.image_url': images['scene_4'] || '',\n    'scene_5.image_url': images['scene_5'] || '',\n\n    // Images — coloring pages\n    'coloring.image_url': images['coloring'] || '',\n    'coloring_1.image_url': images['coloring_1'] || '',\n    'coloring_2.image_url': images['coloring_2'] || '',\n    'coloring_3.image_url': images['coloring_3'] || '',\n    'coloring_4.image_url': images['coloring_4'] || '',\n    'coloring_5.image_url': images['coloring_5'] || '',\n\n    // Scene titles\n    'scene_1.title': sceneTitle(1),\n    'scene_2.title': sceneTitle(2),\n    'scene_3.title': sceneTitle(3),\n    'scene_4.title': sceneTitle(4),\n    'scene_5.title': sceneTitle(5),\n\n    // Scene text pages — each scene split across two fixed-height pages\n    'scene_1.text_pages': buildTextPages(1),\n    'scene_2.text_pages': buildTextPages(2),\n    'scene_3.text_pages': buildTextPages(3),\n    'scene_4.text_pages': buildTextPages(4),\n    'scene_5.text_pages': buildTextPages(5),\n\n    // Certificate\n    'cert.hero_trait_title': heroTraitTitle,\n    'cert.citation': citation,\n    'cert.date': awardDate,\n};\n\n// ─────────────────────────────────────────────────────────────\n// 3. Build scene text pages — splits narration across two fixed-height pages\n//    Even N paragraphs: N/2 each. Odd N: ceil(N/2) on page 1, floor(N/2) on page 2.\n// ─────────────────────────────────────────────────────────────\n\nfunction buildTextPages(sceneNumber) {\n    const title = sceneTitle(sceneNumber);\n    const text = sceneText(sceneNumber);\n    if (!text) return '';\n\n    // Group sentences into paragraphs of 2\n    const sentences = text.match(/[^.!?]+[.!?]+[\"']?/g) || [text];\n    const paragraphs = [];\n    for (let i = 0; i < sentences.length; i += 2) {\n        const chunk = sentences.slice(i, i + 3).join(' ').trim();\n        if (chunk) paragraphs.push('<p>' + chunk + '</p>');\n    }\n\n    const N = paragraphs.length;\n    const split = Math.ceil(N / 2);\n    const p1Html = paragraphs.slice(0, split).join('\\n');\n    const p2Html = paragraphs.slice(split).join('\\n');\n\n    const page1 =\n        '\\n  <div class=\"page fixed-height scene-text-page\">'\n        + '\\n    <div class=\"page-content\">'\n        + '\\n      <h2 class=\"scene-title\">' + title + '</h2>'\n        + '\\n      <div class=\"gold-rule\"></div>'\n        + '\\n      <div class=\"narration\">' + p1Html + '</div>'\n        + '\\n    </div>'\n        + '\\n    <div class=\"page-branding\">EverMagic</div>'\n        + '\\n  </div>';\n\n    if (!p2Html) return page1;\n\n    const page2 =\n        '\\n  <div class=\"page fixed-height scene-text-page\">'\n        + '\\n    <div class=\"page-content\">'\n        + '\\n      <div class=\"narration\">' + p2Html + '</div>'\n        + '\\n    </div>'\n        + '\\n    <div class=\"page-branding\">EverMagic</div>'\n        + '\\n  </div>';\n\n    return page1 + '\\n' + page2;\n}\n\n// ─────────────────────────────────────────────────────────────\n// 4. Inject variables into template HTML\n// ─────────────────────────────────────────────────────────────\n\nfunction injectVars(html, variables) {\n    let result = html;\n    for (const [key, value] of Object.entries(variables)) {\n        const regex = new RegExp(`\\\\{\\\\{${key.replace(/\\./g, '\\\\.')}\\\\}\\\\}`, 'g');\n        result = result.replace(regex, value);\n    }\n    return result;\n}\n\n// ─────────────────────────────────────────────────────────────\n// 4. Build one output item per PDF type\n//    Each item feeds into the PDFShift loop\n// ─────────────────────────────────────────────────────────────\n\nconst PDF_TYPES = [\n    {\n        type: 'storybook',\n        template_node: 'Fetch Storybook Template',\n        pdfshift_options: { format: '7inx7in' },\n    },\n    {\n        type: 'coloring_book',\n        template_node: 'Fetch Coloring Book Template',\n        pdfshift_options: { format: 'Letter', landscape: false },\n    },\n    {\n        type: 'certificate',\n        template_node: 'Fetch Certificate Template',\n        pdfshift_options: { format: 'Letter', landscape: true },\n    },\n];\n\nconst results = [];\n\nfor (const pdfType of PDF_TYPES) {\n    const rawHtml = $(`${pdfType.template_node}`).first().json.data;\n    const populatedHtml = injectVars(rawHtml, vars);\n\n    const pdfshiftBody = Object.assign({ source: populatedHtml }, pdfType.pdfshift_options);\n\n    results.push({\n        json: {\n            order_id: order.order_id,\n            pdf_type: pdfType.type,\n            pdfshift_body: pdfshiftBody,\n            file_path: `pdfs/${order.order_id}/${pdfType.type}.pdf`,\n        }\n    });\n}\n\nreturn results;\n"
      },
      "id": "7ba48a15-00dc-49a1-872b-65589514e545",
      "name": "Build PDF HTML",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1456,
        1328
      ],
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "0bac4b19-6bb6-4af5-a972-6885eb38228d",
      "name": "Loop Over PDFs",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        1696,
        1328
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.pdfshift.io/v3/convert/pdf",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-API-Key",
              "value": "={{ $('Envs').first().json.env.pdfshift_api_key }}"
            }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ JSON.stringify($json.pdfshift_body) }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "id": "20799745-79ab-4a37-9685-50bc13551ae7",
      "name": "Call PDFShift",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        2192,
        1344
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://pdrecmrvivbtutmynrbu.supabase.co/storage/v1/object/pdfs/{{ $('Loop Over PDFs').item.json.file_path }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "supabaseApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-upsert",
              "value": "true"
            },
            {
              "name": "Content-Type",
              "value": "application/pdf"
            }
          ]
        },
        "sendBody": true,
        "contentType": "binaryData",
        "inputDataFieldName": "data",
        "options": {}
      },
      "id": "28247ebb-2318-4997-952d-8a234b44b5f6",
      "name": "Upload PDF to Storage",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        2432,
        1344
      ],
      "credentials": {
        "supabaseApi": {
          "id": "EYHDNsSv530jAc06",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "tableId": "pdfs",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "order_id",
              "fieldValue": "={{ $('Call PDFShift').item.json.order_id }}"
            },
            {
              "fieldId": "pdf_type",
              "fieldValue": "={{ $('Call PDFShift').item.json.pdf_type }}"
            },
            {
              "fieldId": "file_path",
              "fieldValue": "={{ $('Call PDFShift').item.json.file_path }}"
            },
            {
              "fieldId": "file_url",
              "fieldValue": "=https://pdrecmrvivbtutmynrbu.supabase.co/storage/v1/object/public/{{ $json.Key }}"
            },
            {
              "fieldId": "status",
              "fieldValue": "comleted"
            }
          ]
        }
      },
      "id": "bb2243fb-0350-4ae0-b72b-fbf2de106431",
      "name": "Save PDF Record",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        2672,
        1344
      ],
      "credentials": {
        "supabaseApi": {
          "id": "EYHDNsSv530jAc06",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "orders",
        "matchType": "allFilters",
        "filters": {
          "conditions": [
            {
              "keyName": "order_id",
              "condition": "eq",
              "keyValue": "={{ $('Fetch Order Payload').first().json.order_id }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "status",
              "fieldValue": "pdf_generated"
            }
          ]
        }
      },
      "id": "1496c33f-b840-4d95-8328-95b19e914ee2",
      "name": "Update Order Status: pdf_generated",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        2464,
        1136
      ],
      "credentials": {
        "supabaseApi": {
          "id": "EYHDNsSv530jAc06",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "scripts",
        "filters": {
          "conditions": [
            {
              "keyName": "order_id",
              "condition": "eq",
              "keyValue": "={{ $('Fetch Order Payload').first().json.order_id }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "status",
              "fieldValue": "pdf_generated"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        1904,
        1328
      ],
      "id": "5877d877-f5f9-4f27-b89e-ddb90c050e01",
      "name": "Update Script Status",
      "credentials": {
        "supabaseApi": {
          "id": "EYHDNsSv530jAc06",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "url": "=https://raw.githubusercontent.com/TarasGolub/evermagic/{{ $('Envs').first().json.env.is_live ? 'main' : 'develop' }}/emails/customer-delivery.html",
        "options": {}
      },
      "id": "416eb9cd-527f-4963-bb4c-12dd327911e5",
      "name": "Fetch Delivery Email Template",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        2864,
        1136
      ]
    },
    {
      "parameters": {
        "jsCode": "// n8n Code node — \"Build Delivery\"\n// Placed AFTER the PDFShift loop (all 3 PDFs assembled and stored in Supabase)\n//\n// Inputs expected (from prior nodes):\n//   - 'Fetch Order Payload'  → order JSON\n//   - 'Fetch Script'         → script row (for story title)\n//   - 'Fetch PDFs'           → rows from pdfs table (or pass pdf URLs directly)\n//   - 'Fetch Delivery Email Template' → raw HTML string (from GitHub fetch)\n//   - 'Envs'                 → env config\n//\n// Outputs (one item):\n//   {\n//     order_id, child_name, child_email,\n//     customer_email_html,  ← send to customer\n//     customer_email_subject,\n//     admin_email_html,     ← send to admin\n//     admin_email_subject,\n//   }\n\n// ─────────────────────────────────────────────────────────────\n// 1. Gather inputs\n// ─────────────────────────────────────────────────────────────\n\nconst order = JSON.parse($('Fetch Order Payload').first().json.payload_json);\nconst child = order.child;\n\nconst scriptRow = $('Fetch Script').first().json;\nconst scriptContent = typeof scriptRow.content === 'string'\n    ? JSON.parse(scriptRow.content)\n    : scriptRow.content;\n\nconst env = $('Envs').first().json.env;\n\n// Supabase public storage base URL — store this in envs table as 'supabase_storage_url'\n// e.g. https://YOURPROJECT.supabase.co/storage/v1/object/public\nconst storageBase = env.supabase_storage_url || '';\nconst bucket = env.storage_bucket || 'pdfs';\n\n// PDF public URLs — constructed from known storage paths\nconst pdfBase = `${storageBase}/${bucket}/pdfs/${order.order_id}`;\nconst storybookUrl = `${pdfBase}/storybook.pdf?download=EverMagic-Storybook.pdf`;\nconst coloringBookUrl = `${pdfBase}/coloring_book.pdf?download=EverMagic-Coloring-Book.pdf`;\nconst certificateUrl = `${pdfBase}/certificate.pdf?download=EverMagic-Certificate.pdf`;\n\n// Story title\nconst storyTitle = scriptContent.title || `${child.name}'s Space Adventure`;\n\n// Thank-you message shown on page and in email\nconst thankYouMessage = `Your story is here — all three files are ready to save and treasure. `\n    + `We hope ${child.name} loves every moment of the adventure! 🚀`;\n\n// ─────────────────────────────────────────────────────────────\n// 2. Populate templates\n// ─────────────────────────────────────────────────────────────\n\nconst branch = env.is_live ? 'main' : 'develop';\nconst logoUrl = `https://raw.githubusercontent.com/TarasGolub/evermagic/${branch}/templates/icons/logo_email.png`;\n\nconst emailVars = {\n    'logo_url': logoUrl,\n    'child_name': child.name,\n    'story_title': storyTitle,\n    'thank_you_message': thankYouMessage,\n    'storybook_url': storybookUrl,\n    'coloring_book_url': coloringBookUrl,\n    'certificate_url': certificateUrl,\n};\n\nfunction injectVars(html, vars) {\n    let result = html;\n    for (const [key, value] of Object.entries(vars)) {\n        const regex = new RegExp(`\\\\{\\\\{${key.replace(/\\./g, '\\\\.')}\\\\}\\\\}`, 'g');\n        result = result.replace(regex, value);\n    }\n    return result;\n}\n\nconst emailTemplate = $('Fetch Delivery Email Template').first().json.data;\nconst customerEmailHtml = injectVars(emailTemplate, emailVars);\n\n// ─────────────────────────────────────────────────────────────\n// 3. Admin notification (plain HTML — no separate template needed)\n// ─────────────────────────────────────────────────────────────\n\nconst adminEmailHtml = `\n<div style=\"font-family:monospace; padding:20px;\">\n  <h2>✅ Order Delivered — ${order.order_id}</h2>\n  <p><strong>Child:</strong> ${child.name}, age ${child.age}</p>\n  <p><strong>Story:</strong> ${storyTitle}</p>\n  <p><strong>Customer email:</strong> ${order.delivery.email}</p>\n  <hr>\n  <p>PDFs:<br>\n    📖 <a href=\"${storybookUrl}\">Storybook</a><br>\n    🎨 <a href=\"${coloringBookUrl}\">Coloring Book</a><br>\n    🏅 <a href=\"${certificateUrl}\">Certificate</a>\n  </p>\n</div>\n`.trim();\n\n// ─────────────────────────────────────────────────────────────\n// 4. Return\n// ─────────────────────────────────────────────────────────────\n\nreturn [{\n    json: {\n        order_id: order.order_id,\n        child_name: child.name,\n        child_email: order.delivery.email,\n\n        customer_email_html: customerEmailHtml,\n        customer_email_subject: `✨ ${child.name}'s magic is ready — download your files!`,\n\n        admin_email_html: adminEmailHtml,\n        admin_email_subject: `✅ Delivered — ${order.order_id} — ${child.name}`,\n    }\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3072,
        1136
      ],
      "id": "4a53f6bf-5bf9-4ace-a674-b07810d9dead",
      "name": "Build Delivery",
      "executeOnce": true,
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "fromEmail": "taras.evermagic@gmail.com",
        "toEmail": "={{ $('Build Delivery').item.json.child_email }}",
        "subject": "={{ $('Build Delivery').item.json.customer_email_subject }}",
        "html": "={{ $('Build Delivery').item.json.customer_email_html }}",
        "options": {
          "appendAttribution": false
        }
      },
      "id": "4f9e239d-a58f-4ee7-aa96-495558153db6",
      "name": "Send Customer Delivery Email",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        3488,
        1136
      ],
      "webhookId": "ac54d5d3-cbd0-44cd-9965-5025ab854d5e",
      "credentials": {
        "smtp": {
          "id": "ymjQpdS5fXvpjwjN",
          "name": "SMTP account"
        }
      }
    },
    {
      "parameters": {
        "fromEmail": "taras.evermagic@gmail.com",
        "toEmail": "=taras.evermagic@gmail.com",
        "subject": "={{ $('Build Delivery').item.json.admin_email_subject }}",
        "html": "={{ $('Build Delivery').item.json.admin_email_html }}",
        "options": {
          "appendAttribution": true
        }
      },
      "id": "d044ce49-7e39-4234-bfe9-3f08f3491ff9",
      "name": "Send Admin Notification",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        3680,
        1136
      ],
      "webhookId": "ac54d5d3-cbd0-44cd-9965-5025ab854d5e",
      "credentials": {
        "smtp": {
          "id": "ymjQpdS5fXvpjwjN",
          "name": "SMTP account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "orders",
        "matchType": "allFilters",
        "filters": {
          "conditions": [
            {
              "keyName": "order_id",
              "condition": "eq",
              "keyValue": "={{ $('Fetch Order Payload').first().json.order_id }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "status",
              "fieldValue": "pdf_delivered"
            }
          ]
        }
      },
      "id": "282860f1-4612-442c-9060-96b58551b980",
      "name": "Update Order Status: PDFs delivered",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        3904,
        1136
      ],
      "credentials": {
        "supabaseApi": {
          "id": "EYHDNsSv530jAc06",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "orders",
        "limit": 1,
        "matchType": "allFilters",
        "filters": {
          "conditions": [
            {
              "keyName": "order_id",
              "condition": "eq",
              "keyValue": "={{ $('Build Delivery').first().json.order_id }}"
            }
          ]
        }
      },
      "id": "2f7534b4-e681-425e-9909-a803894212a4",
      "name": "Fetch Order Source",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        4160,
        1136
      ],
      "credentials": {
        "supabaseApi": {
          "id": "EYHDNsSv530jAc06",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "uat-source-check",
              "leftValue": "={{ $json.source }}",
              "rightValue": "UAT",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "a71a2c8c-ea4c-417e-bbbd-9601974d08cc",
      "name": "Is UAT?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        4400,
        1136
      ]
    },
    {
      "parameters": {
        "url": "=https://raw.githubusercontent.com/TarasGolub/evermagic/{{ $('Envs').first().json.env.is_live ? 'main' : 'develop' }}/emails/uat-feedback-request.html",
        "options": {}
      },
      "id": "69221b65-2022-49c5-bebf-eba5cc32ecc5",
      "name": "Fetch Feedback Request Email Template",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        4880,
        1008
      ]
    },
    {
      "parameters": {
        "jsCode": "const deliveryData = $('Build Delivery').first().json;\nconst env          = $('Envs').first().json.env;\n\nconst feedbackFormBase = env.feedback_form_url;\nif (!feedbackFormBase) throw new Error('Missing env: feedback_form_url');\n\nconst feedbackUrl = feedbackFormBase\n  + `?order_id=${encodeURIComponent(deliveryData.order_id)}`\n  + `&email=${encodeURIComponent(deliveryData.child_email)}`;\n\nconst branch  = env.is_live ? 'main' : 'develop';\nconst logoUrl = `https://raw.githubusercontent.com/TarasGolub/evermagic/${branch}/templates/icons/logo_email.png`;\n\nconst template = $('Fetch Feedback Request Email Template').first().json.data;\n\nconst html = template\n  .replace(/\\{\\{logo_url\\}\\}/g,     logoUrl)\n  .replace(/\\{\\{child_name\\}\\}/g,   deliveryData.child_name)\n  .replace(/\\{\\{feedback_url\\}\\}/g, feedbackUrl);\n\nreturn [{\n  json: {\n    to:      deliveryData.child_email,\n    subject: `${deliveryData.child_name}'s files are ready — quick feedback? Taras`,\n    html,\n  }\n}];\n"
      },
      "id": "ef9e0577-0510-4274-9cf6-234e423e9108",
      "name": "Build UAT Feedback Request Email",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        5120,
        1008
      ],
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "fromEmail": "taras.evermagic@gmail.com",
        "toEmail": "={{ $json.to }}",
        "subject": "={{ $json.subject }}",
        "html": "={{ $json.html }}",
        "options": {
          "appendAttribution": false
        }
      },
      "id": "119bef13-5231-4168-8193-6a57e5d2227b",
      "name": "Send UAT Feedback Request",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        5360,
        1008
      ],
      "webhookId": "f17ffe03-a5b2-4dc6-9a81-3588d92dfa00",
      "credentials": {
        "smtp": {
          "id": "ymjQpdS5fXvpjwjN",
          "name": "SMTP account"
        }
      }
    },
    {
      "parameters": {
        "amount": "={{ $('Envs').item.json.env.is_live ? 600 : 5}}"
      },
      "id": "f4c017b3-4035-4977-a553-cdb3575f83ed",
      "name": "Wait 5 min",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        4640,
        1008
      ],
      "webhookId": "uat-wait-webhook"
    },
    {
      "parameters": {
        "jsCode": "const payload = JSON.parse($('Fetch Order Payload').first().json.payload_json);\n  const themeFolder = (payload.theme || 'SPACE_HERO').toLowerCase();\n  const branch = $('Envs').first().json.env.is_live ? 'main' : 'develop';\n  const url = `https://raw.githubusercontent.com/TarasGolub/evermagic/${branch}/prompts/${themeFolder}/theme_styles.css`;\n  return [{ json: { url } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        416,
        1328
      ],
      "id": "0c5ca2c0-0e3f-402c-a479-4d65eb672e4b",
      "name": "Build Theme CSS URL"
    },
    {
      "parameters": {
        "url": "={{ $json.url }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        560,
        1328
      ],
      "id": "2c70d725-202f-44e8-bcdf-8b03974dceb7",
      "name": "Fetch Theme Styles"
    },
    {
      "parameters": {
        "tableId": "execution_log",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "order_id",
              "fieldValue": "={{ $json.order_id }}"
            },
            {
              "fieldId": "execution_id",
              "fieldValue": "={{ $execution.id }}"
            },
            {
              "fieldId": "workflow_name",
              "fieldValue": "3.2 EverMagic PDF Assembly"
            },
            {
              "fieldId": "stage",
              "fieldValue": " PDF Assembly"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -512,
        1328
      ],
      "id": "7a2064ff-ddb5-4342-83b5-c72c391f7184",
      "name": "Log Execution",
      "credentials": {
        "supabaseApi": {
          "id": "EYHDNsSv530jAc06",
          "name": "Supabase account"
        }
      }
    }
  ],
  "connections": {
    "Generate PDFs": {
      "main": [
        [
          {
            "node": "Load Envs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Load Envs": {
      "main": [
        [
          {
            "node": "Envs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Envs": {
      "main": [
        [
          {
            "node": "Fetch Script",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Order Payload": {
      "main": [
        [
          {
            "node": "Fetch Images",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Script": {
      "main": [
        [
          {
            "node": "Log Execution",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Images": {
      "main": [
        [
          {
            "node": "Update Status: pdf_generating",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Status: pdf_generating": {
      "main": [
        [
          {
            "node": "Build Theme CSS URL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Storybook Template": {
      "main": [
        [
          {
            "node": "Fetch Coloring Book Template",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Coloring Book Template": {
      "main": [
        [
          {
            "node": "Fetch Certificate Template",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Certificate Template": {
      "main": [
        [
          {
            "node": "Build PDF HTML",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build PDF HTML": {
      "main": [
        [
          {
            "node": "Loop Over PDFs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over PDFs": {
      "main": [
        [
          {
            "node": "Update Script Status",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Call PDFShift",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call PDFShift": {
      "main": [
        [
          {
            "node": "Upload PDF to Storage",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload PDF to Storage": {
      "main": [
        [
          {
            "node": "Save PDF Record",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save PDF Record": {
      "main": [
        [
          {
            "node": "Loop Over PDFs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Order Status: pdf_generated": {
      "main": [
        [
          {
            "node": "Fetch Delivery Email Template",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Script Status": {
      "main": [
        [
          {
            "node": "Update Order Status: pdf_generated",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Delivery Email Template": {
      "main": [
        [
          {
            "node": "Build Delivery",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Delivery": {
      "main": [
        [
          {
            "node": "Send Customer Delivery Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Customer Delivery Email": {
      "main": [
        [
          {
            "node": "Send Admin Notification",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Admin Notification": {
      "main": [
        [
          {
            "node": "Update Order Status: PDFs delivered",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Order Source": {
      "main": [
        [
          {
            "node": "Is UAT?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is UAT?": {
      "main": [
        [
          {
            "node": "Wait 5 min",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Feedback Request Email Template": {
      "main": [
        [
          {
            "node": "Build UAT Feedback Request Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build UAT Feedback Request Email": {
      "main": [
        [
          {
            "node": "Send UAT Feedback Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Order Status: PDFs delivered": {
      "main": [
        [
          {
            "node": "Fetch Order Source",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait 5 min": {
      "main": [
        [
          {
            "node": "Fetch Feedback Request Email Template",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Theme CSS URL": {
      "main": [
        [
          {
            "node": "Fetch Theme Styles",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Theme Styles": {
      "main": [
        [
          {
            "node": "Fetch Storybook Template",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log Execution": {
      "main": [
        [
          {
            "node": "Fetch Order Payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false,
    "timeSavedMode": "fixed",
    "errorWorkflow": "X8i8vvopGj9AvYk6",
    "callerPolicy": "workflowsFromSameOwner"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "d369579d-4be5-4878-bf21-3bc6ed9627e0",
  "activeVersionId": "d369579d-4be5-4878-bf21-3bc6ed9627e0",
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2026-03-14T17:52:56.853Z",
      "createdAt": "2026-03-14T17:52:56.853Z",
      "role": "workflow:owner",
      "workflowId": "Zwhkv86d2kqVMVhg",
      "projectId": "Ez9yaDRraIYPeCTc"
    }
  ],
  "activeVersion": {
    "updatedAt": "2026-03-31T05:29:21.000Z",
    "createdAt": "2026-03-31T05:29:18.935Z",
    "versionId": "d369579d-4be5-4878-bf21-3bc6ed9627e0",
    "workflowId": "Zwhkv86d2kqVMVhg",
    "nodes": [
      {
        "parameters": {
          "httpMethod": "POST",
          "path": "orders/pdf/generate",
          "authentication": "headerAuth",
          "options": {}
        },
        "id": "856a2dea-7d52-45e2-9c67-90fc158563df",
        "name": "Generate PDFs",
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 2.1,
        "position": [
          -1504,
          1328
        ],
        "webhookId": "a1b2c3d4-0001-4000-8000-000000000099",
        "credentials": {
          "httpHeaderAuth": {
            "id": "Pc4RF1BUmq9cRkHn",
            "name": "Header Auth account"
          }
        }
      },
      {
        "parameters": {
          "operation": "getAll",
          "tableId": "envs"
        },
        "id": "2478f4f3-cc09-43c6-98f2-2eec39d03941",
        "name": "Load Envs",
        "type": "n8n-nodes-base.supabase",
        "typeVersion": 1,
        "position": [
          -1280,
          1328
        ],
        "credentials": {
          "supabaseApi": {
            "id": "EYHDNsSv530jAc06",
            "name": "Supabase account"
          }
        }
      },
      {
        "parameters": {
          "jsCode": "const raw = {};\nfor (const item of $input.all()) {\n  raw[item.json.key] = item.json.value;\n}\n\nconst env = {\n  mode: raw.mode,\n  is_live: raw.mode === 'live',\n  script_approval_required: raw.script_approval_required === 'true',\n  evrm_token: raw.evrm_token,\n  pdfshift_api_key: raw.pdfshift_api_key || '',\n  qr_code_url: raw.qr_code_url || '',\n  supabase_url: raw.supabase_url || '',\n  supabase_storage_url: raw.supabase_storage_url || '',\n  supabase_service_key: raw.supabase_service_key || '',\n  feedback_form_url: raw.feedback_form_url || ''\n};\n\nreturn [{ json: { env } }];\n"
        },
        "id": "f632853e-8c85-4fba-a7a9-a8068b75d31f",
        "name": "Envs",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          -1040,
          1328
        ]
      },
      {
        "parameters": {
          "operation": "getAll",
          "tableId": "order_payloads",
          "matchType": "allFilters",
          "filters": {
            "conditions": [
              {
                "keyName": "order_id",
                "condition": "eq",
                "keyValue": "={{ $json.order_id }}"
              }
            ]
          }
        },
        "id": "3efce35c-bc9b-4178-a7ef-b704a5d4705e",
        "name": "Fetch Order Payload",
        "type": "n8n-nodes-base.supabase",
        "typeVersion": 1,
        "position": [
          -224,
          1328
        ],
        "alwaysOutputData": true,
        "credentials": {
          "supabaseApi": {
            "id": "EYHDNsSv530jAc06",
            "name": "Supabase account"
          }
        }
      },
      {
        "parameters": {
          "operation": "getAll",
          "tableId": "scripts",
          "matchType": "allFilters",
          "filters": {
            "conditions": [
              {
                "keyName": "status",
                "condition": "eq",
                "keyValue": "scenario_expanded"
              }
            ]
          }
        },
        "id": "887eb575-fa87-43b2-958b-a6316d165f6e",
        "name": "Fetch Script",
        "type": "n8n-nodes-base.supabase",
        "typeVersion": 1,
        "position": [
          -768,
          1328
        ],
        "alwaysOutputData": true,
        "credentials": {
          "supabaseApi": {
            "id": "EYHDNsSv530jAc06",
            "name": "Supabase account"
          }
        }
      },
      {
        "parameters": {
          "operation": "getAll",
          "tableId": "images",
          "matchType": "allFilters",
          "filters": {
            "conditions": [
              {
                "keyName": "order_id",
                "condition": "eq",
                "keyValue": "={{ $('Fetch Order Payload').first().json.order_id }}"
              },
              {
                "keyName": "status",
                "condition": "eq",
                "keyValue": "completed"
              }
            ]
          }
        },
        "id": "386b443f-1fb6-41b1-af98-68cb234dc39b",
        "name": "Fetch Images",
        "type": "n8n-nodes-base.supabase",
        "typeVersion": 1,
        "position": [
          0,
          1328
        ],
        "alwaysOutputData": true,
        "credentials": {
          "supabaseApi": {
            "id": "EYHDNsSv530jAc06",
            "name": "Supabase account"
          }
        }
      },
      {
        "parameters": {
          "operation": "update",
          "tableId": "orders",
          "matchType": "allFilters",
          "filters": {
            "conditions": [
              {
                "keyName": "order_id",
                "condition": "eq",
                "keyValue": "={{ $('Fetch Order Payload').first().json.order_id }}"
              }
            ]
          },
          "fieldsUi": {
            "fieldValues": [
              {
                "fieldId": "status",
                "fieldValue": "pdf_generating"
              }
            ]
          }
        },
        "id": "bd60a093-9c10-402f-8943-5b47b4863408",
        "name": "Update Status: pdf_generating",
        "type": "n8n-nodes-base.supabase",
        "typeVersion": 1,
        "position": [
          208,
          1328
        ],
        "alwaysOutputData": true,
        "credentials": {
          "supabaseApi": {
            "id": "EYHDNsSv530jAc06",
            "name": "Supabase account"
          }
        }
      },
      {
        "parameters": {
          "url": "=https://raw.githubusercontent.com/TarasGolub/evermagic/{{ $('Envs').first().json.env.is_live ? 'main' : 'develop' }}/templates/pdf/storybook.html",
          "options": {}
        },
        "id": "2293f330-348f-406a-91a7-572c1b8e85ff",
        "name": "Fetch Storybook Template",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.4,
        "position": [
          784,
          1328
        ],
        "alwaysOutputData": true
      },
      {
        "parameters": {
          "url": "=https://raw.githubusercontent.com/TarasGolub/evermagic/{{ $('Envs').first().json.env.is_live ? 'main' : 'develop' }}/templates/pdf/coloring-book.html",
          "options": {}
        },
        "id": "830c0844-3f55-45fd-858f-f4188991e7be",
        "name": "Fetch Coloring Book Template",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.4,
        "position": [
          976,
          1328
        ],
        "alwaysOutputData": true
      },
      {
        "parameters": {
          "url": "=https://raw.githubusercontent.com/TarasGolub/evermagic/{{ $('Envs').first().json.env.is_live ? 'main' : 'develop' }}/templates/pdf/certificate.html",
          "options": {}
        },
        "id": "b68be5a9-b43c-477c-95ac-945a9fe05446",
        "name": "Fetch Certificate Template",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.4,
        "position": [
          1216,
          1328
        ],
        "alwaysOutputData": true
      },
      {
        "parameters": {
          "jsCode": "// n8n Code node — \"Build PDF HTML\"\n// Placed AFTER \"Fetch PDF Template\" HTTP Request node\n// Injects order/script/image data into an HTML template string\n// Returns one item per PDF type — feeds into the PDFShift loop\n\n// ─────────────────────────────────────────────────────────────\n// 1. Gather inputs\n// ─────────────────────────────────────────────────────────────\n\nconst order = JSON.parse($('Fetch Order Payload').first().json.payload_json);\nconst child = order.child;\n\nconst scriptRow = $('Fetch Script').first().json;\nconst scriptContent = typeof scriptRow.content === 'string'\n    ? JSON.parse(scriptRow.content)\n    : scriptRow.content;\n\nconst expandedContent = typeof scriptRow.expanded_content === 'string'\n    ? JSON.parse(scriptRow.expanded_content)\n    : scriptRow.expanded_content;\n\n// Images: build a map of image_type → file_url\nconst imageRows = $('Fetch Images').all();\nconst images = {};\nfor (const row of imageRows) {\n    images[row.json.image_type] = row.json.file_url;\n}\n\nconst env = $('Envs').first().json.env;\nconst qrCodeUrl = env.qr_code_url || '';\nconst logoPdfUrl = 'https://pdrecmrvivbtutmynrbu.supabase.co/storage/v1/object/public/logo/logo_pdf.png';\n\n// Theme styles — fetched from GitHub by 'Fetch Theme Styles' HTTP Request node\nconst themeStyles = $('Fetch Theme Styles').first().json.data || '';\n\n// ─────────────────────────────────────────────────────────────\n// 2. Build variable map\n// ─────────────────────────────────────────────────────────────\n\n// Per-scene text: use expanded_content if available, fall back to narration\nfunction sceneText(sceneNumber) {\n    if (expandedContent && expandedContent.scenes) {\n        const expanded = expandedContent.scenes.find(s => s.scene_number === sceneNumber);\n        if (expanded && expanded.expanded_narrative) return expanded.expanded_narrative;\n    }\n    const scene = scriptContent.scenes.find(s => s.scene_number === sceneNumber);\n    return scene ? scene.narration : '';\n}\n\nfunction sceneTitle(sceneNumber) {\n    const scene = scriptContent.scenes.find(s => s.scene_number === sceneNumber);\n    return scene ? scene.scene_title : '';\n}\n\n// Hero trait → capitalised title for certificate\nconst heroTraitTitle = child.hero_trait\n    ? child.hero_trait.charAt(0).toUpperCase() + child.hero_trait.slice(1)\n    : 'Courage';\n\n// Certificate citation — hobby-aware\nconst citation = `In recognition of extraordinary ${child.hero_trait || 'courage'}, curiosity of mind, and strength of heart — `\n    + `demonstrated throughout the Space Hero Mission, where ${child.name} used knowledge, `\n    + `courage, and the remarkable power of ${child.hobby ? child.hobby.toLowerCase() : 'imagination'} `\n    + `to save an entire constellation and bring light back to the universe.`;\n\nconst today = new Date();\nconst awardDate = today.toLocaleDateString('en-US', { month: 'long', year: 'numeric' });\n\nconst vars = {\n    // Story\n    'story.title': scriptContent.title || '',\n    'story.tagline': scriptContent.tagline || '',\n    'closing_message': scriptContent.closing_message || '',\n    'parent_message': order.parent_message || '',\n\n    // Child\n    'child.name': child.name,\n    'child.age': String(child.age),\n    'child.hero_trait': child.hero_trait || '',\n    'child.hobby': child.hobby || '',\n\n    // Order\n    'order.order_id': order.order_id,\n    'qr_code_url': qrCodeUrl,\n    'logo_pdf_url': logoPdfUrl,\n    'theme_styles': themeStyles,\n\n    // Images — scene images\n    'cover.image_url': images['cover'] || '',\n    'scene_1.image_url': images['scene_1'] || '',\n    'scene_2.image_url': images['scene_2'] || '',\n    'scene_3.image_url': images['scene_3'] || '',\n    'scene_4.image_url': images['scene_4'] || '',\n    'scene_5.image_url': images['scene_5'] || '',\n\n    // Images — coloring pages\n    'coloring.image_url': images['coloring'] || '',\n    'coloring_1.image_url': images['coloring_1'] || '',\n    'coloring_2.image_url': images['coloring_2'] || '',\n    'coloring_3.image_url': images['coloring_3'] || '',\n    'coloring_4.image_url': images['coloring_4'] || '',\n    'coloring_5.image_url': images['coloring_5'] || '',\n\n    // Scene titles\n    'scene_1.title': sceneTitle(1),\n    'scene_2.title': sceneTitle(2),\n    'scene_3.title': sceneTitle(3),\n    'scene_4.title': sceneTitle(4),\n    'scene_5.title': sceneTitle(5),\n\n    // Scene text pages — each scene split across two fixed-height pages\n    'scene_1.text_pages': buildTextPages(1),\n    'scene_2.text_pages': buildTextPages(2),\n    'scene_3.text_pages': buildTextPages(3),\n    'scene_4.text_pages': buildTextPages(4),\n    'scene_5.text_pages': buildTextPages(5),\n\n    // Certificate\n    'cert.hero_trait_title': heroTraitTitle,\n    'cert.citation': citation,\n    'cert.date': awardDate,\n};\n\n// ─────────────────────────────────────────────────────────────\n// 3. Build scene text pages — splits narration across two fixed-height pages\n//    Even N paragraphs: N/2 each. Odd N: ceil(N/2) on page 1, floor(N/2) on page 2.\n// ─────────────────────────────────────────────────────────────\n\nfunction buildTextPages(sceneNumber) {\n    const title = sceneTitle(sceneNumber);\n    const text = sceneText(sceneNumber);\n    if (!text) return '';\n\n    // Group sentences into paragraphs of 2\n    const sentences = text.match(/[^.!?]+[.!?]+[\"']?/g) || [text];\n    const paragraphs = [];\n    for (let i = 0; i < sentences.length; i += 2) {\n        const chunk = sentences.slice(i, i + 3).join(' ').trim();\n        if (chunk) paragraphs.push('<p>' + chunk + '</p>');\n    }\n\n    const N = paragraphs.length;\n    const split = Math.ceil(N / 2);\n    const p1Html = paragraphs.slice(0, split).join('\\n');\n    const p2Html = paragraphs.slice(split).join('\\n');\n\n    const page1 =\n        '\\n  <div class=\"page fixed-height scene-text-page\">'\n        + '\\n    <div class=\"page-content\">'\n        + '\\n      <h2 class=\"scene-title\">' + title + '</h2>'\n        + '\\n      <div class=\"gold-rule\"></div>'\n        + '\\n      <div class=\"narration\">' + p1Html + '</div>'\n        + '\\n    </div>'\n        + '\\n    <div class=\"page-branding\">EverMagic</div>'\n        + '\\n  </div>';\n\n    if (!p2Html) return page1;\n\n    const page2 =\n        '\\n  <div class=\"page fixed-height scene-text-page\">'\n        + '\\n    <div class=\"page-content\">'\n        + '\\n      <div class=\"narration\">' + p2Html + '</div>'\n        + '\\n    </div>'\n        + '\\n    <div class=\"page-branding\">EverMagic</div>'\n        + '\\n  </div>';\n\n    return page1 + '\\n' + page2;\n}\n\n// ─────────────────────────────────────────────────────────────\n// 4. Inject variables into template HTML\n// ─────────────────────────────────────────────────────────────\n\nfunction injectVars(html, variables) {\n    let result = html;\n    for (const [key, value] of Object.entries(variables)) {\n        const regex = new RegExp(`\\\\{\\\\{${key.replace(/\\./g, '\\\\.')}\\\\}\\\\}`, 'g');\n        result = result.replace(regex, value);\n    }\n    return result;\n}\n\n// ─────────────────────────────────────────────────────────────\n// 4. Build one output item per PDF type\n//    Each item feeds into the PDFShift loop\n// ─────────────────────────────────────────────────────────────\n\nconst PDF_TYPES = [\n    {\n        type: 'storybook',\n        template_node: 'Fetch Storybook Template',\n        pdfshift_options: { format: '7inx7in' },\n    },\n    {\n        type: 'coloring_book',\n        template_node: 'Fetch Coloring Book Template',\n        pdfshift_options: { format: 'Letter', landscape: false },\n    },\n    {\n        type: 'certificate',\n        template_node: 'Fetch Certificate Template',\n        pdfshift_options: { format: 'Letter', landscape: true },\n    },\n];\n\nconst results = [];\n\nfor (const pdfType of PDF_TYPES) {\n    const rawHtml = $(`${pdfType.template_node}`).first().json.data;\n    const populatedHtml = injectVars(rawHtml, vars);\n\n    const pdfshiftBody = Object.assign({ source: populatedHtml }, pdfType.pdfshift_options);\n\n    results.push({\n        json: {\n            order_id: order.order_id,\n            pdf_type: pdfType.type,\n            pdfshift_body: pdfshiftBody,\n            file_path: `pdfs/${order.order_id}/${pdfType.type}.pdf`,\n        }\n    });\n}\n\nreturn results;\n"
        },
        "id": "7ba48a15-00dc-49a1-872b-65589514e545",
        "name": "Build PDF HTML",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          1456,
          1328
        ],
        "alwaysOutputData": true
      },
      {
        "parameters": {
          "options": {}
        },
        "id": "0bac4b19-6bb6-4af5-a972-6885eb38228d",
        "name": "Loop Over PDFs",
        "type": "n8n-nodes-base.splitInBatches",
        "typeVersion": 3,
        "position": [
          1696,
          1328
        ]
      },
      {
        "parameters": {
          "method": "POST",
          "url": "https://api.pdfshift.io/v3/convert/pdf",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "X-API-Key",
                "value": "={{ $('Envs').first().json.env.pdfshift_api_key }}"
              }
            ]
          },
          "sendBody": true,
          "contentType": "raw",
          "rawContentType": "application/json",
          "body": "={{ JSON.stringify($json.pdfshift_body) }}",
          "options": {
            "response": {
              "response": {
                "responseFormat": "file"
              }
            }
          }
        },
        "id": "20799745-79ab-4a37-9685-50bc13551ae7",
        "name": "Call PDFShift",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.4,
        "position": [
          2192,
          1344
        ]
      },
      {
        "parameters": {
          "method": "POST",
          "url": "=https://pdrecmrvivbtutmynrbu.supabase.co/storage/v1/object/pdfs/{{ $('Loop Over PDFs').item.json.file_path }}",
          "authentication": "predefinedCredentialType",
          "nodeCredentialType": "supabaseApi",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "x-upsert",
                "value": "true"
              },
              {
                "name": "Content-Type",
                "value": "application/pdf"
              }
            ]
          },
          "sendBody": true,
          "contentType": "binaryData",
          "inputDataFieldName": "data",
          "options": {}
        },
        "id": "28247ebb-2318-4997-952d-8a234b44b5f6",
        "name": "Upload PDF to Storage",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.4,
        "position": [
          2432,
          1344
        ],
        "credentials": {
          "supabaseApi": {
            "id": "EYHDNsSv530jAc06",
            "name": "Supabase account"
          }
        }
      },
      {
        "parameters": {
          "tableId": "pdfs",
          "fieldsUi": {
            "fieldValues": [
              {
                "fieldId": "order_id",
                "fieldValue": "={{ $('Call PDFShift').item.json.order_id }}"
              },
              {
                "fieldId": "pdf_type",
                "fieldValue": "={{ $('Call PDFShift').item.json.pdf_type }}"
              },
              {
                "fieldId": "file_path",
                "fieldValue": "={{ $('Call PDFShift').item.json.file_path }}"
              },
              {
                "fieldId": "file_url",
                "fieldValue": "=https://pdrecmrvivbtutmynrbu.supabase.co/storage/v1/object/public/{{ $json.Key }}"
              },
              {
                "fieldId": "status",
                "fieldValue": "comleted"
              }
            ]
          }
        },
        "id": "bb2243fb-0350-4ae0-b72b-fbf2de106431",
        "name": "Save PDF Record",
        "type": "n8n-nodes-base.supabase",
        "typeVersion": 1,
        "position": [
          2672,
          1344
        ],
        "credentials": {
          "supabaseApi": {
            "id": "EYHDNsSv530jAc06",
            "name": "Supabase account"
          }
        }
      },
      {
        "parameters": {
          "operation": "update",
          "tableId": "orders",
          "matchType": "allFilters",
          "filters": {
            "conditions": [
              {
                "keyName": "order_id",
                "condition": "eq",
                "keyValue": "={{ $('Fetch Order Payload').first().json.order_id }}"
              }
            ]
          },
          "fieldsUi": {
            "fieldValues": [
              {
                "fieldId": "status",
                "fieldValue": "pdf_generated"
              }
            ]
          }
        },
        "id": "1496c33f-b840-4d95-8328-95b19e914ee2",
        "name": "Update Order Status: pdf_generated",
        "type": "n8n-nodes-base.supabase",
        "typeVersion": 1,
        "position": [
          2464,
          1136
        ],
        "credentials": {
          "supabaseApi": {
            "id": "EYHDNsSv530jAc06",
            "name": "Supabase account"
          }
        }
      },
      {
        "parameters": {
          "operation": "update",
          "tableId": "scripts",
          "filters": {
            "conditions": [
              {
                "keyName": "order_id",
                "condition": "eq",
                "keyValue": "={{ $('Fetch Order Payload').first().json.order_id }}"
              }
            ]
          },
          "fieldsUi": {
            "fieldValues": [
              {
                "fieldId": "status",
                "fieldValue": "pdf_generated"
              }
            ]
          }
        },
        "type": "n8n-nodes-base.supabase",
        "typeVersion": 1,
        "position": [
          1904,
          1328
        ],
        "id": "5877d877-f5f9-4f27-b89e-ddb90c050e01",
        "name": "Update Script Status",
        "credentials": {
          "supabaseApi": {
            "id": "EYHDNsSv530jAc06",
            "name": "Supabase account"
          }
        }
      },
      {
        "parameters": {
          "url": "=https://raw.githubusercontent.com/TarasGolub/evermagic/{{ $('Envs').first().json.env.is_live ? 'main' : 'develop' }}/emails/customer-delivery.html",
          "options": {}
        },
        "id": "416eb9cd-527f-4963-bb4c-12dd327911e5",
        "name": "Fetch Delivery Email Template",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.4,
        "position": [
          2864,
          1136
        ]
      },
      {
        "parameters": {
          "jsCode": "// n8n Code node — \"Build Delivery\"\n// Placed AFTER the PDFShift loop (all 3 PDFs assembled and stored in Supabase)\n//\n// Inputs expected (from prior nodes):\n//   - 'Fetch Order Payload'  → order JSON\n//   - 'Fetch Script'         → script row (for story title)\n//   - 'Fetch PDFs'           → rows from pdfs table (or pass pdf URLs directly)\n//   - 'Fetch Delivery Email Template' → raw HTML string (from GitHub fetch)\n//   - 'Envs'                 → env config\n//\n// Outputs (one item):\n//   {\n//     order_id, child_name, child_email,\n//     customer_email_html,  ← send to customer\n//     customer_email_subject,\n//     admin_email_html,     ← send to admin\n//     admin_email_subject,\n//   }\n\n// ─────────────────────────────────────────────────────────────\n// 1. Gather inputs\n// ─────────────────────────────────────────────────────────────\n\nconst order = JSON.parse($('Fetch Order Payload').first().json.payload_json);\nconst child = order.child;\n\nconst scriptRow = $('Fetch Script').first().json;\nconst scriptContent = typeof scriptRow.content === 'string'\n    ? JSON.parse(scriptRow.content)\n    : scriptRow.content;\n\nconst env = $('Envs').first().json.env;\n\n// Supabase public storage base URL — store this in envs table as 'supabase_storage_url'\n// e.g. https://YOURPROJECT.supabase.co/storage/v1/object/public\nconst storageBase = env.supabase_storage_url || '';\nconst bucket = env.storage_bucket || 'pdfs';\n\n// PDF public URLs — constructed from known storage paths\nconst pdfBase = `${storageBase}/${bucket}/pdfs/${order.order_id}`;\nconst storybookUrl = `${pdfBase}/storybook.pdf?download=EverMagic-Storybook.pdf`;\nconst coloringBookUrl = `${pdfBase}/coloring_book.pdf?download=EverMagic-Coloring-Book.pdf`;\nconst certificateUrl = `${pdfBase}/certificate.pdf?download=EverMagic-Certificate.pdf`;\n\n// Story title\nconst storyTitle = scriptContent.title || `${child.name}'s Space Adventure`;\n\n// Thank-you message shown on page and in email\nconst thankYouMessage = `Your story is here — all three files are ready to save and treasure. `\n    + `We hope ${child.name} loves every moment of the adventure! 🚀`;\n\n// ─────────────────────────────────────────────────────────────\n// 2. Populate templates\n// ─────────────────────────────────────────────────────────────\n\nconst branch = env.is_live ? 'main' : 'develop';\nconst logoUrl = `https://raw.githubusercontent.com/TarasGolub/evermagic/${branch}/templates/icons/logo_email.png`;\n\nconst emailVars = {\n    'logo_url': logoUrl,\n    'child_name': child.name,\n    'story_title': storyTitle,\n    'thank_you_message': thankYouMessage,\n    'storybook_url': storybookUrl,\n    'coloring_book_url': coloringBookUrl,\n    'certificate_url': certificateUrl,\n};\n\nfunction injectVars(html, vars) {\n    let result = html;\n    for (const [key, value] of Object.entries(vars)) {\n        const regex = new RegExp(`\\\\{\\\\{${key.replace(/\\./g, '\\\\.')}\\\\}\\\\}`, 'g');\n        result = result.replace(regex, value);\n    }\n    return result;\n}\n\nconst emailTemplate = $('Fetch Delivery Email Template').first().json.data;\nconst customerEmailHtml = injectVars(emailTemplate, emailVars);\n\n// ─────────────────────────────────────────────────────────────\n// 3. Admin notification (plain HTML — no separate template needed)\n// ─────────────────────────────────────────────────────────────\n\nconst adminEmailHtml = `\n<div style=\"font-family:monospace; padding:20px;\">\n  <h2>✅ Order Delivered — ${order.order_id}</h2>\n  <p><strong>Child:</strong> ${child.name}, age ${child.age}</p>\n  <p><strong>Story:</strong> ${storyTitle}</p>\n  <p><strong>Customer email:</strong> ${order.delivery.email}</p>\n  <hr>\n  <p>PDFs:<br>\n    📖 <a href=\"${storybookUrl}\">Storybook</a><br>\n    🎨 <a href=\"${coloringBookUrl}\">Coloring Book</a><br>\n    🏅 <a href=\"${certificateUrl}\">Certificate</a>\n  </p>\n</div>\n`.trim();\n\n// ─────────────────────────────────────────────────────────────\n// 4. Return\n// ─────────────────────────────────────────────────────────────\n\nreturn [{\n    json: {\n        order_id: order.order_id,\n        child_name: child.name,\n        child_email: order.delivery.email,\n\n        customer_email_html: customerEmailHtml,\n        customer_email_subject: `✨ ${child.name}'s magic is ready — download your files!`,\n\n        admin_email_html: adminEmailHtml,\n        admin_email_subject: `✅ Delivered — ${order.order_id} — ${child.name}`,\n    }\n}];\n"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          3072,
          1136
        ],
        "id": "4a53f6bf-5bf9-4ace-a674-b07810d9dead",
        "name": "Build Delivery",
        "executeOnce": true,
        "alwaysOutputData": true
      },
      {
        "parameters": {
          "fromEmail": "taras.evermagic@gmail.com",
          "toEmail": "={{ $('Build Delivery').item.json.child_email }}",
          "subject": "={{ $('Build Delivery').item.json.customer_email_subject }}",
          "html": "={{ $('Build Delivery').item.json.customer_email_html }}",
          "options": {
            "appendAttribution": false
          }
        },
        "id": "4f9e239d-a58f-4ee7-aa96-495558153db6",
        "name": "Send Customer Delivery Email",
        "type": "n8n-nodes-base.emailSend",
        "typeVersion": 2.1,
        "position": [
          3488,
          1136
        ],
        "webhookId": "ac54d5d3-cbd0-44cd-9965-5025ab854d5e",
        "credentials": {
          "smtp": {
            "id": "ymjQpdS5fXvpjwjN",
            "name": "SMTP account"
          }
        }
      },
      {
        "parameters": {
          "fromEmail": "taras.evermagic@gmail.com",
          "toEmail": "=taras.evermagic@gmail.com",
          "subject": "={{ $('Build Delivery').item.json.admin_email_subject }}",
          "html": "={{ $('Build Delivery').item.json.admin_email_html }}",
          "options": {
            "appendAttribution": true
          }
        },
        "id": "d044ce49-7e39-4234-bfe9-3f08f3491ff9",
        "name": "Send Admin Notification",
        "type": "n8n-nodes-base.emailSend",
        "typeVersion": 2.1,
        "position": [
          3680,
          1136
        ],
        "webhookId": "ac54d5d3-cbd0-44cd-9965-5025ab854d5e",
        "credentials": {
          "smtp": {
            "id": "ymjQpdS5fXvpjwjN",
            "name": "SMTP account"
          }
        }
      },
      {
        "parameters": {
          "operation": "update",
          "tableId": "orders",
          "matchType": "allFilters",
          "filters": {
            "conditions": [
              {
                "keyName": "order_id",
                "condition": "eq",
                "keyValue": "={{ $('Fetch Order Payload').first().json.order_id }}"
              }
            ]
          },
          "fieldsUi": {
            "fieldValues": [
              {
                "fieldId": "status",
                "fieldValue": "pdf_delivered"
              }
            ]
          }
        },
        "id": "282860f1-4612-442c-9060-96b58551b980",
        "name": "Update Order Status: PDFs delivered",
        "type": "n8n-nodes-base.supabase",
        "typeVersion": 1,
        "position": [
          3904,
          1136
        ],
        "credentials": {
          "supabaseApi": {
            "id": "EYHDNsSv530jAc06",
            "name": "Supabase account"
          }
        }
      },
      {
        "parameters": {
          "operation": "getAll",
          "tableId": "orders",
          "limit": 1,
          "matchType": "allFilters",
          "filters": {
            "conditions": [
              {
                "keyName": "order_id",
                "condition": "eq",
                "keyValue": "={{ $('Build Delivery').first().json.order_id }}"
              }
            ]
          }
        },
        "id": "2f7534b4-e681-425e-9909-a803894212a4",
        "name": "Fetch Order Source",
        "type": "n8n-nodes-base.supabase",
        "typeVersion": 1,
        "position": [
          4160,
          1136
        ],
        "credentials": {
          "supabaseApi": {
            "id": "EYHDNsSv530jAc06",
            "name": "Supabase account"
          }
        }
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 3
            },
            "conditions": [
              {
                "id": "uat-source-check",
                "leftValue": "={{ $json.source }}",
                "rightValue": "UAT",
                "operator": {
                  "type": "string",
                  "operation": "equals"
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "id": "a71a2c8c-ea4c-417e-bbbd-9601974d08cc",
        "name": "Is UAT?",
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.3,
        "position": [
          4400,
          1136
        ]
      },
      {
        "parameters": {
          "url": "=https://raw.githubusercontent.com/TarasGolub/evermagic/{{ $('Envs').first().json.env.is_live ? 'main' : 'develop' }}/emails/uat-feedback-request.html",
          "options": {}
        },
        "id": "69221b65-2022-49c5-bebf-eba5cc32ecc5",
        "name": "Fetch Feedback Request Email Template",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.4,
        "position": [
          4880,
          1008
        ]
      },
      {
        "parameters": {
          "jsCode": "const deliveryData = $('Build Delivery').first().json;\nconst env          = $('Envs').first().json.env;\n\nconst feedbackFormBase = env.feedback_form_url;\nif (!feedbackFormBase) throw new Error('Missing env: feedback_form_url');\n\nconst feedbackUrl = feedbackFormBase\n  + `?order_id=${encodeURIComponent(deliveryData.order_id)}`\n  + `&email=${encodeURIComponent(deliveryData.child_email)}`;\n\nconst branch  = env.is_live ? 'main' : 'develop';\nconst logoUrl = `https://raw.githubusercontent.com/TarasGolub/evermagic/${branch}/templates/icons/logo_email.png`;\n\nconst template = $('Fetch Feedback Request Email Template').first().json.data;\n\nconst html = template\n  .replace(/\\{\\{logo_url\\}\\}/g,     logoUrl)\n  .replace(/\\{\\{child_name\\}\\}/g,   deliveryData.child_name)\n  .replace(/\\{\\{feedback_url\\}\\}/g, feedbackUrl);\n\nreturn [{\n  json: {\n    to:      deliveryData.child_email,\n    subject: `${deliveryData.child_name}'s files are ready — quick feedback? Taras`,\n    html,\n  }\n}];\n"
        },
        "id": "ef9e0577-0510-4274-9cf6-234e423e9108",
        "name": "Build UAT Feedback Request Email",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          5120,
          1008
        ],
        "alwaysOutputData": true
      },
      {
        "parameters": {
          "fromEmail": "taras.evermagic@gmail.com",
          "toEmail": "={{ $json.to }}",
          "subject": "={{ $json.subject }}",
          "html": "={{ $json.html }}",
          "options": {
            "appendAttribution": false
          }
        },
        "id": "119bef13-5231-4168-8193-6a57e5d2227b",
        "name": "Send UAT Feedback Request",
        "type": "n8n-nodes-base.emailSend",
        "typeVersion": 2.1,
        "position": [
          5360,
          1008
        ],
        "webhookId": "f17ffe03-a5b2-4dc6-9a81-3588d92dfa00",
        "credentials": {
          "smtp": {
            "id": "ymjQpdS5fXvpjwjN",
            "name": "SMTP account"
          }
        }
      },
      {
        "parameters": {
          "amount": "={{ $('Envs').item.json.env.is_live ? 600 : 5}}"
        },
        "id": "f4c017b3-4035-4977-a553-cdb3575f83ed",
        "name": "Wait 5 min",
        "type": "n8n-nodes-base.wait",
        "typeVersion": 1.1,
        "position": [
          4640,
          1008
        ],
        "webhookId": "uat-wait-webhook"
      },
      {
        "parameters": {
          "jsCode": "const payload = JSON.parse($('Fetch Order Payload').first().json.payload_json);\n  const themeFolder = (payload.theme || 'SPACE_HERO').toLowerCase();\n  const branch = $('Envs').first().json.env.is_live ? 'main' : 'develop';\n  const url = `https://raw.githubusercontent.com/TarasGolub/evermagic/${branch}/prompts/${themeFolder}/theme_styles.css`;\n  return [{ json: { url } }];"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          416,
          1328
        ],
        "id": "0c5ca2c0-0e3f-402c-a479-4d65eb672e4b",
        "name": "Build Theme CSS URL"
      },
      {
        "parameters": {
          "url": "={{ $json.url }}",
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.4,
        "position": [
          560,
          1328
        ],
        "id": "2c70d725-202f-44e8-bcdf-8b03974dceb7",
        "name": "Fetch Theme Styles"
      },
      {
        "parameters": {
          "tableId": "execution_log",
          "fieldsUi": {
            "fieldValues": [
              {
                "fieldId": "order_id",
                "fieldValue": "={{ $json.order_id }}"
              },
              {
                "fieldId": "execution_id",
                "fieldValue": "={{ $execution.id }}"
              },
              {
                "fieldId": "workflow_name",
                "fieldValue": "3.2 EverMagic PDF Assembly"
              },
              {
                "fieldId": "stage",
                "fieldValue": " PDF Assembly"
              }
            ]
          }
        },
        "type": "n8n-nodes-base.supabase",
        "typeVersion": 1,
        "position": [
          -512,
          1328
        ],
        "id": "7a2064ff-ddb5-4342-83b5-c72c391f7184",
        "name": "Log Execution",
        "credentials": {
          "supabaseApi": {
            "id": "EYHDNsSv530jAc06",
            "name": "Supabase account"
          }
        }
      }
    ],
    "connections": {
      "Generate PDFs": {
        "main": [
          [
            {
              "node": "Load Envs",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Load Envs": {
        "main": [
          [
            {
              "node": "Envs",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Envs": {
        "main": [
          [
            {
              "node": "Fetch Script",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Fetch Order Payload": {
        "main": [
          [
            {
              "node": "Fetch Images",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Fetch Script": {
        "main": [
          [
            {
              "node": "Log Execution",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Fetch Images": {
        "main": [
          [
            {
              "node": "Update Status: pdf_generating",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Update Status: pdf_generating": {
        "main": [
          [
            {
              "node": "Build Theme CSS URL",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Fetch Storybook Template": {
        "main": [
          [
            {
              "node": "Fetch Coloring Book Template",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Fetch Coloring Book Template": {
        "main": [
          [
            {
              "node": "Fetch Certificate Template",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Fetch Certificate Template": {
        "main": [
          [
            {
              "node": "Build PDF HTML",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Build PDF HTML": {
        "main": [
          [
            {
              "node": "Loop Over PDFs",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Loop Over PDFs": {
        "main": [
          [
            {
              "node": "Update Script Status",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Call PDFShift",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Call PDFShift": {
        "main": [
          [
            {
              "node": "Upload PDF to Storage",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Upload PDF to Storage": {
        "main": [
          [
            {
              "node": "Save PDF Record",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Save PDF Record": {
        "main": [
          [
            {
              "node": "Loop Over PDFs",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Update Order Status: pdf_generated": {
        "main": [
          [
            {
              "node": "Fetch Delivery Email Template",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Update Script Status": {
        "main": [
          [
            {
              "node": "Update Order Status: pdf_generated",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Fetch Delivery Email Template": {
        "main": [
          [
            {
              "node": "Build Delivery",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Build Delivery": {
        "main": [
          [
            {
              "node": "Send Customer Delivery Email",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Send Customer Delivery Email": {
        "main": [
          [
            {
              "node": "Send Admin Notification",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Send Admin Notification": {
        "main": [
          [
            {
              "node": "Update Order Status: PDFs delivered",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Fetch Order Source": {
        "main": [
          [
            {
              "node": "Is UAT?",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Is UAT?": {
        "main": [
          [
            {
              "node": "Wait 5 min",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Fetch Feedback Request Email Template": {
        "main": [
          [
            {
              "node": "Build UAT Feedback Request Email",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Build UAT Feedback Request Email": {
        "main": [
          [
            {
              "node": "Send UAT Feedback Request",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Update Order Status: PDFs delivered": {
        "main": [
          [
            {
              "node": "Fetch Order Source",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Wait 5 min": {
        "main": [
          [
            {
              "node": "Fetch Feedback Request Email Template",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Build Theme CSS URL": {
        "main": [
          [
            {
              "node": "Fetch Theme Styles",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Fetch Theme Styles": {
        "main": [
          [
            {
              "node": "Fetch Storybook Template",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Log Execution": {
        "main": [
          [
            {
              "node": "Fetch Order Payload",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Taras Holub",
    "name": "Version d369579d",
    "description": "",
    "autosaved": true
  },
  "tags": []
}