n8n_backup/EverMagic Image Generation.json
{
  "name": "EverMagic Image Generation",
  "nodes": [
    {
      "parameters": {},
      "id": "c3dca973-15fe-410e-b240-53d610dd3722",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        432,
        -80
      ]
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "scripts",
        "matchType": "allFilters",
        "filters": {
          "conditions": [
            {
              "keyName": "status",
              "condition": "eq",
              "keyValue": "approved"
            }
          ]
        }
      },
      "id": "68015683-71f2-4807-8c64-01b120f8d723",
      "name": "Fetch Approved Scripts",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        656,
        -80
      ],
      "credentials": {
        "supabaseApi": {
          "id": "EYHDNsSv530jAc06",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "order_payloads",
        "matchType": "allFilters",
        "filters": {
          "conditions": [
            {
              "keyName": "order_id",
              "condition": "eq",
              "keyValue": "={{ $json.order_id }}"
            }
          ]
        }
      },
      "id": "42fa1deb-b8f3-4902-b01c-bd4c794b99bd",
      "name": "Fetch Order Payload",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        880,
        -80
      ],
      "credentials": {
        "supabaseApi": {
          "id": "EYHDNsSv530jAc06",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// n8n Code node — \"Parse + Build Prompts\" (Theme-Agnostic)\n// ─────────────────────────────────────────────────────────────\n// Workflow: Manual Trigger → Fetch Approved Scripts → Fetch Order Payload → THIS NODE\n//\n// Input:  payload rows from \"Fetch Order Payload\"\n// Script: from $('Fetch Approved Scripts') — matched by order_id\n//\n// Output: 1 item per prompt (flat rows), matching images table schema\n// ─────────────────────────────────────────────────────────────\n\n// ─────────────────────────────────────────────────────────────\n// Theme configs — add new themes here\n// When you have 10+ themes, move to Supabase or GitHub fetch\n// ─────────────────────────────────────────────────────────────\nconst THEMES = {\n  SPACE_HERO: {\n    stylePrefix: '3D animated character, Pixar-style render, cinematic lighting, warm rim light',\n    coverBackground: 'Cosmic space background with nebula and stars',\n    coverPose: 'Standing in a confident hero pose with hands on hips',\n    sceneStyle: {\n      1: { lighting: 'Warm moonlight with cool blue ambient and soft golden accents', camera: 'Wide establishing shot, low angle' },\n      2: { lighting: 'Dynamic warm lighting with streak lights and silver reflections', camera: 'Over-shoulder or low heroic angle' },\n      3: { lighting: 'Dramatic side lighting with teal and amber tones', camera: 'Medium tracking shot' },\n      4: { lighting: 'Radiant burst lighting with gold and cosmic colors', camera: 'Epic wide panoramic angle' },\n      5: { lighting: 'Golden hour sunrise with warm gold and soft pink', camera: 'Intimate close-up shot' },\n    },\n    coloring: {\n      backgroundElements: 'stars, planets, a small rocket',\n      pose: 'a confident hero pose',\n    },\n    model: {\n      name: 'openai/gpt-image-1.5',\n      quality: 'medium',\n      coloringQuality: 'low',\n      background: 'auto',\n      moderation: 'auto',\n      aspect_ratio: '1:1',\n      output_format: 'webp',\n      input_fidelity: 'low',\n      number_of_images: 1,\n      output_compression: 90,\n    },\n  },\n  // ─── Add new themes below ───\n  // PRINCESS: { stylePrefix: '...', coverBackground: '...', ... },\n  // SPORT_CHAMPION: { ... },\n};\n\n// ─────────────────────────────────────────────────────────────\n// Process all orders\n// ─────────────────────────────────────────────────────────────\nconst allScripts = $('Fetch Approved Scripts').all();\nconst allPayloads = $('Fetch Order Payload').all();\nconst results = [];\n\nfor (const payloadItem of allPayloads) {\n  const payloadRow = payloadItem.json;\n\n  // --- Parse order from payload_json ---\n  let order;\n  try {\n    let raw = payloadRow.payload_json;\n    if (typeof raw === 'string') raw = JSON.parse(raw);\n    if (typeof raw === 'string') raw = JSON.parse(raw);\n    order = raw;\n  } catch (e) {\n    throw new Error('Failed to parse payload_json for id=' + payloadRow.id + ': ' + e.message);\n  }\n\n  if (!order.child) {\n    throw new Error('Order ' + order.order_id + ' has no child field.');\n  }\n\n  // --- Load theme config ---\n  const themeKey = (order.theme || 'SPACE_HERO').toUpperCase();\n  const theme = THEMES[themeKey];\n  if (!theme) {\n    throw new Error('Unknown theme: ' + themeKey + '. Available: ' + Object.keys(THEMES).join(', '));\n  }\n\n  // --- Find matching script ---\n  const scriptItem = allScripts.find(s => s.json.order_id === order.order_id);\n  if (!scriptItem) {\n    throw new Error('No approved script found for ' + order.order_id);\n  }\n\n  let scriptData;\n  try {\n    let content = scriptItem.json.content;\n    if (typeof content === 'string') content = JSON.parse(content);\n    scriptData = content;\n  } catch (e) {\n    throw new Error('Failed to parse script for ' + order.order_id + ': ' + e.message);\n  }\n\n  if (!scriptData || !scriptData.scenes || scriptData.scenes.length !== 5) {\n    throw new Error('Script for ' + order.order_id + ' must have exactly 5 scenes.');\n  }\n\n  // ─────────────────────────────────────────────────────────────\n  // Build character + outfit descriptions dynamically\n  // ─────────────────────────────────────────────────────────────\n  const child = order.child;\n  const genderWord = child.gender === 'girl' ? 'girl' : 'boy';\n  const age = child.age || 7;\n\n  const details = [];\n  details.push(`a ${age}-year-old ${genderWord}`);\n  if (child.hair_color) details.push(`with ${child.hair_color} hair`);\n  if (child.skin_tone) details.push(`and ${child.skin_tone} skin`);\n  if (child.glasses) details.push('wearing round glasses');\n  const characterDesc = details.join(' ');\n\n  const outfitParts = [];\n  if (child.signature_look) outfitParts.push(child.signature_look);\n  if (child.jersey_number) outfitParts.push(`with the number ${child.jersey_number} on the sleeve`);\n  const outfitDesc = outfitParts.length > 0 ? ', ' + outfitParts.join(', ') : '';\n\n  // Photo URLs for face reference (main + extra if available)\n  const photos = order.photos || [];\n  const mainPhoto = photos.find(p => p.type === 'photo_main') || photos[0] || null;\n  const extraPhoto = photos.find(p => p.type === 'photo_extra') || null;\n  const facePhotoUrl = mainPhoto ? mainPhoto.url : null;\n  const extraPhotoUrl = extraPhoto ? extraPhoto.url : null;\n\n  // ─────────────────────────────────────────────────────────────\n  // Build prompts — flat rows matching images table schema\n  // ─────────────────────────────────────────────────────────────\n\n  // Build generation params with face photos included\n  const genParams = {\n    ...theme.model,\n    face_photos: [facePhotoUrl, extraPhotoUrl].filter(Boolean),\n  };\n\n  // Shared fields for all prompts in this order\n  const shared = {\n    order_id: order.order_id,\n    theme: themeKey,\n    face_photo_url: facePhotoUrl,\n    extra_photo_url: extraPhotoUrl,\n    generation_params: genParams,\n    model: theme.model.name,\n    status: 'pending',\n  };\n\n  // Cover\n  results.push({\n    ...shared,\n    image_type: 'cover',\n    scene_title: scriptData.title,\n    prompt: `${theme.stylePrefix}. ${characterDesc}${outfitDesc}. ${theme.coverPose}. ${theme.coverBackground}.`,\n  });\n\n  // 5 Scenes + 5 Scene Coloring Pages\n  for (const scene of scriptData.scenes) {\n    const num = scene.scene_number;\n    const style = theme.sceneStyle[num] || theme.sceneStyle[1];\n\n    // Scene image (high quality)\n    results.push({\n      ...shared,\n      image_type: `scene_${num}`,\n      scene_title: scene.scene_title,\n      prompt: `${theme.stylePrefix}. ${characterDesc}${outfitDesc}. ${scene.visual_description}. ${style.lighting}. ${style.camera}.`,\n    });\n\n    // Scene coloring page (low quality to save cost)\n    results.push({\n      ...shared,\n      image_type: `coloring_${num}`,\n      scene_title: `Coloring: ${scene.scene_title}`,\n      generation_params: { ...genParams, quality: theme.model.coloringQuality || 'low' },\n      prompt: `Black and white line art coloring page, pure black outlines on white background only, absolutely no color, no shading, no gradients, no fills, pen and ink style. ${characterDesc}. ${scene.visual_description}. Thick clean lines suitable for children to color with crayons. Coloring book page style, printable.`,\n    });\n  }\n\n  // Generic coloring page (low quality)\n  results.push({\n    ...shared,\n    image_type: 'coloring',\n    scene_title: 'Coloring Page',\n    generation_params: { ...genParams, quality: 'low' },\n    prompt: `Black and white line art coloring page, pure black outlines on white background only, absolutely no color, no shading, no gradients, no fills, pen and ink style. ${characterDesc} in ${theme.coloring.pose}. Simple background: outline ${theme.coloring.backgroundElements}. Thick clean lines suitable for children to color with crayons. Coloring book page style, printable.`,\n  });\n\n  console.log(`✅ ${order.order_id} — ${child.name} — theme:${themeKey} — \"${scriptData.title}\"`);\n}\n\n// ─────────────────────────────────────────────────────────────\n// Reconcile with existing images in DB\n// ─────────────────────────────────────────────────────────────\n// Input: $('Fetch Existing Images') — Supabase GET ALL where order_id = X\n// If the node doesn't exist or returns nothing, treat all as new.\n\nlet existingByType = {};\ntry {\n  const existingRows = $('Fetch Existing Images').all();\n  for (const row of existingRows) {\n    existingByType[row.json.image_type] = row.json;\n  }\n} catch (e) {\n  // No \"Fetch Existing Images\" node — treat all as new\n  console.log('No existing images found — all items are new');\n}\n\nconst finalResults = [];\nconst stats = { skipped: 0, reused: 0, overwrite: 0, new_items: 0 };\n\nfor (const prompt of results) {\n  const imageType = prompt.image_type;\n  const existing = existingByType[imageType];\n\n  if (existing) {\n    if (existing.status === 'completed') {\n      // ✅ Already done — skip\n      stats.skipped++;\n      continue;\n    }\n\n    if (existing.status === 'pending') {\n      // ⏳ Already in DB — reuse, just proceed to generation\n      stats.reused++;\n      finalResults.push({\n        json: { ...existing, db_action: 'none' },\n      });\n      continue;\n    }\n\n    if (existing.status === 'failed') {\n      // ❌ Failed — overwrite with fresh prompt\n      stats.overwrite++;\n      finalResults.push({\n        json: {\n          ...existing,\n          prompt: prompt.prompt,       // refresh prompt\n          status: 'pending',\n          error_message: null,\n          db_action: 'update',\n        },\n      });\n      continue;\n    }\n  }\n\n  // 🆕 New — needs insert\n  stats.new_items++;\n  finalResults.push({\n    json: { ...prompt, db_action: 'insert' },\n  });\n}\n\nconsole.log(\n  `Reconciled: ${stats.skipped} skipped, ${stats.reused} reused, ` +\n  `${stats.overwrite} overwrite, ${stats.new_items} new → ${finalResults.length} to generate`\n);\nconsole.log(`Total: ${results.length} prompts for ${allPayloads.length} orders`);\n\nreturn finalResults;\n"
      },
      "id": "49027429-1e93-4c12-86e7-6dc8be8306c8",
      "name": "Parse + Build Prompts",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1312,
        -80
      ]
    },
    {
      "parameters": {},
      "id": "cfd90001-abf0-4f86-a453-c753e64a133f",
      "name": "Prompts Ready",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        4416,
        -496
      ]
    },
    {
      "parameters": {
        "tableId": "images",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "order_id",
              "fieldValue": "={{ $json.order_id }}"
            },
            {
              "fieldId": "image_type",
              "fieldValue": "={{ $json.image_type }}"
            },
            {
              "fieldId": "prompt",
              "fieldValue": "={{ $json.prompt }}"
            },
            {
              "fieldId": "theme",
              "fieldValue": "={{ $json.theme }}"
            },
            {
              "fieldId": "scene_title",
              "fieldValue": "={{ $json.scene_title }}"
            },
            {
              "fieldId": "face_photo_url",
              "fieldValue": "={{ $json.face_photo_url }}"
            },
            {
              "fieldId": "generation_params",
              "fieldValue": "={{ JSON.stringify($json.generation_params) }}"
            },
            {
              "fieldId": "model",
              "fieldValue": "={{ $json.model }}"
            },
            {
              "fieldId": "status",
              "fieldValue": "={{ $json.status }}"
            }
          ]
        }
      },
      "id": "0756de0f-07e8-4d2b-b170-c73d02c76f06",
      "name": "Save Images Prompts",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        1792,
        -336
      ],
      "credentials": {
        "supabaseApi": {
          "id": "EYHDNsSv530jAc06",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// n8n Code node — \"Build OpenAI Request\"\n// ─────────────────────────────────────────────────────────────\n// Builds OpenAI Images API request for each image job.\n//\n// Routes:\n//   Scenes with face photo → POST /v1/images/edits\n//   Coloring pages         → POST /v1/images/generations\n//\n// ⚠️  For /images/edits, face photos must be base64 data URIs.\n//     This node CANNOT fetch them (no fetch in n8n Code sandbox).\n//     The workflow must fetch photos BEFORE this node runs:\n//\n//     Fetch Order Payload\n//       → Fetch Face Photo (HTTP GET → binary)\n//       → Build OpenAI Request (this node — reads $binary)\n//       → Call OpenAI Image API\n//\n// Model: gpt-image-1\n// Both endpoints return: { \"data\": [{ \"b64_json\": \"...\" }] }\n// HTTP Request node URL: https://api.openai.com/v1{{ $json.api_endpoint }}\n// ─────────────────────────────────────────────────────────────\n\nconst items = $('Parse + Build Prompts').all();\nconst inputs = $input.all();\nconst results = [];\n\n// ── Read face photo binary (fetched by prior \"Fetch Face Photo\" node) ──\n// The workflow should have an HTTP GET node BEFORE this one that fetches\n// face_photo_url as binary. The binary is available on the FIRST item\n// since all items share the same child's face photo.\n//\n// In n8n, reference it with: $('Fetch Face Photo').first().binary.data\n// If no face photo exists, this will be undefined.\n\nlet facePhotoBase64 = null;\nlet extraPhotoBase64 = null;\n\ntry {\n    // getBinaryDataBuffer reads actual file content (not filesystem-v2 ref)\n    // Item 0 must carry binary from the upstream \"Fetch Face Photo\" node\n    const firstItem = inputs[0];\n\n    if (firstItem.binary && firstItem.binary.data) {\n        const buffer = await this.helpers.getBinaryDataBuffer(0, 'data');\n        const mime = firstItem.binary.data.mimeType || 'image/jpeg';\n        facePhotoBase64 = `data:${mime};base64,${buffer.toString('base64')}`;\n    }\n    if (firstItem.binary && firstItem.binary.extra) {\n        const buffer = await this.helpers.getBinaryDataBuffer(0, 'extra');\n        const mime = firstItem.binary.extra.mimeType || 'image/jpeg';\n        extraPhotoBase64 = `data:${mime};base64,${buffer.toString('base64')}`;\n    }\n} catch (e) {\n    console.log('No face photo binary found — OK for coloring pages');\n}\n\nfor (const item of items) {\n    const row = item.json;\n    if (row.db_action && row.db_action === 'none') {\n      continue;\n    }\n    const params = row.generation_params || {};\n    const isColoring = row.image_type.startsWith('coloring');\n    const hasFacePhoto = facePhotoBase64;\n    const quality = isColoring\n        ? (params.coloringQuality || 'low')\n        : (params.quality || 'medium');\n\n    // Common fields\n    const baseRequest = {\n        model: 'gpt-image-1',\n        prompt: row.prompt,\n        size: '1024x1024',\n        quality: quality,\n        output_format: 'webp',\n    };\n\n    let apiEndpoint;\n    let openaiRequest;\n\n    if (hasFacePhoto) {\n        // ── /images/edits — base64 face photos ──\n        apiEndpoint = '/images/edits';\n\n        const imageObjects = [{ image_url: facePhotoBase64 }];\n        if (extraPhotoBase64) {\n            imageObjects.push({ image_url: extraPhotoBase64 });\n        }\n\n        openaiRequest = {\n            ...baseRequest,\n            images: imageObjects,\n        };\n    } else {\n        // ── /images/generations — text-only ──\n        apiEndpoint = '/images/generations';\n        openaiRequest = baseRequest;\n    }\n\n    // Storage path: {order_id}/{image_type}.webp\n    const storagePath = `${row.order_id}/${row.image_type}.webp`;\n\n    results.push({\n        json: {\n            ...row,\n            api_endpoint: apiEndpoint,\n            openai_request: openaiRequest,\n            storage_path: storagePath,\n        },\n    });\n}\n\nconsole.log(\n    `Prepared ${results.length} requests: ` +\n    `${results.filter(r => r.json.api_endpoint === '/images/edits').length} edits, ` +\n    `${results.filter(r => r.json.api_endpoint === '/images/generations').length} generations`\n);\nreturn results;\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2896,
        -32
      ],
      "id": "79c8be17-50a1-411d-821b-d42728dea419",
      "name": "Build OpenAI Request"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.openai.com/v1/{{ $json.api_endpoint }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "openAiApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json.openai_request) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        3376,
        -16
      ],
      "id": "d3a0e212-b6af-4bf1-a998-70b9c1457b82",
      "name": "Call OpenAI Image API",
      "executeOnce": false,
      "credentials": {
        "openAiApi": {
          "id": "bkm4C85zHfe8HSHa",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        3136,
        -32
      ],
      "id": "59ac76f0-9bd9-4086-af25-53c5e9fda6d2",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "amount": 14
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        4544,
        304
      ],
      "id": "c034ffb2-366f-47d2-812a-5e3a7377d6eb",
      "name": "Wait",
      "webhookId": "1a763054-0d71-46b0-bf30-be82d97b1a35"
    },
    {
      "parameters": {
        "url": "={{ $('Parse + Build Prompts').item.json.face_photo_url }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        2080,
        -48
      ],
      "id": "f13d4291-8bfa-4283-87d7-e9644e92c2c9",
      "name": "Fetch Face Photo",
      "executeOnce": true
    },
    {
      "parameters": {
        "url": "={{ $('Parse + Build Prompts').item.json.extra_photo_url }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        2624,
        -144
      ],
      "id": "8f4fc8d6-ad29-442b-af77-9ed7cd5b372c",
      "name": "Fetch Face Extra Photo",
      "executeOnce": true
    },
    {
      "parameters": {
        "jsCode": "// n8n Code node — \"Process Response\"\n// ─────────────────────────────────────────────────────────────\n// Parses OpenAI Image API response and converts to n8n binary\n// for Supabase Storage upload.\n//\n// ⚠️  Runs inside a loop (batch size 1) — processes ONE item per iteration.\n//     Uses .first() to get the current iteration's metadata.\n//\n// Input: OpenAI response { data: [{ b64_json: \"...\" }], usage: {...} }\n// Output: JSON metadata + binary image ready for upload\n// ─────────────────────────────────────────────────────────────\n\nconst apiResponse = $input.first().json;\n\n// Get metadata from the current iteration's Build OpenAI Request item\n// .first() in a loop = current iteration, NOT the first item overall\nconst prevData = $('Loop Over Items').first().json;\n\n// ── Check for API error ──\nif (apiResponse.error) {\n    return [{\n        json: {\n            ...prevData,\n            success: false,\n            error_message: apiResponse.error.message || JSON.stringify(apiResponse.error),\n        },\n    }];\n}\n\n// ── Extract base64 image from response ──\nconst b64 = apiResponse.data && apiResponse.data[0] && apiResponse.data[0].b64_json;\nif (!b64) {\n    return [{\n        json: {\n            ...prevData,\n            success: false,\n            error_message: 'No image data in OpenAI response',\n        },\n    }];\n}\n\n// ── Build output with binary for Storage upload ──\nconst buffer = Buffer.from(b64, 'base64');\n\nconsole.log(`✅ ${prevData.image_type} — ${(buffer.length / 1024 / 1024).toFixed(2)} MB`);\n\nreturn [{\n    json: {\n        ...prevData,\n        success: true,\n        image_size: buffer.length,\n        usage: apiResponse.usage || null,\n    },\n    binary: {\n        data: await this.helpers.prepareBinaryData(\n            buffer,\n            `${prevData.image_type || 'image'}.webp`,\n            'image/webp'\n        ),\n    },\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3584,
        -16
      ],
      "id": "c7ee357a-ff46-45dd-9ab2-42e09551aa05",
      "name": "Process Response"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://pdrecmrvivbtutmynrbu.supabase.co/storage/v1/object/images/{{ $json.storage_path }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "supabaseApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-upsert",
              "value": "true"
            },
            {
              "name": "Content-Type",
              "value": "image/webp"
            }
          ]
        },
        "sendBody": true,
        "contentType": "binaryData",
        "inputDataFieldName": "data",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        4064,
        -32
      ],
      "id": "c759075d-d4f5-4c14-835e-ae7fe89b07d0",
      "name": "HTTP Request",
      "credentials": {
        "supabaseApi": {
          "id": "EYHDNsSv530jAc06",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "images",
        "matchType": "allFilters",
        "filters": {
          "conditions": [
            {
              "keyName": "order_id",
              "condition": "eq",
              "keyValue": "={{ $('Process Response').item.json.order_id }}"
            },
            {
              "keyName": "image_type",
              "condition": "eq",
              "keyValue": "={{ $('Process Response').item.json.image_type }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "status",
              "fieldValue": "completed"
            },
            {
              "fieldId": "file_path",
              "fieldValue": "={{ $json.Key }}"
            },
            {
              "fieldId": "file_url",
              "fieldValue": "=https://pdrecmrvivbtutmynrbu.supabase.co/storage/v1/object/public/{{ $json.Key }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        4272,
        -32
      ],
      "id": "e13fc5de-c0c9-4210-a203-89f3af9ceceb",
      "name": "Update DB - Image Completed",
      "credentials": {
        "supabaseApi": {
          "id": "EYHDNsSv530jAc06",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "scripts",
        "matchType": "allFilters",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "condition": "eq",
              "keyValue": "={{ $('Fetch Approved Scripts').item.json.id }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "status",
              "fieldValue": "images_generated"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        3936,
        -496
      ],
      "id": "be21a418-5fdd-4c78-bf1e-4d7569e1b080",
      "name": "Update script status",
      "credentials": {
        "supabaseApi": {
          "id": "EYHDNsSv530jAc06",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 3
          },
          "conditions": [
            {
              "id": "5b027643-4618-4c58-8d0b-f78c146ca053",
              "leftValue": "={{ $('Parse + Build Prompts').item.json.extra_photo_url ? 1 : 0 }} ",
              "rightValue": 1,
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        2336,
        -48
      ],
      "id": "53ff506e-ee07-44b3-9b04-e1b8a4330245",
      "name": "If Extra Photo Exist"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "3fb4dd7d-ca02-4031-80dc-439f98240d4d",
              "leftValue": "={{ $json.success }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        3792,
        -16
      ],
      "id": "80ba5a19-d295-4f1a-9d81-72655d173396",
      "name": "If Success"
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "images",
        "matchType": "allFilters",
        "filters": {
          "conditions": [
            {
              "keyName": "order_id",
              "condition": "eq",
              "keyValue": "={{ $('Process Response').item.json.order_id }}"
            },
            {
              "keyName": "image_type",
              "condition": "eq",
              "keyValue": "={{ $('Process Response').item.json.image_type }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "status",
              "fieldValue": "failed"
            },
            {
              "fieldId": "error_message",
              "fieldValue": "={{ $('Process Response').item.json.error_message }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        4272,
        176
      ],
      "id": "9218265b-1131-47c5-b593-989af596d48b",
      "name": "Update DB - Image Error",
      "credentials": {
        "supabaseApi": {
          "id": "EYHDNsSv530jAc06",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "images",
        "matchType": "allFilters",
        "filters": {
          "conditions": [
            {
              "keyName": "order_id",
              "condition": "eq",
              "keyValue": "={{ $json.order_id }}"
            }
          ]
        }
      },
      "id": "f7688168-30d1-4958-b724-73f4e8e5d2d1",
      "name": "Fetch Existing Images",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        1104,
        -80
      ],
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "EYHDNsSv530jAc06",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.db_action }}",
                    "rightValue": "insert",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "49f57ad7-c9b3-414f-9964-c78036143731"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "67d0d84e-84e9-45cf-afa7-f0be1c4c6bb8",
                    "leftValue": "={{ $json.db_action }}",
                    "rightValue": "update",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "80353ddb-15a0-41d2-a2cd-ecdd283d1cc0",
                    "leftValue": "={{ $json.db_action }}",
                    "rightValue": "none",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        1520,
        -96
      ],
      "id": "7652416a-c92a-4974-a885-49909d617ccc",
      "name": "Switch"
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "images",
        "matchType": "allFilters",
        "filters": {
          "conditions": [
            {
              "keyName": "order_id",
              "condition": "eq",
              "keyValue": "={{ $json.order_id }}"
            },
            {
              "keyName": "image_type",
              "condition": "eq",
              "keyValue": "={{ $json.image_type }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "status",
              "fieldValue": "=pending"
            },
            {
              "fieldId": "error_message",
              "fieldValue": "="
            },
            {
              "fieldId": "prompt",
              "fieldValue": "={{ $json.prompt }}"
            },
            {
              "fieldId": "theme",
              "fieldValue": "={{ $json.theme }}"
            },
            {
              "fieldId": "scene_title",
              "fieldValue": "={{ $json.scene_title }}"
            },
            {
              "fieldId": "face_photo_url",
              "fieldValue": "={{ $json.face_photo_url }}"
            },
            {
              "fieldId": "generation_params",
              "fieldValue": "={{ JSON.stringify($json.generation_params) }}"
            },
            {
              "fieldId": "model",
              "fieldValue": "={{ $json.model }}"
            },
            {
              "fieldId": "status",
              "fieldValue": "={{ $json.status }}"
            }
          ]
        }
      },
      "id": "11eabc61-5b8d-4ff4-8038-41138cbc472b",
      "name": "Update Images Prompts",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        1792,
        -176
      ],
      "credentials": {
        "supabaseApi": {
          "id": "EYHDNsSv530jAc06",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "orders",
        "filters": {
          "conditions": [
            {
              "keyName": "order_id",
              "condition": "eq",
              "keyValue": "={{ $('Fetch Approved Scripts').item.json.order_id }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "status",
              "fieldValue": "images_generated"
            }
          ]
        }
      },
      "id": "d594e962-8233-4067-8dee-f0d83f501325",
      "name": "Update Order Status",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        4176,
        -496
      ],
      "credentials": {
        "supabaseApi": {
          "id": "EYHDNsSv530jAc06",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "images",
        "matchType": "allFilters",
        "filters": {
          "conditions": [
            {
              "keyName": "order_id",
              "condition": "eq",
              "keyValue": "={{ $('Fetch Order Payload').item.json.order_id }}"
            }
          ]
        }
      },
      "id": "7a89092e-f4b4-42ae-8d4c-9c93b9c735b7",
      "name": "Fetch Existing Images to verify",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        3328,
        -368
      ],
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "EYHDNsSv530jAc06",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "8be00334-13c1-412a-9598-6198a9a5c9d8",
              "leftValue": "={{ $json.ready === true }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        3696,
        -368
      ],
      "id": "122547ad-fcd4-4753-8c66-c5ace30075e6",
      "name": "If"
    },
    {
      "parameters": {
        "jsCode": "const images = $input.all();\n\nconst allCompleted = images.every(img => img.json.status === 'completed');\n\nif (allCompleted) {\n  return [{ json: { ready: true, order_id: images[0].json.order_id } }];\n} else {\n  const pending = images.filter(i => i.json.status !== 'completed').length;\n  return [{ json: { ready: false, pending_count: pending } }];\n}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3520,
        -368
      ],
      "id": "b2f60533-ec68-4534-86a1-ee8c64efdae7",
      "name": "Check Images"
    },
    {
      "parameters": {
        "fromEmail": "taras.evermagic@gmail.com",
        "toEmail": "={{ $json.to }}",
        "subject": "={{ $json.subject }}",
        "html": "=Check order: {{ $('Fetch Order Payload').item.json.order_id }}, script: v{{ $('Fetch Approved Scripts').item.json.version }}",
        "options": {
          "appendAttribution": true
        }
      },
      "id": "81547198-9eae-4a9b-9ffc-52c742304065",
      "name": "Send Confirmation Email",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        3952,
        -352
      ],
      "webhookId": "ac54d5d3-cbd0-44cd-9965-5025ab854d5e",
      "credentials": {
        "smtp": {
          "id": "ymjQpdS5fXvpjwjN",
          "name": "SMTP account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Fetch Approved Scripts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Approved Scripts": {
      "main": [
        [
          {
            "node": "Fetch Order Payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Order Payload": {
      "main": [
        [
          {
            "node": "Fetch Existing Images",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse + Build Prompts": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save Images Prompts": {
      "main": [
        [
          {
            "node": "Fetch Face Photo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build OpenAI Request": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call OpenAI Image API": {
      "main": [
        [
          {
            "node": "Process Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "Fetch Existing Images to verify",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Call OpenAI Image API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Face Photo": {
      "main": [
        [
          {
            "node": "If Extra Photo Exist",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Face Extra Photo": {
      "main": [
        [
          {
            "node": "Build OpenAI Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process Response": {
      "main": [
        [
          {
            "node": "If Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Update DB - Image Completed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update DB - Image Completed": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update script status": {
      "main": [
        [
          {
            "node": "Update Order Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Extra Photo Exist": {
      "main": [
        [
          {
            "node": "Fetch Face Extra Photo",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Build OpenAI Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Success": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Update DB - Image Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update DB - Image Error": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Existing Images": {
      "main": [
        [
          {
            "node": "Parse + Build Prompts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Save Images Prompts",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Update Images Prompts",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Fetch Face Photo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Images Prompts": {
      "main": [
        [
          {
            "node": "Fetch Face Photo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Order Status": {
      "main": [
        [
          {
            "node": "Prompts Ready",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Existing Images to verify": {
      "main": [
        [
          {
            "node": "Check Images",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Update script status",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send Confirmation Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Images": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "1d09e253-7f58-4cbd-8312-b92d2608dfb3",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "ff6ac216908333ff4d020c1b631281d0de78b9818d2577a99ecce9f9d860dfe4"
  },
  "id": "N0Acec1peIL2JpLY",
  "tags": []
}